[2020-03-30 04:15] bilel-bj opened #1 "Implementation of Efficient-Net and Efficient-Det in Pytorch Lightning"
## 🚀 Feature
Implementation of Efficient-Net and Efficient-Det in Pytorch Lightning

### Motivation

These two algorithms are the state of the art in Image classification and Object detection. Providing an implementation in Pytorch LIghtning will attract many data scientist to adopt this promising framework

### Alternatives

https://paperswithcode.com/paper/efficientdet-scalable-and-efficient-obj

[2020-03-30 11:05] edgarriba commented on #1
when you say implementation means everything including the network from scratch, or just mixing lightning with e.g torchvision SOTA models ?

[2020-03-30 12:21] bilel-bj commented on #1
It is not actually provided in TorchVision. We can only find 8it in Torch Hub. It will be attractive that we find some easy way to use these algorithms in Lightning. Thanks for your support.

[2020-04-15 16:21] ethanwharris opened #2 "Fastprogress callback"
## 🚀 Feature
Copied from https://github.com/PyTorchLightning/pytorch-lightning/issues/1500 by @tcwalther

Use https://github.com/fastai/fastprogress instead of tqdm for displaying progress bars.

### Motivation

tqdm doesn't work well with Jupyter Lab. This creates issues with pytorch-lightning's progress bars, where each validation bar creates a newline in the cell output: #1399. This is a well-k

[2020-04-18 15:36] Borda opened #8 "Documentation theme"
## 🚀 Feature

Align documentation (template) with Pytorch-Lightning

### Additional context

use https://github.com/PyTorchLightning/lightning_sphinx_theme

[2020-04-18 15:38] Borda opened #9 "bolts as namespace package"
## 🚀 Feature

have you considered having bolts as namespace package?
https://packaging.python.org/guides/packaging-namespace-packages/

### Pitch

from the documentation I shared, I would say something like this
[code]
then I guess you could you use it as
[code]

### Alternatives

`plt_bolts`

[2020-04-18 21:05] #8 closed

[2020-04-20 13:38] williamFalcon opened #14 "Add image vision datasets as Base lightningModules"
Add the torchvision datasets including the standard transforms and splits as modules

[code]
[code]

[2020-04-20 13:40] williamFalcon commented on #14
@PyTorchLightning/core-contributors is this a good pattern?

[2020-04-20 14:31] williamFalcon commented on #14
i think it's any known research dataset (Norb, stl10, etc...), even esoteric ones. But not personal ones?

So, yes, curated by the community I guess

[2020-04-21 06:56] justusschock commented on #14
Even ones the user has to download by himself? You can't download all of them in a scripted way...

[2020-04-21 07:56] edgarriba commented on #14
I agree with @williamFalcon to only include curated datasets and potentially all from torchvision since it has a quite robust API. In case of missing ones, I think it's best to invest in contributing to torchvision instead of start creating custom stuff. For downloading, I would give the control to the user. Not all of the datasets in torchvision have really this option since in some of them you h

[2020-04-21 18:11] #9 closed

[2020-04-24 01:26] awaelchli commented on #2
Now that we have the progress bar as callback, we should be able to easily replace tqdm with fastprogress and provide an alternative callback.

[2020-04-24 01:40] williamFalcon commented on #2
but we don't want to add fastai as a dependency

[2020-04-26 16:05] williamFalcon opened #18 "Add adversarial autoencoders implementation"
https://github.com/podgorskiy/ALAE

[2020-04-26 16:06] williamFalcon opened #19 "Add AMDIM implementation"
https://github.com/Philip-Bachman/amdim-public

[2020-04-26 16:06] williamFalcon opened #20 "Add DLRM implementation"
https://github.com/facebookresearch/dlrm

[2020-04-26 16:07] williamFalcon opened #21 "Add detectron2 implementation"
https://github.com/facebookresearch/detectron2

[2020-04-27 07:29] justusschock commented on #21
This is a rather large repo. Maybe it would be best to also outsource this to a separate repo here? Especially since they also need to compile cpp stuff there. If we add this here, we probably also need to ship wheels for each torch version or always have compilation during install...

[2020-04-27 08:34] edgarriba commented on #21
notice that parts of the detectron is now split under torchvision to make it more flexible. Maybe its worth directly wrapping the needed things from torchvision.

[2020-04-27 14:29] williamFalcon opened #22 "Add yolo v3/4"
https://github.com/eriklindernoren/PyTorch-YOLOv3/issues/487
https://github.com/Tianxiaomo/pytorch-YOLOv4

[2020-04-27 15:42] iqDF commented on #1
Hi guys, is this still on? I can have a helping hand in starting the 6th of May.

[2020-04-27 15:45] justusschock commented on #1
I think so far, there is no-one working on this, so if you want to, we'd appreciate that :)

[2020-04-27 15:49] iqDF commented on #1
Will do that, but gimme some time. I'm on another finishing project. I'll let get back here asap I promise.

[2020-05-06 09:24] iqDF commented on #1
Hi, so regarding the migration from pytorch to pytorch lightning for Efficient Net:
https://paperswithcode.com/paper/efficientdet-scalable-and-efficient-object

Do you guys have any requirements or certain standard for the code? I recon that the work here is intended for example rather than solely for implementation so I think there is a need for self-documenting code that's easy to digest perhaps

[2020-05-15 05:47] justusschock commented on #1
@iqDF Sorry for the late reply. Of course you can ping  me whenever you need :) I recently get spammed with github notifications, so I mussed have missed this one :) As for documentation: Yes, a few doctest examples would be nice.

And for the hparams, just include a default that matches the hparams you used to achieve the reported results :)

[2020-05-18 19:04] williamFalcon opened #24 "Add SVM"
This one seems to be great:

https://github.com/mtrencseni/pytorch-playground/blob/master/03-svm/SVM%20with%20Pytorch.ipynb

[2020-05-18 20:46] williamFalcon opened #25 "Add VIBE"
https://github.com/mkocabas/VIBE

[2020-05-19 19:08] ReshinthAdith commented on #24
Assign me on this. I'll wrap this up.

[2020-05-28 02:09] tshrjn opened #30 "Using gpus gives error for BasicGAN"
## 🐛 Bug

Demo code below:
[code]

Running with GPUs from cli like: `python demo.py --gpus 1` gives the following error:

[code]

Looks like the labels [`y`] are not being sent to GPU/(`to_device()`).

### Environment

[code]

[2020-05-28 19:15] Borda commented on #1
@iqDF how is it going here?

[2020-05-28 19:17] Borda commented on #2
`fastprogress` is separate repo/package https://pypi.org/project/fastprogress

[2020-05-28 19:18] Borda commented on #14
the only limitations with `torchvision` is that they require latest `torch`

[2020-05-28 19:19] Borda commented on #21
yeah, we shall port just some models at the beginning...

[2020-05-29 05:49] justusschock commented on #14
Yes, but for most datasets also previous torchvision holds them. So you could introduce a min torchvision version to each of them and check these during init :)

[2020-05-29 16:43] iqDF commented on #1
@Borda Hi I almost thought this was abandoned due to delay inactivity in the forum. Anyway here is the progress:

1. Currently I have used several detection models (efficient det included) in pytorch  + lightning for my kaggle project.
2. The implementation needs to be tidy up. I use it for competition currently but tidying up should be quick, but I'll take my time for one week.
3. Performance wis

[2020-05-29 17:07] Borda commented on #1
everyone is busy, but seeing this landed would be great, I personally would love to try it...
if you start a draft PR we can help you with some work... :]

[2020-06-12 15:09] kylepula opened #35 "SimCLR doesn't seem to utilize GPU for forward/backward passes"
## 🐛 Bug

When running the pl_bolts simclr implementation on cifar10 and my own dataset, I see very low GPU utilization and only at the very beginning of the validation sanity check. After that, `nvidia-smi` reports that the job holds on to a bit of GPU memory but never shows GPU utilization above 0%.

There was also a missing import of `ArgumentParser` here https://github.com/PyTorchLightning/pyt

[2020-06-15 18:53] #30 closed

[2020-06-20 19:30] williamFalcon commented on #35
simclr is still in development! it should be using GPUs bc of lightning, but it might still need some work.

Welcome all PRs!

[2020-06-20 19:31] williamFalcon opened #41 "List all RL examples in docs"
@djbyrne

For each approach we need:

![image](https://user-images.githubusercontent.com/3640001/85210101-1d8ccb80-b30b-11ea-92c8-1ad28c9107aa.png)

[2020-06-20 19:33] williamFalcon opened #42 "Refactor each RL model to not use hparams"
@djbyrne

Goal is to allow each model to init like:

[code]

But some models might have required params (but most should have good defaults).

https://files.slack.com/files-pri/TR9DVT48M-F0164T0P03B/image.png

[2020-06-20 19:34] williamFalcon opened #43 "Add doc tests for each RL example:"
@djbyrne

[code]

[2020-06-20 19:38] williamFalcon opened #44 "Add RL tests"
@djbyrne
For each model, please add the following test:

[code]

[2020-06-23 01:23] awaelchli commented on #2
I played around a bit with fastprogress, and found some shortcomings.
1. It does not support infinite iterators (it needs to call len), which for us is not good because we support iterable datasets of arbitrary/variable/infinite length.
2. Does not properly display in PyCharm without going into settings and changing console behaviour.
3. Cannot set the total/iterator after initializing the progres

[2020-06-23 01:41] williamFalcon commented on #2
nice makes sense.

maybe we should look at extending tqdm to work well with notebooks?

[2020-06-25 07:25] djbyrne commented on #41
This should be completed with https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/57

[2020-06-25 07:26] djbyrne commented on #42
This should be completed here https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/56

[2020-06-25 07:27] djbyrne commented on #43
This should be completed with https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/56

[2020-06-25 07:28] djbyrne commented on #44
This can probably be closed as the RL module has  unit/integration tests included

[2020-06-27 13:42] #44 closed

[2020-06-27 13:42] #43 closed

[2020-06-27 13:42] #42 closed

[2020-06-27 13:42] #41 closed

[2020-06-27 14:27] djbyrne opened #87 "Validation epochs for RL models"
## 🚀 Feature
Currently there are only train and test functionality. The models should also have a validation run per pseudo epoch

### Motivation

The metrics are currently based on the moving avg training reward, but that doesn't show the true performance of the agent, especially in the case of the e-greedy agents.

### Pitch
Every 1000 training epochs (which is essentially a step with the iterab

[2020-06-27 14:30] djbyrne opened #88 "Multi Env Runs for RL models"
## 🚀 Feature
Carry out roll outs of environment steps across multiple environments instead of just one.

### Motivation

This will allow the value based agents to gather more IID experiences and increase the batch size, thus improving training time.

### Pitch
Each training step carries out a step in each environment in the environment pool. These experiences are added to a single buffer which the

[2020-06-28 03:37] williamFalcon commented on #19
done

[2020-06-28 03:37] #19 closed

[2020-06-28 03:38] williamFalcon commented on #14
these are added!

[2020-06-28 03:38] #14 closed

[2020-06-28 03:38] williamFalcon commented on #14
we need to evaluate direct support with PL after we test this for a bit

[2020-06-28 12:55] Oodapow opened #316 "Polyaxon Logger"
## 🚀 Feature
I would like to have a logger for the polyaxon platform. Similar to the way there is such a logger for MLFlow, WandB, tensorboard and such.

### Motivation

Polyaxon is a fast growing, large scale, open source ML platfrorm that I'v been using for a couple of months, it is similar to WandB but with a larger scope.

### Pitch

A new logger to be added that would let the user use polyaxo

[2020-07-09 06:14] OrthoDex commented on #22
Hello! I'd like to take this up!

[2020-07-10 18:13] ananyahjha93 opened #110 "Add DETR"
https://arxiv.org/pdf/2005.12872.pdf
https://github.com/facebookresearch/detr

[2020-07-10 18:19] ananyahjha93 commented on #22
@OrthoDex Have a go at it! We would welcome this contribution from your side. Do go through our contributing guidelines before you submit a PR. (https://pytorch-lightning.readthedocs.io/en/latest/CONTRIBUTING.html)

[2020-07-11 13:45] djbyrne opened #111 "Minimal Requirement Tests Hanging"
## 🐛 Bug
Tests run using the minimal requirements hang and are eventually canceled by CI. When run with latest requirements, test complete in ~5 minutes

Following behavior has been observed

- resnet128 gets stuck when run with all the tests, but not when you run pytest `test_resnet.py`
- `self_supervised` hangs both as a group test and single test
- gans fails when run with minimal requirements.

[2020-07-11 16:09] threefoldo commented on #22
I'm also interested. @OrthoDex Will you publish your code while it's incomplete?

Beside yolo, I also want to rewrite OCR models in lightning.

[2020-07-13 00:54] ananyahjha93 opened #114 "Add BYOL"
Bootstrap Your Own Latent: A New Approach to Self-Supervised Learning: https://arxiv.org/pdf/2006.07733.pdf

[2020-07-17 00:20] alejandrodumas opened #120 "Question regarding reproducibility of train, validation splits"
Are the train, validations splits of the dataset guaranteed? From what I see, if I'm not
missing something, randomness depends on [random_split](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/datamodules/mnist_datamodule.py#L99) that uses PyTorch `default_generator` if a new PyTorch version changes this, is it possible that 2 different versions of the MNISTDataMod

[2020-07-17 13:30] #111 closed

[2020-07-17 14:13] ananyahjha93 commented on #35
simclr_module.py requires the user to provide the --gpus flag with the command "python simclr_module.py --gpus 1" for now. We are looking into the issue to remove the confusion regarding the gpus flag.

[2020-07-17 16:38] ananyahjha93 commented on #120
@alejandrodumas hey, thanks for the question.

The main idea here is that the test set for these data modules are already separate. For datasets with an even distribution of examples across classes, having a random split for train-val should not matter. It also tests your model's generalization capabilities if you are training on separate train-val splits for different runs. You models should be a

[2020-07-17 18:23] alejandrodumas commented on #120
Thanks @ananyahjha93 for the clarification, I have one more doubt regarding this subject if you don't mind, if we read this [line](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/datamodules/mnist_datamodule.py#L77)  and compare it with [this](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/datamodules/mnist_datamodule.py#L99)  we c

[2020-07-21 06:04] ananyahjha93 commented on #120
@alejandrodumas looking into this!

[2020-07-21 06:05] ananyahjha93 opened #123 "Add SwAV"
1) https://arxiv.org/pdf/2006.09882.pdf
2) https://github.com/facebookresearch/swav

[2020-07-22 07:21] ananyahjha93 opened #124 "GPUs are not utilized in any self_supervised models without the --gpus flag"
## 🐛 Bug

Running something like CUDA_VISIBLE_DEVICES=0 python simclr_module.py allocates memory on the GPU but doesn't put any batches or forward/backward passes on it. Reported specifically for SimCLR in #35.

This issue also percolates to the current tests in 'tests/models/test_self_supervised.py' where tests are passed without ever running the model on GPUs. Test fix expected in #122.

### To

[2020-07-22 07:42] ananyahjha93 opened #125 "Using dp in SimCLR with --online_ft"
## 🐛 Bug

SimCLR module crashes when running with dp backend and --online_ft flag with an assertion error during validation sanity check.

![Screen Shot 2020-07-22 at 3 41 04 AM](https://user-images.githubusercontent.com/7491256/88148873-3ff55b80-cbcd-11ea-8764-4d45e7e990f2.png)

### To Reproduce

Steps to reproduce the behavior:

1. Run  python simclr_module.py --gpus 2 --distributed_backend dp -

[2020-07-22 20:30] ananyahjha93 commented on #35
Fixed in PR: https://github.com/PyTorchLightning/pytorch-lightning/pull/2674 of Lightning

[2020-07-22 20:30] ananyahjha93 commented on #124
Fixed in PR: https://github.com/PyTorchLightning/pytorch-lightning/pull/2674 of Lightning

[2020-07-24 10:05] #35 closed

[2020-07-24 10:05] #124 closed

[2020-07-27 17:43] edenlightning opened #128 "Allennlp Support"
This was originally discussed in https://github.com/PyTorchLightning/pytorch-lightning/issues/987, and @mikerossgithub tried to add this to PL in https://github.com/PyTorchLightning/pytorch-lightning/pull/1993, but since this depends on allennlp, this issue was transferred to Bolts here. (just for the record)

[2020-07-28 05:51] nateraw opened #129 "Use Pytorch Lightning's LightningDataModule"
## 🚀 Feature

Refactor to reflect the built-in `LightningDataModule` that has been implemented directly into lightning by removing the same code here and replacing with references to `pl.LightningDataModule`

### Motivation

Pytorch Lightning version 0.9.0 implements the `LightningDataModule` directly in lightning. We have no need for the bolts implementation once that version is released, so we s

[2020-07-28 06:27] nateraw commented on #120
@alejandrodumas The splits you linked to will be encouraged to be done in the datamodule's `setup` hook, similar to how you would do something like that in a `LightningModule`. This way you'd only make one call instead of two as you showed above. Great catch on that btw 😄 .

The `LightningDataModule` will come packaged directly with lightning in version 0.9.0 and will be removed from bolts. You ca

[2020-07-29 16:28] ananyahjha93 commented on #22
@OrthoDex any updates on this?

[2020-07-29 23:30] #129 closed

[2020-07-30 07:09] OrthoDex commented on #22
Hey @ananyahjha93, I'll aim to put up a PR sometime this weekend!

[2020-08-03 12:27] InCogNiTo124 opened #135 "Add Cityscapes DataModule"
## 🚀 Feature
A new DataModule lass for Cityscapes dataset

### Motivation

### Pitch

### Alternatives

### Additional context
As discussed [here](https://github.com/PyTorchLightning/pytorch-lightning/issues/2749)

[2020-08-03 12:30] InCogNiTo124 commented on #135
I haven't found any tests for specific datamodules, so this is mostly adapted from cifar10 datamodule.

[2020-08-03 14:58] williamFalcon commented on #120
@alejandrodumas , yes the random_split needs the generator arg to make it deterministic. I've updated those in bolts now. Otherwise you will have also trained on val data during training. Looks like pytorch 1.6 added that support.

[2020-08-03 18:13] nateraw opened #137 "Add install instructions/requirements.txt for test dependencies"
## 🚀 Feature

We don't have any instructions for installing dependencies needed to run local tests. Need to add them so it's easier to run local tests/set up development environment.

### Motivation

### Pitch

### Alternatives

### Additional context

[2020-08-04 01:41] williamFalcon opened #140 "add seed to random_split"
@nateraw

all the random_splits need to change to the seed:

## before
[code]

## now
[code]

[2020-08-04 17:36] vladisai commented on #114
Is anyone working on this at the moment?
I can help with this.

[2020-08-05 17:09] #114 closed

[2020-08-05 20:46] #140 closed

[2020-08-05 22:10] #135 closed

[2020-08-08 22:58] zlapp opened #152 "SimCLR Imagenet Results Reproduction"
Hi,

Firstly thank you for this very cool repository.
I would like to use your implementation of SimCLR to reproduce the Imagenet results.

I saw the following command in the implementation:
            # imagenet
            python simclr_module.py
                --gpus 8
                --dataset imagenet2012
                --data_dir /path/to/imagenet/
                --meta_dir /path/to/fold

[2020-08-09 19:23] ananyahjha93 commented on #152
@zlapp we are working on a version that replicates the paper results. However, the command mentioned above will not replicate imagenet results for simclr. You'll need a very large batch size (and hence more GPUs) to provide negative samples for the contrastive loss to work. This command is just an example of running SimCLR on other datasets, once we have verified the official results.

[2020-08-09 19:23] #152 closed

[2020-08-10 05:46] bhokaal opened #154 "For Pytorch 1.6 the LARS implementation seems incorrect?"
I tried using the LARS optimizer for SimCLR but the training was not giving desirable result. Looked into the code and observed in the line below-
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/dc3ac7c6221773749ab8cec538ece8e2b4381789/pl_bolts/optimizers/layer_adaptive_scaling.py#L114

we have add() vs. add_()?

Thanks

[2020-08-10 06:48] ananyahjha93 commented on #154
@bhokaal we are adding a new version for this pretty soon. We will be removing this implementation of LARS.

[2020-08-11 15:48] #88 closed

[2020-08-11 15:58] djbyrne opened #155 "Base Networks Module"
## 🚀 Feature
Have a series of base networks that are configurable in order to act as a base or backbone for other bolts models

### Motivation

Many models use a common CNN/RNN/MLP backbone which is then added to or built on top of. I think it would be really useful to have a common module containing base implementations of common models that are configurable and usable across a variety of models.

[2020-08-12 22:46] romesco commented on #22
@OrthoDex A group in my lab is about to start doing this. Would love to have your PR as a starting point instead of duplicating efforts =].

[2020-08-13 15:45] amitness opened #156 "Setting seed for SimCLR transforms"
Hi @williamFalcon,

Currently, the SimCLR implementation uses a set of transformations that are stochastic. Is there any way to set the seed so that subsequent experiments are reproducible?

I was using `overfit_batches=1` and `batch_size=2` to just make sure SimCLR overfits correctly. The batch has the same 2 images loaded, but on each epoch, the transformations applied is different.

[2020-08-13 16:49] amitness commented on #156
@williamFalcon
Also, here is a minimal code to reproduce it: The model doesn't overfit at all even on a single batch with just 2 images.

[code]

[2020-08-13 17:24] ananyahjha93 commented on #154
@bhokaal for now we are experimenting between:
1. https://github.com/kakaobrain/torchlars
2. LARC found in apex

you can start using one of those two in you experiments. I am updating the simclr branch as the we get results from different runs

[2020-08-13 17:40] ananyahjha93 commented on #155
@djbyrne this is a good idea, we are already using a common resnet for self-supervised learning tasks and then we have linear evaluators and projection heads shared over there.

[2020-08-15 15:11] ydcjeff commented on #1
@williamFalcon @Borda I would like to implement EfficientNet.
Do I just need to implement just model with nn.Module or full train/val/test loop with LightningModule (including DataModule)?

[2020-08-18 14:06] Kshitij09 commented on #2
Just want to share my experience:

I had tried to integrate it in the past and yes, it falls short for the points listed by @awaelchli

This looks like a good idea! all we need is the ability to print between the two progress bars. The master progress_bar will serve as a complete training progress (max=no. of epochs) and the child will serve the current epoch progress. Once we've the ability to wr

[2020-08-26 13:27] dedeswim opened #171 "batch_size for MNISTDataModule"
## 🚀 Feature
Add the `batch_size` parameter to the `MNISTDataModule` and `BinaryMNISTDataModule`.

### Motivation

When using the `MNISTDataModule` there is no way to set the batch size if it is used directly within PyTorch Lightning (i.e. as argument to `Trainer.fit` or as `_datamodule` field inside a `LightningModule`).

### Pitch

I would like to be able to set the batch size when initializing

[2020-08-27 11:19] sorenrasmussenai opened #172 "Add a license"
## 🚀 Feature
Choose a license and add it to the LICENSE file

### Motivation
Not having a license is bad for an open-source project, since your rights as a user or a contributor are unclear.
Strictly speaking, [the code cannot be used/modified/shared when there is no license](https://choosealicense.com/no-permission/).

[2020-08-28 14:45] tugot17 opened #174 "Add auto_scale_batch_size for DataModule"
## 🚀 Feature
Could you please add the `auto_scale_batch_size` functionality to the DataModule class. Currently when the data part is separated from the model it is impossible to set batch size to auto scale.

The following error is returned:

[code]

### Motivation
This functionality is very helpful in training the models and I guess moving what was already implemented to `DataModule`  would be fa

[2020-08-28 14:54] tugot17 commented on #174
Wrong project I guess, I close

[2020-08-28 14:54] #174 closed

[2020-08-31 14:17] sumanthratna opened #310 "visdom logger"
## 🚀 Feature
Comet, MLFlow, Neptune, TensorBoard, test-tube, WandB, and CSV are the supported loggers as of 08/31/2020. It would be great if Visdom was supported too.

### Motivation
just a matter of preference. one nice feature of visdom is that it allows users to organize views. Visdom also caches state.

### Pitch

an API that looks like the other loggers, but uses visdom instead

### Alternati

[2020-09-01 00:16] sachit-menon opened #175 "Linear classification performance on CIFAR10/STL10 DataModules drops from Lightning 0.8.5/Bolts 0.1.0 to Lightning 0.9.0/Bolts 0.1.1"
## 🐛 Bug

Linear classification performance on CIFAR10/STL10 Bolts DataModules drops from Lightning 0.8.5/Bolts 0.1.0 to Lightning 0.9.0/Bolts 0.1.1.

I know you do careful performance-matching testing for the different Lightning versions, so I thought I'd post this here too thinking it could be from something in the DataModules changing rather than Lightning. However, since switching Bolts versio

[2020-09-01 10:05] malik-ali opened #177 "VAE loss for non-binary images"
## 🐛 Bug

I think the VAE ELBO loss when training on imagenet or cifar10 should use `F.mse_loss` instead of `F.binary_cross_entropy`. The tensors for the target `x` right now contain values outside of `[0, 1]` which might not behave sensibly with BCE. For nonbinary images, the Gaussian posterior would imply MSE loss.

### To Reproduce
See here:
https://github.com/PyTorchLightning/pytorch-lightning

[2020-09-03 13:54] OlivierDehaene opened #178 "[Representation Learning] MoCo licensing issues"
## 📚 Documentation

MoCo is licensed under "Attribution-NonCommercial 4.0 International". There should be a mention somewhere that the pytorch-lightning-bolts modified versions is also non-commercial.

[2020-09-03 14:03] OlivierDehaene opened #179 "[BUG] SimCLR NT Xent loss does not take into account batches from other DDP processes"
## 🐛 Bug

In the NT Xent loss, `out_1` and `out_2` are not gathered over the whole DDP process group. This is a big issue as the loss is only classifying the correct pair over `local_batch_size*2` possible pairs instead of over `world_size*local_batch_size*2` possible pairs.

## Code Sample

See "Gather hidden1/hidden2 across replicas and create local labels." comment in original implementation:

[2020-09-03 20:01] edenlightning commented on #123
@ananyahjha93 can we close this?

[2020-09-04 15:33] #87 closed

[2020-09-04 22:28] dkmiller opened #180 "Add logger for Azure Machine Learning"
(Migrated over from [Add logger for Azure Machine Learning #3128](https://github.com/PyTorchLightning/pytorch-lightning/issues/3128).)

## 🚀 Feature

We already have PyTorch Lightning loggers for Comet, MLFlow, and Neptune. It would be great if we also had one for [Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/) (AML).

### Motivation

A data scientist hoping to u

[2020-09-05 01:15] yaminibansal opened #181 "Incorrect model link for CPCV2-resnet18?"
## 🐛 Bug

Following the docs https://pytorch-lightning-bolts.readthedocs.io/en/latest/self_supervised_models.html I was loading a pretrained ResNet-18 for CPCV2, but it seems that it returns a ResNet-101. Maybe the URL to the trained model is incorrect?

![Screen Shot 2020-09-04 at 9 09 09 PM](https://user-images.githubusercontent.com/8604826/92293618-efbf2800-eef2-11ea-9696-8f6292b202f7.png)

The

[2020-09-05 13:18] HenryJia opened #182 "Code duplication in vanilla policy gradients"
## 🐛 Bug

It seems like there's 2 near identical implementations of VPG
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/models/rl/reinforce_model.py
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/models/rl/vanilla_policy_gradient_model.py

[2020-09-05 19:41] HenryJia opened #185 "Optimise RL Code"
## 🚀 Feature
There seems to be fair few inefficiencies in the RL model code.

In both the VPG and DQN code, the network is computed twice, once to generate the trajectory and then once again in the loss function.

https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/datamodules/experience_source.py#L165

https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/m

[2020-09-05 19:44] HenryJia opened #186 "Add A2C, PPO and other modern standard RL Algorithms"
## 🚀 Feature
The RL section of bolts currently only includes variants of DQN and VPG and lacks some of the more modern RL algorithms. Adding PPO, A2C, curiosity exploration etc. might be prudent

[2020-09-06 17:42] notes-ml opened #188 "val_dataloader for MNIST, FashionMNIST, BinaryMNIST sets download=True"
## 🐛 Bug

`val_dataloader` for MNIST, FashionMNIST, BinaryMNIST sets `download=True` but `prepare_data` already downloaded them

### To Reproduce

Steps to reproduce the behavior:

Go to:
- [mnist_datamodule](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/5326c69065ee0c73aabc9d3f624f01e8fedc7307/pl_bolts/datamodules/mnist_datamodule.py#L113)
- [fashion_mnist_datamodule](https://g

[2020-09-07 10:30] koszpe opened #189 "Bootstrap instead of Bring"
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/5326c69065ee0c73aabc9d3f624f01e8fedc7307/pl_bolts/models/self_supervised/byol/byol_module.py#L26

Bring -> Bootstrap
and the link is broken, it contains an additional point as the last character

[2020-09-09 09:20] awaelchli opened #194 "Some callbacks for debugging and visualization"
## 🚀 Feature

Do you have interest in adding any of these callbacks here?
https://github.com/awaelchli/pytorch-lightning-snippets
Can also make an issue for each one, just wanted to know first if there is a desire for more callbacks in PL bolts?

[TrainingDataMonitor](https://github.com/awaelchli/pytorch-lightning-snippets#monitoring-training-data): logs histogram of what goes into training_step
[

[2020-09-09 13:26] #25 closed

[2020-09-09 13:26] #24 closed

[2020-09-09 13:26] #18 closed

[2020-09-09 13:26] #20 closed

[2020-09-10 21:25] williamFalcon opened #199 "Implement sentigan"
https://www.ijcai.org/Proceedings/2018/0618.pdf

[2020-09-10 22:19] nateraw opened #200 "Rethink usage pattern for pretrained models"
## 🚀 Feature

Switch to using `SomeModel.from_pretrained('pretrained-model-name')` for pretrained models.

### Motivation

Seems we are following torchvision's pattern of having a 'pretrained' argument in the init of our models to initialize a pretrained model. In my opinion, this is extremely confusing as it makes the other init args + kwargs ambiguous/useless.

### Pitch

add `.from_pretrained`

[2020-09-10 23:19] nateraw opened #201 "global string-to-class map for datamodules and models"
## 🚀 Feature

DMs and Models have associated `__name__` attribute...lets zip these up w/ their associated class objects so we can lookup a class based on its name.

### Motivation

I wanna say something along the lines of:

[code]

### Pitch

### Alternatives

### Additional context

[2020-09-11 01:27] williamFalcon commented on #200
yeah, agree... although this is basically just the same as load_from_checkpoint no? sounds like we're looking for checkpoint nicknames instead?

doesn't it read better as:

[code]

[2020-09-11 01:42] nateraw commented on #200
Right, I think the distinction here is that `load_from_checkpoint` is for checkpoints you have saved locally, but this function would be for pretrained models that we are hosting (i.e.[ these guys](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/850db3df9c6a2f0ae5afd32b921e046d556c54f6/pl_bolts/utils/pretrained_weights.py#L3-L11)).

So, yes! We are looking for something that can p

[2020-09-11 01:55] williamFalcon commented on #125
fixed

[2020-09-11 01:55] #125 closed

[2020-09-11 01:57] williamFalcon commented on #200
oh i see. it's an id not a dataset.
yeah that works.

for instance we can have many backbones with different datasets as well

[code]

[2020-09-11 02:30] nateraw commented on #194
These are 🔥 . Let's do it.

[2020-09-11 03:12] oke-aditya opened #203 "Re usable Components and CNN Trainer"
Hey all, I'm new to Bolts and a bit to lightning, but wokred with PyTorch. This project is super awesome, completely in snyc with my thoughts.

## 🚀 Feature

Torchivision supports lot of pre-trained CNN models. One of the common tasks in fine tuning these CNNs. (Transfer learning) This issue was open with lightning team as well I guess. Can we create a trainer for this purpose that allows easy fin

[2020-09-11 04:05] nateraw commented on #203
Yes! I believe this is exactly where we are tryin to go w/ things...

Model architectures that are dead simple to use and include options to:

- load pretrained weights we provide and use them for inference or finetuneing on your task
- load random weights + train yourself
- subclass + do whatever you want

This is not just limited to torchvision CNNs, but more general, I think. Torchvision stuff

[2020-09-11 04:28] nateraw commented on #180
Here's a really sketchy snippet from something I wrote on an older version of lightning...super hacky, but should get ya 80% of the way there. I moved away from AzureML as I found it too time consuming to develop on + their built in visualizations aren't so easy on the eyes.

Please submit a PR if ya clean er up and get it tested!

---

[code]

---

From there you can add it to the trainer. Howeve

[2020-09-11 04:30] nateraw commented on #180
Oops, of course now I see you provided a first go at this 😅 . Feel free to submit PR and tag me!

[2020-09-11 07:22] nateraw opened #207 "Decouple DataModules from Models"
## 🚀 Feature

Most of the models have 'datamodule' as an init arg and/or implement a 'default datamodule' and set that as a class attribute if datamodule is not passed on init.

This causes problems...
- it explicitly bakes in dataset specific stuff in the model (which kinda defeats the purpose of the datamodule)
- it forces the user to use a datamodule (not cool, dude!)

So, we need to go through

[2020-09-11 07:31] nateraw commented on #171
Done 😄 ...you got `num_workers` for free too!

[2020-09-11 07:31] #171 closed

[2020-09-11 07:46] nateraw opened #208 "Generic Main"
## 🚀 Feature

Once DMs have been decoupled from models (#207) + we have map of aliases-to-classes (#201), we can put together a `generic_main` function that'll work for 90% of the models in this repo.

### Motivation

- Makes running experiments really easy
- Allows us to parameterize tests super elegantly (1 test function to rule them all that is parameterized w/ pytest).

### Pitch

something al

[2020-09-11 13:32] Borda commented on #200
Yes, they are trained on a defined dataset, in this case, the dataset name serves just as Look-up-table to a specific path on PL side...

[2020-09-11 14:06] pbontrager commented on #179
I would like to second this. I was trying to see if this was happening in a hidden way, similarly to how sync_batch_norm is applied but I couldn't find it. I don't know if Pytorch Lightening has an idiomatic way to allow for this. Maybe it should expose its own allgather, broadcast, ...  commands that connect to whichever distributed backend?

[2020-09-11 14:18] hrnademi opened #210 "cannot import name 'torchvision_ssl_encoder'"
Hi
I just want to run following example, but I get this error "cannot import name 'torchvision_ssl_encoder'"

[code]

Is something wrong with pytorch-lightning-bolts?

[2020-09-11 15:41] oke-aditya commented on #203
K. As discussed. I will open PR soon once the proposal is fine.

Transfer learning involves fine-tuning + model unfreezing and a lot of other tweaks.

This issue is open with lightning core team [here](https://github.com/PyTorchLightning/pytorch-lightning/issues/2006).

Bolts primarily use fine-tuning models. E.g. Faster RCNN.

For CNN Fine-Tuning, we can provide something similar fine-tunable hea

[2020-09-11 17:31] oke-aditya opened #212 "Create a Contributing.md file"
## 🚀 Feature

Just a simple `.md` or `.rst` file which will help people to get going while contributing.

There are a lot of stuff which people keep stumbling, e.g. linting, docs, tests, CI, etc. which are not actually known at the time of PR for newcomers.

Also, we should have clarification about models since this repo is for models mainly

As discussed, what models should go in pl-bolts is also

[2020-09-12 19:25] ananyahjha93 commented on #200
@williamFalcon @Borda @nateraw I included this pattern in the latest AE, VAE commits to bolts. Few points that I realized:

1. We can shift the method ```from_pretrained()``` as a method to override in Lightning itself.
2. ```from_pretrained()``` needs to be an instance method and not a static method. In most cases, you will initialize the lightning module with specific params according the the we

[2020-09-13 09:12] ovshake opened #219 "CPCv2-Resnet18 pretrained not available"
Hi,
When I try to load a pretrained CPCv2-resnet18 model, I get an `urllib.error.HTTPError: HTTP Error 403: Forbidden` error. The code I use to load the pretrained model is
[code]
The following URL doesn't seem to open on my browser (Chrome) too.
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/32fb560a429532dfb40a5935ca7674990dae1f66/pl_bolts/utils/pretrained_weights.py#L6

Any he

[2020-09-13 15:56] ovshake commented on #181
Hi,
I am facing the same issue. Is there a fix?

[2020-09-14 03:06] akihironitta commented on #177
@malik-ali Each pixel in an image is usually in the range between 0 and 1, and I think it seems reasonable to use `F.binary_cross_entropy` as implemented here. However, sometimes we use the range -1 and 1 (or possibly other ranges) which can help learn faster and better, and I believe we cannot use `F.binary_cross_entropy` in this case because it can take logarithms of negative values.

In order t

[2020-09-14 04:25] akihironitta opened #224 "Pretrained AE `resnet50-imagenet` is unavailable"
## 🐛 Bug
I am following the example on [doc](https://pytorch-lightning-bolts.readthedocs.io/en/latest/autoencoders.html), and it seems there is not "resnet50-imagenet" pretrained model as I get the error shown below:
[code]

### To Reproduce
Minimal code to reproduce:
[code]

[2020-09-14 04:35] akihironitta commented on #224
Just created a PR #225 to fix the AE example as well as the VAE example.

[2020-09-14 09:06] Borda commented on #203
@teddykoker @justusschock this might be interesting for you...

[2020-09-14 13:52] DonkeyShot21 commented on #154
Any news on this?
I see a new [implementation](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/optimizers/lars_scheduling.py). Has it been tested?

[2020-09-14 15:48] alex5995 opened #227 "Use SimCLR with custom input resolution"
I tried using the SimCLR implementation with a custom dataset, but I had some troubles while changing the input resolution. In the examples, 32x32 images are used, but I wanted to use, e.g., 128x128 images.

To do this, I overwrote the SimCLR class as follows:

[code]

Then I had problems with the `GaussianBlur` class from `pl_bolts.models.self_supervised.simclr.simclr_transforms`. Indeed, if `ker

[2020-09-14 22:26] PetrochukM opened #229 "Add basic NLP models like text-classification or sequence-to-sequence."
## 🚀 Feature
Incorporate basic NLP models like text classification or sequence-to-sequence models.

Do I need to clarify further?

[2020-09-14 23:03] Borda commented on #229
mind have look at #128 #34

[2020-09-15 07:40] sorenrasmussenai commented on #172
Fixed by 710fbe6c369f783ce59016da37992a1b55ddd057

[2020-09-15 07:40] #172 closed

[2020-09-15 08:18] oke-aditya commented on #229
Yes, it would be great to extend support to NLP. We can probably add torchtext support as well.

torchtext is currently under revamp, the old data modules are getting deprecated and in October release we will have stable and good torchtext on which we can build pipelines.

Have a look [here](https://github.com/pytorch/text/releases).

[2020-09-15 13:19] #219 closed

[2020-09-15 22:25] nateraw commented on #229
I've been working on this. I think we want options for using both `torchtext` and HuggingFace `transformers`. So much research has gone towards transformers in NLP, so I want to support that...but we should also support torchtext stuff too.

I'm thinkin for torchtext, we use their data sources, for HuggingFace, we use their `datasets` library. That way we can install either version independently s

[2020-09-15 23:44] Borda opened #232 "re-enable sphinx doctests"
## 🐛 Bug

for some strange case, the build was failing with bad torch import (and there are no examples in docs)

### To Reproduce

Uncomment remaining
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/576804a280d663184151ce7c2853617022198549/.github/workflows/docs-check.yml#L23-L61

### Additional context

[2020-09-16 15:47] oke-aditya commented on #110
Hey, is this Issue valid now as well ?

I could get fine-tuning with PyTorch in [this](https://github.com/oke-aditya/pytorch_detr/tree/master/src) repo.

[2020-09-16 17:33] dandelin opened #235 "SiameseArm has no pooler"
## 🐛 Bug

[`SiameseArm`](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/models/self_supervised/byol/models.py#L22) has no pooler for the feature extracted from `self.encoder`.

It works fine for small enough images that yield 1x1 spatial resolution features, but `self.projector` will not be able to accept the `.view(#batch, -1)` sized features when the resolution

[2020-09-16 18:10] oke-aditya opened #237 "Support Segmenation models from torchvision"
## 🚀 Feature

Support for all torchvision models in Segmentation.

### Motivation

Essentially most used models, which people keep trying in every kaggle competitions etc. Already we have F-RCNN which is well implemented we can extend this further.

### Pitch

Create a segmentation folder which will have the following.
[code]
### Alternatives

None as of now, I guess this is easiest.

### Addition

[2020-09-16 22:49] #235 closed

[2020-09-17 12:42] shashank2000 opened #240 "Fixing import path in README"
`from pl_bolts.self_supervised import SimCLR` needs to be changed to `from pl_bolts.models.self_supervised import SimCLR`

[2020-09-17 13:10] #240 closed

[2020-09-17 15:20] #224 closed

[2020-09-18 17:35] ASaporta opened #243 "Add Grad-CAM implementation"
## 🚀 Feature
Implementation of Grad-CAM, probably as a vision callback.

### Motivation

[Grad-CAM](https://arxiv.org/pdf/1610.02391.pdf) is widely used localization method that uses the gradient information flowing into the last convolutional layer of a CNN to visualize the model's prediction by highlighting the "important" pixels in the image.

The technique does not require any modifications to

[2020-09-18 19:36] Borda commented on #212
for these cases we would like to authors contribute with their work, they may implemented as the stand also repo and optionally we could pull it into bolts

well these milestones are very needed (mostly they were sota in their time), on the other hand, they are usually already implemented in other libraries some we can just import them

We should stick with DataModule format, or make a common data

[2020-09-18 19:54] oke-aditya commented on #212
Results are hard to reproduce sometimes because some are in other frameworks such as tensorflow.

These need to be converted to torch and sometimes hyper parameters keep causing issues.

E.g. efficient net is very hard to replicate results in torch and it is difficult to port tf weights easily. But again this model is very popular.

I'm unsure how we go about these. For PyTorch based models we can

[2020-09-19 07:10] edgarriba commented on #243
@ASaporta in case this goes through, after a quick look at the code I see at least a couple of potential places where some utilities from kornia could be used here, `resize` and `normalize_min_max`

[2020-09-19 16:05] yaminibansal opened #244 "Citing this repository"
Is there a preferred way to cite this repository for research publications?

Thanks for all the hard work!

[2020-09-22 16:05] igormq opened #245 "pin_memory should be true only if gpus are specified"
Hey folks,

First of all, thank you for this amazing package. It has saved many hours of coding :)

I was using for the first time the pl data modules when I hit the following line
[cifar10_datamodule.py#L132](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/c2cdad7c12e4d33ed39db808879706c608c1c7/pl_bolts/datamodules/cifar10_datamodule.py#L132). The problem is: when I am training/e

[2020-09-22 17:38] oke-aditya commented on #212
As discussed over slack

1. Which are standard baselines
2. Results are reproduced properly either by us or by authors.
3. Top models which are not SOTA but highly cited for production usage / for other uses. (E.g. Moible BERT, MobileNets, FBNets).

And of course not reinvent the wheel, natively support torchvision, torchtext, torchaudio models

[2020-09-22 18:45] nateraw commented on #212
@oke-aditya you want to do it? can assign you. Should be nearly a copy paste from lightning's contributing.md file (unless you want to rewrite it better here 😉 ).

[2020-09-22 18:46] nateraw commented on #245
@igormq mind sending a PR? if not I can address this.

[2020-09-22 18:47] nateraw commented on #245
I think the main thing here is to just include the `pin_memory` flag in the datamodules. I think by default it makes sense to set it to True either way? please correct me if I'm wrong 😄

[2020-09-22 18:57] oke-aditya commented on #212
Yep! I can do this, I will need a review from all though at places 👍

[2020-09-23 18:50] igormq opened #249 "Where is the loggers.TrainsLogger?"
Hey folks, you removed the loggers from v.0.2.0 to v0.2.1 and migrate all loggers to the core. However, I couldn't find the TrainsLogger. What did happen?

Thanks!

[2020-09-23 19:38] oke-aditya commented on #212
@nateraw I cannot find contributing.md in the [lightning](https://github.com/PyTorchLightning/pytorch-lightning) repo!
Maybe I'm missing it somewhere.

[2020-09-23 21:34] Borda commented on #212
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/.github/CONTRIBUTING.md

[2020-09-25 06:12] oke-aditya opened #251 "Loss Functions for Common Tasks"
## 🚀 Feature
Frequently re-used losses that can be added to bolts.

### Motivation

Writing Losses is quite repetitive. PyTorch supports losses which are written with deep interoperability with C++ API. But most research losses aren't. Can these go to bolts/lightning (I feel it won't be good in lightning and better in bolts).

These losses are building blocks for other complicates losses as well.

[2020-09-25 11:04] Alokaado opened #252 "Little Bug in calculation of negative samples in nt_xent loss"
## 🐛 Bug

I think there is a error in the calculation of the [nt_xent loss](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/c60e142905cf44086d5c3e1ed844953730668f98/pl_bolts/losses/self_supervised_learning.py#L8) for self-supervised learning .

When calculating the indices of negative samples:

`mask = ~torch.eye(n_samples, device=sim.device).bool()`

the indices of positive sampl

[2020-09-26 18:47] oke-aditya opened #254 "Support torchaudio and audio models"
## 🚀 Feature
To provide support for audio models from torchaudio.

### Motivation

Definitely one of the most popular domains in deep learning is audio processing. This includes ASR (automatic speech recognition) Speech to Text and vice versa Text to speech.

### Pitch

Provide first-class support to torchaudio. There are currently 3 [models](https://github.com/pytorch/audio/tree/master/torchaudio

[2020-09-27 15:39] rohitgr7 commented on #251
I'll try to complete focal loss and smoothing loss this week #121

[2020-09-28 20:19] ananyahjha93 commented on #252
The denominator does contain the positive sample itself, so the calculation checks out to be fine. We do not work with log(pos/neg), but rather log(pos / (pos + sum over neg)). This is not a bug, but rather how the contrastive loss is designed.

[2020-09-28 20:21] #252 closed

[2020-09-28 20:24] ananyahjha93 commented on #252
@Alokaado if you would like to check out the calculation with a toy example, we explain it here: youtube.com/watch?v=_1eKr4rbgRI&ab_channel=PyTorchLightning

[2020-09-29 14:07] qbeer commented on #177
@akihironitta @malik-ali He could extend the class but indeed he is right. The `binary_cross_entropy` should only be used with binarized data, it is not right for CIFAR-10 or ImageNet data. It might explain why the examples look off in color in my opinion.

[2020-09-29 18:14] bmartinn commented on #249
@Borda could you help? I could not locate it either...

[2020-09-29 18:31] Borda commented on #249
@williamFalcon ^^

[2020-10-02 12:41] Kshitij09 commented on #243
How about integrating [captum](https://captum.ai/) for the same? They've wide range of interpretability alogorithms implemented with rigorous testing. We could simply write a Callback for captum and add 'captum' as explicit dependency, throwing exception at runtime. Captum also provides utility functions for visualization so it'll save a lot of efforts if we just use the library rather than re-inv

[2020-10-11 20:59] #120 closed

[2020-10-11 20:59] #137 closed

[2020-10-12 08:44] ndrplz opened #265 "NameError: name 'shuffle' is not defined"
## 🐛 Bug

### To Reproduce

Use `ImagenetDataModule` without having `scikit-learn` installed.

Inside `imagenet_dataset.py` there is the following try-except in the imports:
[code]
so the program flow continues although sklearn might not be available.

However, the `shuffle` is used in the `UnlabeledImagenet` constructor. So in case sklearn is actually missing, it will crash with the following tra

[2020-10-12 19:39] pavopax opened #269 "Can't reproduce logistic regression example."
## 🐛 Bug

I am unable to run the logistic regression example . At training, I get error which ends in:

[code]

Notably, I modified the example to not use TPUs.

Example code I follow is:

https://pytorch-lightning-bolts.readthedocs.io/en/latest/classic_ml.html#logistic-regression

### To Reproduce

I tried to reproduce this in both Colab and as a python script in a fresh virtual env.

Colab noteb

[2020-10-12 19:39] pavopax commented on #269
Suggested fix via https://github.com/PyTorchLightning/pytorch-lightning/issues/4007#issuecomment-706469175

[code]

[2020-10-12 19:39] pavopax commented on #269
Closes https://github.com/PyTorchLightning/pytorch-lightning/issues/4007

[2020-10-13 02:15] #156 closed

[2020-10-13 11:38] NumesSanguis commented on #249
Just ran into this issue. Upgraded my code for PyTorch Lightning 1.0.0rc4 and also updated Bolts to match it. Suddenly my code doesn't run because the Trains Logger is gone. I traced the relevant commit to this one: https://github.com/PyTorchLightning/pytorch-lightning-bolts/commit/91393eaa2751dc58c26cec6581aba19d63fa42f8

I hope that Lightining (Bolts) have plans for a more robust review processe

[2020-10-14 12:05] akihironitta commented on #269
@pavopax Thank you for reporting the issue in detail! Could you try updating bolts with `pip install pytorch-lightning-bolts --upgrade`? If you get an ImportError after updating, can you try `pip install pytorch-lightning-bolts["extra"]` to install relevant modules?

[2020-10-15 07:19] akihironitta commented on #265
@ndrplz Thank you for the investigation. I agree with you that the error message should be something like:
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/ccdc9f9952153abf9b12f00e05294fa332d5f424/pl_bolts/models/self_supervised/amdim/transforms.py#L36-L39

[2020-10-15 13:36] Borda opened #279 "add caching for used dataset"
## 🚀 Feature

atm for each CI run the datasets are downloaded (seems so as I observed som downloading failers)

### Motivation

Speed-up runs and avoids random connection failers

[2020-10-15 13:37] williamFalcon commented on #244
yup! at the bottom of the readme is the bibtex

[2020-10-15 13:37] #244 closed

[2020-10-15 13:37] #249 closed

[2020-10-15 13:39] Borda commented on #210
@hrnademi can you share the exact message and some more details about your local env?

[2020-10-15 13:39] Borda commented on #182
@HenryJia mind send a PR? :]

[2020-10-15 13:41] Borda commented on #189
@koszpe good catch, mind sending PR with a fix?
ref: https://arxiv.org/abs/2006.07733

[2020-10-15 13:42] Borda commented on #185
@djbyrne mind have look or work together? :]

[2020-10-15 13:43] Borda commented on #154
@ananyahjha93 ^^ ?

[2020-10-15 13:44] Borda commented on #175
@annikabrundyn mind have a look 🐰

[2020-10-15 13:47] williamFalcon commented on #178
Thanks for letting us know! We'll make that fix asap.

@ananyahjha93 FYI

[2020-10-15 15:57] MihaiAnca13 opened #280 "Shared replay buffer"
## 🚀 Feature
The RL implementations added do no have the num_workers option. I have a feeling this is because the code doesn't support a shared replay buffer.

### Motivation
Adding this would enable distributed training, which is very important in RL. Certain models wouldn't work at all without this (e.g.: A3C).

### Pitch
When num_workers args is specified and is greater than 1, the replay buffe

[2020-10-15 17:05] williamFalcon commented on #249
The Trains logger was moved to bolts a long time ago. the code is still available there. We needed to stabilize 1.0.0 and trains was causing a lot of issues on our build.

Please open the issue there so we can take a look at it

[2020-10-15 17:18] Ingwar commented on #249
@williamFalcon , sorry, I'm confused here. As far as I understand, this is an issue about disappearance of Trains logger from bolts, not from the main lightning. So, it's **unavailable** in the latest release of pytorch-lightning-bolts and it's unclear, was it a mistake or a deliberate decision. Could you, please, shed a bit of light on it ? :)

[2020-10-15 18:47] #178 closed

[2020-10-15 20:28] ananyahjha93 commented on #175
The reason there is a decline in performance of the linear classifier is that DataModules were initially mixing training and validation sets. Now we have made sure that we pass a fixed random seed to the random_split function in the datamodules.

[2020-10-15 20:42] ananyahjha93 commented on #227
We'll update the class to take care of odd kernel sizes.

[2020-10-15 22:19] edenlightning commented on #249
As communicated offline, we are moving some support outside of the repository, but hope to resolve this very soon!

[2020-10-15 22:39] bmartinn commented on #249
@williamFalcon

Okay, I will PR the TrainsLogger in the main repo, back with the other loggers. It seems 'bolts' is now more of a recipe-book for  SOTA models, which definitely is not the right place for loggers to be.

[2020-10-15 22:45] williamFalcon commented on #249
@bmartinn, as @edenlightning mentioned, we are not looking to add loggers back into the main lightning repo because of the maintenance cost on our end. We think it would be great for you to add that integration on your end. @edenlightning  can talk you through the details of what that looks like.

looking forward to making sure your users have a good experience!

[2020-10-15 23:58] annikabrundyn commented on #175
@ananyahjha93 thanks for clearing this up - that makes a lot of sense. I'm going to close the issue then 👍

[2020-10-15 23:58] #175 closed

[2020-10-16 00:11] annikabrundyn commented on #269
Hi @pavopax! Agreed, thanks for explaining the issue in detail! Could you install the latest version of lightning and bolts and try again as @akihironitta mentioned above? I've pasted your code into a [new colab notebook](https://colab.research.google.com/drive/1etIU7lDumJ9zSBAjIbvq_L9TbMeyrjz3?usp=sharing) and it's running fine so I'm not able to reproduce the error. I'm closing the issue but let

[2020-10-16 00:11] #269 closed

[2020-10-16 23:20] pavopax commented on #269
I confirm the issue is now resolved. Thanks for a fast and awesome issue resolution experience 💯 🙌

[2020-10-17 11:13] alyashgo opened #326 "Unable to Train SimCLR using TPU on Colab(times out/crashes)"
## 🐛 Bug

While training SimCLR on colab, TPU seems to time out/crash.
Tried training on CIFAR10 and a custom dataset(1000 images) as well.

### To Reproduce
See this colab Notebook : [https://colab.research.google.com/drive/1Qyk8pNq4q5i6IOLIk6s1S52MXVE_S7c4?authuser=1#scrollTo=blu3oLGEMw14]( https://colab.research.google.com/drive/1Qyk8pNq4q5i6IOLIk6s1S52MXVE_S7c4?authuser=1#scrollTo=blu3oLGEMw14

[2020-10-17 20:15] oke-aditya commented on #203
Hello guys, sorry for the extreme delay. I have started the implementation into this.
For the initial prototype. I'm trying to get it working in the above repository.

I will raise a PR soon on bolts once I get it working in above repo.
(I have to do some prototyping and improve my code)

[2020-10-19 07:32] justusschock commented on #203
@oke-aditya please slow down a bit :D
we're not yet sure, how/whether this shall be included to bolts at all, so we don't want anybody to put some effort to this, when this may be discarded later on.

[2020-10-19 07:34] oke-aditya commented on #203
Okay, @justusschock 👍 Let's keep this PR on standby.

[2020-10-20 09:50] akihironitta commented on #265
@ndrplz Thank you for reporting the issue in detail! I agree that there should be something like `ModuleNotFoundError` to inform users of required modules e.g. `sklearn`.

@Borda What do you think? Can I submit a PR to fix this?

[2020-10-20 14:01] vobecant opened #291 "GAN example not working"
## 🐛 Bug

The GAN example for MNIST doesn't work as advised in the script basic_gan_module.py https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/models/gans/basic/basic_gan_module.py

### To Reproduce

Steps to reproduce the behavior:

To reproduce the issue just run https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/models/gans/basic/bas

[2020-10-21 21:37] #155 closed

[2020-10-22 07:39] alyashgo opened #294 "Add custom encoder support for SimCLR"
## 🚀 Feature
Right now the SimCLR module uses the vanilla resnet50 as encoder with the first conv block replaced assuming image size to be 32. See below
[code]
### Motivation
Adding encoder as an argument in the init method would allow seamless ablation studies by trying out different architectures. Making the replacement of first conv block conditional on the image size will prevent unnecessary c

[2020-10-22 10:49] pawelkobojek opened #295 "Cityscapes DataModule does not work due to wrong usage of torchvision.datasets.cityscapes.Cityscapes"
## 🐛 Bug

CityScapes DataModule does not work at all. It seems to be related to wrong usage of the underlying `torchvision.datasets.cityscapes.Cityscapes` api.

### To Reproduce

Please see the code sample to reproduce. It throws an error: `TypeError: __init__() got an unexpected keyword argument 'train'`

#### Code sample

[code]

### Expected behavior

No crash and first batch returned.
### Envi

[2020-10-22 17:35] #212 closed

[2020-10-22 20:00] akihironitta opened #298 "docs: Add Bolts logo"
## 🚀 Feature
Not a strong opinion, but I would like to suggest a change to the logo image located at the top left in https://pytorch-lightning-bolts.readthedocs.io/en/. Currently, both `pytorch-lightning` and `pytorch-lightning-bolts` docs use the same logo image, and I personally think that makes it somewhat confusing. It would be much easier to distinguish them if the `pytorch-lightning-bolts` l

[2020-10-22 21:38] #265 closed

[2020-10-22 23:56] akihironitta commented on #291
@vobecant Thank you for submitting the issue! Would it be possible to share the error message with us?

[2020-10-23 03:48] rschwarz15 opened #301 "CPCV2 Implementation Clarification"
## ❓ Questions and Help

#### What is your question?
Can I get a clarification on the implementation of CPCV2.

In the paper they implement predictions in four directions as well as patch based augmentation. From what I can see from reading through the code, the predictions are in one direction and the augmentation is performed on the entire image prior to creating the grid of patches.

Am I corre

[2020-10-23 11:30] vobecant commented on #291
Traceback (most recent call last):
  File "basic_gan_module.py", line 203, in <module>
    dm, model, trainer = cli_main()
  File "basic_gan_module.py", line 172, in cli_main
    from pl_bolts.datamodules import CIFAR10DataModule, ImagenetDataModule, MNISTDataModule, STL10DataModule
ImportError: cannot import name 'ImagenetDataModule' from 'pl_bolts.datamodules' (/home/vobecant/miniconda3/envs/pyt

[2020-10-23 13:07] akihironitta commented on #291
@vobecant Thank you for sharing the error message! I'll have a look at it.

[2020-10-24 00:48] mshalvagal opened #304 "Make pl_bolts.utils.semi_supervised.Identity argument-insensitive"
## 🐛 Bug

### To Reproduce

Fairly simple issue (code-sample given).

The desired behaviour of the Identity module is to act as a placeholder for any module anywhere, regardless of incoming arguments as originally implemented in torch.nn (https://pytorch.org/docs/stable/generated/torch.nn.Identity.html).
I'm proposing to either have the same behaviour here as well, or just inherit nn.Identity for

[2020-10-24 03:27] akihironitta commented on #291
@vobecant Currently, we have a problem in `pl_bolts/datamodules/__init__.py`, and the error occurs as you described. An easiest workaround would be to modify `cli_main()` function defined in `pl_bolts/models/gans/basic/basic_gan_module.py`.

Specifically, would you mind changing
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/f0939f62a5559a9a68cbb60ab8cbddac8c42cb05/pl_bolts/model

[2020-10-24 04:12] akihironitta commented on #291
@vobecant It looks the problem in `pl_bolts/datamodules/__init__.py` has been solved in #303, so would you just update to the current master branch, and retry?

[2020-10-24 16:33] akihironitta opened #306 "docs: Fix URI links to classes defined in `pytorch_lightning`"
## 📚 Documentation
In docs, there are URIs referring to base classes for each class defined in bolts. However, links to `pytorch_lightning` are not properly rendered while links to `torch` are perfectly rendered.

### Example
https://pytorch-lightning-bolts.readthedocs.io/en/latest/datasets.html#dummydataset
![20201025-011752](https://user-images.githubusercontent.com/20610905/97086703-f9961980-16

[2020-10-25 15:20] ydcjeff commented on #306
@akihironitta Thank you for finding out. Actually It worked! You can see in the bolts callbacks docs.
But it won't for `LightningDataModule` as there is no `LightningDataModule` API docs in Lightning.
But there is a PR doing that https://github.com/PyTorchLightning/pytorch-lightning/pull/3950

So, could you try to send a PR for that?

[2020-10-25 16:30] akihironitta commented on #306
@ydcjeff Thank you for the response.

That's why I thought it didn't work! I'll submit a PR in no time :]

[2020-10-25 16:54] #306 closed

[2020-10-25 17:05] FrankXinqi opened #309 "How to use SSLOnlineEvaluator callback"
## ❓ Questions and Help

### Before asking:
Lightning Forum Posted Question: https://forums.pytorchlightning.ai/t/how-to-use-sslonlineevaluator/309
#### What is your question?
I study the code provided here SSL SimCLR on colab, and implemented a similar code.

I have modified the datamodule to load mine, and I can run the code. However, if I use SSLOnlineEvaluator. I cannot make it work. If I spec

[2020-10-25 17:54] awaelchli commented on #309
I believe this PR #277 fixed this

[2020-10-25 21:58] awaelchli commented on #310
Is it still maintained?

[2020-10-25 22:13] sumanthratna commented on #310
Hmmm...looks like they're looking for someone to take on the project as a maintainer: https://github.com/facebookresearch/visdom/issues/753. I think PTL Bolts should probably wait for a month or two and see if anyone volunteers to maintain visdom

[2020-10-26 01:44] FrankXinqi commented on #309
Cool. I see that an 'output' arg was added. I will install the latest version from GitHub.

Just an offset question: If I do not want to install the blots package again by
`pip install git+https://github.com/PytorchLightning/pytorch-lightning-bolts.git@master --upgrade`, instead I download the package from GitHub, put it in my project folder, and just call any function by its relative path. Would

[2020-10-26 02:02] awaelchli commented on #309
I never tried that but you should be able to make it work. You probably have to add it to the python path or similar to have the imports working.
We don't recommend this, because you won't get any updates and have to manually repeat the process if you need to get  new version.

[2020-10-26 02:12] FrankXinqi commented on #309
Cool. There is a new bug, when I upgrade to the master version.

The output information
[code]

This bug only happens if I add callback. I works fine for a few time(not sure if it is step, iterations ...), but then it gives input.shape=32,100352, weight.t().shape=8192,1024.

[2020-10-26 02:17] FrankXinqi commented on #227
I cannot make GaussianBlur work on my datast either. Looking forward for an update, or point out some ideas to change.

Currently, I comment the GaussianBlur transformation.

[2020-10-26 02:22] FrankXinqi commented on #298
A good point. I was confused about the jump between different docs content, but did not figure out the reason.
Now, I see one doc for pl, and one for pl-blots.

[2020-10-26 02:29] FrankXinqi commented on #309
The above mentioned issue is with my customed datamodule. Here is a different issue with official CIFAR10.

The issue seems to relate with CUDA, not sure if the problem is on my side.  Just to make it clear, all codes run well with out callbacks passed in.

[code]

[2020-10-26 08:03] alex5995 commented on #227
Have you tried with my solution? You should add 1 to the kernel size if it is even, as shown in the second snippet of code.

PS: I figured out that I wrote "odd" in the issue, but the cv2.GaussianBlur function does not work with even kernel sizes. Anyway the snippet of code is correct. I only made a mistake while writing the issue.

[2020-10-26 22:41] bmartinn commented on #249
Well guys I come bearing good news :D
@williamFalcon forgot to mention that starting PL v1.0 all logs are automatically logged by default to Tensorboard.
Now since `train` automagically connects with TB (as well as other frameworks) , it means there is no need for any specific logger whatsoever.

Just create a `trains` Task and you are good to go:
[code]

For example, I took the [mnist](https://gi

[2020-10-27 02:40] NumesSanguis commented on #249
@bmartinn Thanks for the update! Does `trains==0.16.3rc0` work with Trains Server v0.16.1?

[2020-10-27 11:32] zhutmost opened #312 "random_split looks that it cannot generate label-balanced sub-datasets"
## 🐛 Bug

The pytorch-bultin function `torch.utils.data.random_split` is used in multiple `DataModule`s. However, this function implementation is not correct, and it cannot generate label-balanced sub-datasets.

### To Reproduce

Steps to reproduce the behavior:

run the following code:
[code]
and it will output:
[code]

### Expected behavior

We want a label-balanced output. That is to say, every

[2020-10-27 11:35] zhutmost commented on #312
The bug of random_split has been discussed many times in the community. A better implementation is `sklearn.model_selection.train_test_split`:

[code]

[2020-10-27 17:01] edenlightning opened #313 "Upgrade bolts to Lightning 1.0.3"

[2020-10-27 17:11] bmartinn commented on #249
@NumesSanguis `trains` will support any combination of python package and `trains-server` , otherwise how could you reproduce old experiments :)
BTW: There is nothing special in version `0.16.3rc0` it is just the latest one, so I tested it with it. Any `trains` version should basically work the same way :smiley:

[2020-10-27 17:27] edenlightning opened #314 "Add text tasks to bolts"

[2020-10-29 11:42] Haydnspass opened #318 "SIMClr does not respect number of workers"
## 🐛 Bug
The SIMClr example does not respect the number of workers or at least not as expected.

I suspect that this is due to the changed behaviour of pytorch 1.7 where the default num_threads is #physical processors whereas pytorch 1.6 had a default of 1.

The actual number of cores being used in this notebook is num_threads * num_workers, while this might be technically true it is highly unexpe

[2020-10-29 22:04] jefflai108 opened #320 "nt_xent_loss numerical instability"
### Issue
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/e6b10875d59a39a4dcf382d3a599528a40ba088c/pl_bolts/losses/self_supervised_learning.py#L17-L24

I am experimenting with the SimCLR framework for audio data, and I found that in the objective function, exponential operation on the negative and positive samples may induce numerical instability i.e. loss becomes nan. I think thi

[2020-10-30 13:25] koszpe commented on #189
It's already done with this PR:
https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/220

[2020-10-30 13:25] #189 closed

[2020-10-30 16:25] koszpe opened #322 "SimCLR ImageNet resolution 196 instead of 224"
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/5326c69065ee0c73aabc9d3f624f01e8fedc7307/pl_bolts/models/self_supervised/simclr/simclr_module.py#L245

In the paper they mention random crop and resize to 224x224 (Appendix A). What's the reason of using 196x196 here?

[2020-10-30 18:29] vobecant opened #327 "SimCLR gather in forward pass"
## 🚀 Feature
Hi,
I would like to ask whether the PL implementation of SimCLR method performs gather in the forward pass as they do it in the official implementation https://github.com/google-research/simclr/blob/036ea7baa3eeb255c88a08392fcdc1d55bb8133f/objective.py#L59. Or is it unnecessary and is it done somehow under the hood?

### Motivation

Possible mismatch between official and PL implementa

[2020-10-30 20:09] hecoding commented on #171
Hi, it's not actually working. Still taking `batch_size` from the method parameter.
I could make a silly PR if anyone interested.

[2020-11-02 11:49] #123 closed

[2020-11-02 11:50] ananyahjha93 commented on #154
yes the current LARS implementation works fine in the tests we have run.

[2020-11-02 11:50] #154 closed

[2020-11-02 12:19] ananyahjha93 commented on #291
like @akihironitta mentioned, this was due to the datamodules issue which has been fixed now.

[2020-11-02 12:19] #291 closed

[2020-11-02 13:23] #188 closed

[2020-11-02 13:39] ananyahjha93 commented on #327
same as #179

[2020-11-02 13:46] miccio-dk opened #328 "On the VAE model, `kl_coeff` is never applied in the loss function"
## 🐛 Bug
The VAE model contained here takes an optional `kl_coeff` parameter that's supposed to be a scaling factor for the KL term of the variational loss. This might be useful to avoid the ["posterior collapse phenomenon"](https://datascience.stackexchange.com/questions/48962/what-is-posterior-collapse-phenomenon). However, while inspecting the codebase (i.e. [here](https://github.com/PyTorchLig

[2020-11-02 13:51] akihironitta commented on #328
@miccio-dk Thanks for reporting the issue! Good catch. `kl_coeff` is actually never used. Would you be interested in submitting a PR to fix this?

[2020-11-02 14:37] ananyahjha93 commented on #210
@hrnademi
I think torchvision_ssl_encoder is an internal function and thus hasn't been exported in utils/__init__.py. You can use the docs here: https://pytorch-lightning-bolts.readthedocs.io/en/latest/self_supervised_models.html to import the available pre-trained self-supervised learning models present.

[2020-11-02 14:40] miccio-dk commented on #328
Absolutely! I suppose i just have to multiply it with `kl` in https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py#L131.
I'll also remove the kl_coeff argument from the basic autoencoder, where it was probably added by mistake. :)

[2020-11-02 14:43] ananyahjha93 commented on #328
@miccio-dk yes! these 2 things should be enough for the PR. Thanks!

[2020-11-02 14:43] akihironitta commented on #328
@miccio-dk Sounds nice! Thanks :]

[2020-11-02 14:48] ananyahjha93 commented on #301
@williamFalcon I think you might be able to answer this better.

[2020-11-02 14:50] ananyahjha93 commented on #177
@malik-ali @qbeer this has been fixed.

[2020-11-02 14:50] #177 closed

[2020-11-02 15:01] miccio-dk commented on #328
Aaaaand here it is!

[2020-11-02 17:50] #328 closed

[2020-11-03 15:17] ananyahjha93 commented on #310
Without any active support for visdom, we don't have any plans of supporting it for now. If it does become active again, we can think about it. Closing it for now, let's open this if visdom has some movement.

[2020-11-03 15:17] #310 closed

[2020-11-03 15:31] hecoding commented on #171
Well I was the one interested :)
Changes are in the PR above ^

[2020-11-04 15:17] hecoding opened #334 "Several datamodules ignoring batch_size"
## 🐛 Bug

Realized `MNISTDataModule` was ignoring `batch_size` parameter. I found a closed issue (#171) referring to that without a fix.

While fixing it myself (PR #331), I found more datamodules had this problem too - `MNISTDataModule`, `BinaryMNISTDataModule`, `FashionMNISTDataModule`, `SklearnDataModule`, `SSLImagenetDataModule`.

I could take care of that. My question is, is this signature fr

[2020-11-04 18:21] ananyahjha93 opened #336 "add a list of papers implemented in bolts in the README"
## 📚 Documentation

[2020-11-04 18:31] ananyahjha93 commented on #334
@hecoding send in the PR.

the signature is ``def train_dataloader(self):``. The datamodule class init should take the batch size params and not the ``train_dataloader``.

[2020-11-04 22:19] #295 closed

[2020-11-05 01:09] akihironitta opened #337 "Refactor `pl_bolts/datamodules`"
## 🚀 Refactoring
Currently, there are `try: ... except: ...` in `pl_bolts/datamodules/__init__.py` which were added in #303, and it is not clean in my humble opinion.

In order to make `__init__.py` clean and keep the behaviour, the following steps are needed:
1. Remove `try: ... except: ...` in `__init__.py`.
2. Rewrite optional imports (`torchvision`, `sklearn`, `gym`...) in `pl_bolts/datamodule

[2020-11-05 11:08] ananyahjha93 commented on #337
@akihironitta I think this would be a good enhancement. Go for it, send in the PR.

[2020-11-05 11:39] Borda commented on #337
cc: @awaelchli

[2020-11-05 14:59] hecoding commented on #334
Cool, I fixed the signatures too. Please @ananyahjha93 have a look at the PR here #331
Should I assign somebody for review myself? I'm a bit lost on that.

[2020-11-05 15:02] hecoding commented on #334
I can fix the rest of the data modules listed too. Let me know.

[2020-11-06 02:00] akihironitta opened #339 "docs: Add datasets"
## 📚 Documentation
Add docs for datasets other than dummy ones. There are various datasets defined in `pl_bolts/datasets/`, the current docs only covers dummy datasets. https://pytorch-lightning-bolts.readthedocs.io/en/latest/datasets.html

I'd be happy to contribute to this one as well. Let me know if the change seems reasonable :]

[2020-11-06 03:09] oke-aditya opened #340 "Enhancing Object Detection"
## 🚀 Feature

As discussed. The following can be added.

F1. Support for backbones with FPNs. There is torchvision `resnet_fpn_support` which we can use directly.
F2. Support for Non FPN backbones. I have a hacky way to do this which won't support `trainable_backbone_layers_parameter`

### Motivation

1. Orignally FRCNN Did not have FPN. It used VGG Backbone. So probably for legacy purposes we can

[2020-11-06 12:50] #334 closed

[2020-11-06 13:32] #279 closed

[2020-11-06 16:19] Borda commented on #203
@teddykoker mind have a look... 🐰

[2020-11-06 18:11] ananyahjha93 commented on #181
The docs wrongly mention resnet-18, we have weights for resnet-101 mentioned in the docs for STL-10 and CIFAR10 at the moment. I'll update the docs to avoid this confusion.

[2020-11-07 17:37] vobecant opened #345 "SSL ImageNet DM not working in MoCo example"
## 🐛 Bug

SSL ImageNet datamodule is not working in MoCo example.

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'pl_bolts/models/self_supervised/moco'
2. Run
`python moco2_module.py --gpus 1 --dataset imagenet2012 --data_dir /nfs/datasets/imagenet/imagenet12/ --meta_dir /nfs/datasets/imagenet/imagenet12/ --batch_size 32`
3. See error
`TypeError: val_dataloader() missing 1 required

[2020-11-08 07:21] briankosw commented on #245
@nateraw I think even beyond the `pin_memory` flag, some other flags should also be included such as the `shuffle` and `drop_last` flag. What do you think? I can work on a pull request for updating the flags in the datamodules.

[2020-11-09 04:09] akihironitta opened #346 "Import optional packages in a nicer way"
## 🚀 Feature
I would like to suggest to implement a context manager class in order to handle optional imports better. With the context manager implemented, importing optional packages and deferring raising `ModuleNotFoundError` will look like:
[code]

### Motivation
The suggested context manager reduces duplicate information in the codebase. Currently, there are redundant lines such as `try: ... e

[2020-11-09 16:47] #232 closed

[2020-11-09 21:42] Borda commented on #313
We are already testing against the latest PL version so what is the point here?
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/.github/workflows/ci_test-full.yml#L21

[2020-11-09 21:43] Borda commented on #280
@MihaiAnca13 good point, mind sending a PR?

[2020-11-09 21:51] Borda commented on #210
I can confirm this issue on master
[code]
seems like we have cyclic import somewhere...

[2020-11-09 22:01] Borda commented on #181
@ananyahjha93 is this fixed or @yaminibansal mind send a fix PR?

[2020-11-09 22:37] Borda commented on #346
I would agree with the first usage example, define `_TORCHVISION_AVAILABLE` in relevant upper level init or even in `pl_bolts.__init__` but then we do not need to define extra Contex class, then the limiting importing is handled inside
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/f00e85dd204fa2434c47d9ae20614b0a2baeb1f0/pl_bolts/utils/warnings.py#L7
but looking at it again, it

[2020-11-09 23:32] #210 closed

[2020-11-10 08:11] Borda opened #351 "update chnagelog"
## 📚 Documentation

Let's keep changelog at least in the basic outlines - list added features like RL package or breaking changes. We do not need to be as detail as PT but keeping some overview would be nice, then we can also include it in [docs as PL](https://pytorch-lightning.readthedocs.io/en/stable/CHANGELOG.html)

[2020-11-10 16:56] MihaiAnca13 commented on #280
@Borda thanks for your reply. Can you please have a quick look at the SharedReplayBuffer I've added? I'm not sure what I should do/add next to make this useful.

[2020-11-10 20:52] simeneide opened #353 "Trying to simply download mnist and train. getting RuntimeError: Dataset not found. You can use download=True to download it"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?
Tried to get a simple mnist example working from bolts and lightning, but ended up in this error. It seems like the data are downloaded correctly the first time but that the files are in wrong format or similar. All fixes Ive seen seem very complex for such a "simple" task to be runni

[2020-11-10 21:38] RudyVenguswamy opened #354 "Closure Argument in Step Method - SimCLR"
**Context:** We’re a team trying to build a reverse image searcher for satellite data. Currently, we’re using the UC Merced land use dataset (linked in notebook below) to train a self-supervised learner and evaluate it using the labels provided with the dataset.

**Issue:** Using the pip installable version of pytorch-lightning-bolts, it seems SimCLR errors out with "TypeError: step() got an unexp

[2020-11-10 21:38] RudyVenguswamy opened #355 "Batch Size & CUDA Out of Memory Error for Custom Dataset - SimCLR"
**Context:** We’re a team trying to build a reverse image searcher for satellite data. Currently, we’re using the UC Merced land use dataset (linked in notebook below) to train a self-supervised learner and evaluate it using the labels provided with the dataset.

**Issue:** Batch sizes when training SimCLR cannot be above 16 without causing a CUDA OOM error. This occurs on Colab T4 GPU and locally

[2020-11-10 21:38] RudyVenguswamy opened #356 "High Accuracy without Training on GPU, Lower accuracy after training"
**Context:** We’re a team trying to build a reverse image searcher for satellite data. Currently, we’re using the UC Merced land use dataset (linked in notebook below) to train a self-supervised learner and evaluate it using the labels provided with the dataset.

**Issue:** We use the embeddings from SimCLR’s encoder and pass it through the projection head, resulting in an embedding of length 128.

[2020-11-10 21:39] RudyVenguswamy opened #357 "Can We Bring Our Own Model?"
**Context:** We’re a team trying to build a reverse image searcher for satellite data. Currently, we’re using the UC Merced land use dataset (linked in notebook below) to train a self-supervised learner and evaluate it using the labels provided with the dataset.

**Question:** Training a SimCLR with Resnet50bn takes a lot of FP operations. Is it possible to implement or pass our own encoder to Sim

[2020-11-10 21:39] RudyVenguswamy opened #358 "SimCLR Finetuning Validation Loss and Finetuned Accuracy is Worse than Random"
**Context:** We’re a team trying to build a reverse image searcher for satellite data. Currently, we’re using the UC Merced land use dataset (linked in notebook below) to train a self-supervised learner and evaluate it using the labels provided with the dataset.

**Issue:** With our model that’s been self-supervised trained already, we try to finetune it using 1024 hidden dimensions (we have also

[2020-11-11 04:56] paulxiong commented on #354
I am running into the same issue with SimCLR, exactly following the doc/example. I did run:
pip install git+https://github.com/PytorchLightning/pytorch-lightning.git@master --upgrade
but the issue still there.
My question: "The issue can be solved using a pip install of the bleeding edge version", what version did you install to fix the issue?

[2020-11-11 05:00] akihironitta commented on #346
Found some related PRs in other repos, so let me leave them here:
- https://github.com/optuna/optuna/pull/1315 <- This is pretty much the same as what I am suggesting here.
- https://github.com/tensorflow/datasets/pull/1947

[2020-11-11 05:09] RudyVenguswamy commented on #354
I just checked it now- at least on the notebook linked above,
!pip install git+https://github.com/PytorchLightning/pytorch-lightning-bolts.git@master --upgrade
begins training if you change the batch_size to < 8 (issue with small batch size is a separate issue, CUDA OOM on colab).

[2020-11-11 05:16] paulxiong commented on #354
Yes, it running w/o error now. I did not try the latest bolts before since that error occurred on the lighting core. Thanks.

[2020-11-11 07:54] akihironitta commented on #351
@Borda Let me work on this issue :]

[2020-11-11 23:22] ananyahjha93 commented on #358
@RudyVenguswamy from the colab notebook I can see that you are pre-training the simclr model for 15 epochs on "UC Merced land use dataset" which contains 100 images per class for 21 classes.

I think this insufficient pre-training for a model like SimCLR both in terms of data and training time. The actual SimCLR pre-training is done with ~1.2 million images from ImageNet for around 800 epochs.

Al

[2020-11-11 23:24] ananyahjha93 commented on #357
You can override the encoder by reassigning model.encoder.

the second option is to subclass SimCLR model and override just the init_encoder() function.

[2020-11-11 23:28] ananyahjha93 commented on #355
@RudyVenguswamy this looks like a bug to me, let me check on this.

[2020-11-11 23:32] ananyahjha93 commented on #356
@RudyVenguswamy the 128 dimensional representations out of the projection head are supposed to be invariant to a lot of transforms and thus not good for downstream tasks. The recommended representations to user are the ones directly out of the resnet-50 encoder.

Also, I looked at the "UC Merced land use dataset" and the satellite images in the dataset seem to have quite a different distribution a

[2020-11-11 23:37] ananyahjha93 commented on #354
@RudyVenguswamy @paulxiong the latest version of bolts and lightning should solve this issue. This was due to the LARSWrapper's step not taking any closure.

[2020-11-11 23:37] #354 closed

[2020-11-12 17:22] RudyVenguswamy commented on #356
@ananyahjha93 it seems that the 128 representation is _too good_ at representing the images, without any training. I don't believe the initialization of the weights for SimCLR uses pretrained embeddings - or does it actually use pretrained weights from imagenet, which might explain the 25-40% accuracy with no training needed on a dataset with 21 classes?

[2020-11-12 22:31] ananyahjha93 commented on #356
@RudyVenguswamy the initialization of SimCLR doesn't use Imagenet weights. Also, like I mentioned the 2048 dim embeddings from the resnet-50 encoder is recommended to be used in any task. Right now the implementation doesn't flatten this (2048 * 2 * 2). The fix will change this to a flattened 2048 dim vector.

Can you try the 2048 dimensional embeddings instead? Also, like we mentioned in the mail

[2020-11-13 15:38] ahmedhshahin opened #361 "A bug in precision_at_k function that causes the reported top_k accuracy to be down-scaled by batch size"
## 🐛 A bug in precision_at_k function that causes the reported top_k accuracy to be down-scaled by batch size

The mentioned function divides the accuracy by batch_size in [this line](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/70833f0bac73801a4c970a6ba9324b8469efede8/pl_bolts/metrics/aggregation.py#L32) (to calculate mean accuracy for this batch). However, it returns a list.

[2020-11-13 22:57] #351 closed

[2020-11-14 21:58] RudyVenguswamy commented on #356
@ananyahjha93 I redid it with the 2048 embedding. The shape of the embedding is 2048 * 16 * 16 so flattening it took too much memory per datapoint so I took a slice of length 2048 from it. This results in 9% accuracy before training occurs (21 classes, guessing is ~4.7%).

[2020-11-15 01:32] akihironitta commented on #207
We still have things to do here, so could you keep this issue open?

As far as I could find, we need to decouple datamodules from the following models:
- `pl_bolts.models.self_supervised.cpc.cpc_module.CPCV2`
- `pl_bolts.models.self_supervised.amdim.amdim_module.AMDIM`

[2020-11-15 08:38] SohamTamba opened #364 "Install Pytorch Lightning Bolts using Anaconda"
## 🚀 Feature

Make `pytorch-lightning-bolt` a Conda package.

### Motivation

I'm trying to use Pytorch Lightning Bolt on my university's SLURM cluster. The best practice is to install it in a Conda environment, so one can activate the environment in the SLURM script. Using `pip` is discouraged.

### Pitch

Make it possible to install pl_bots using the command:

`conda install pytorch-lightning-bo

[2020-11-15 08:44] akihironitta commented on #364
@SohamTamba Thank you for the suggestion. Would be nice to have Bolts on conda as well.

@Borda @ananyahjha93 What do you think?

[2020-11-15 14:43] sid-sundrani opened #368 "Add Proximal Policy Optimization"
## 🚀 Feature
Implementation of PPO RL algorithm

### Motivation
As brought up in issue [186  ](https://github.com/PyTorchLightning/pytorch-lightning-bolts/issues/186), the RL section of bolts currently only includes variants of DQN and VPG and lacks some of the more modern RL algorithms such as PPO. I want to know if it's of interest in having a PPO implementation in Bolts?  I'm interested to disc

[2020-11-16 01:06] ananyahjha93 commented on #320
@jefflai108 ```out_1``` and ```out_2``` are normalized vectors and should not create numerical instability with the current loss function. The maximum value after torch.exp of any element can be ```e``` and the minimum is 1.

Since we are taking sums for neg and pos, both these values should be fine. I have added a eps in the division in the line ```loss = -torch.log(pos / (neg + eps)).mean()``` t

[2020-11-16 01:24] akihironitta commented on #368
@sid-sundrani Thank you for your suggestion! In my opinion, it would be nice to have more models in Bolts. Let's hear what other core contributors say :]

[2020-11-16 06:46] ananyahjha93 commented on #356
@RudyVenguswamy what is the size of input image to your network? Even in the old setup, the final representations should not be as large as 2048 * 16 * 16. Also, use Avgpool in python to reduce spatial dim to (1, 1) and then flatten.

[2020-11-16 06:49] #358 closed

[2020-11-16 06:49] ananyahjha93 commented on #358
Closing this issue for now! Can merge in #356

[2020-11-16 06:53] ananyahjha93 commented on #309
@FrankXinqi what is the number of classes being passed to SSLOnlineEvaluator. What looks to me is the case when num_classes being passed is different than the class labels found in target tensor.

[2020-11-16 06:55] ananyahjha93 commented on #309
@FrankXinqi for the first issue, I am merging a fix which should solve this issue. The output of resnet now is a flattened 2048 dimensional feature vector which is taken by the online evaluation callback.

[2020-11-16 07:42] FrankXinqi commented on #309
My cutomized dataset has 7 output classes. For CIFAR10, it put is as 10.  However, neither my own dataset or pl CIFAR10 do not work.

[2020-11-16 07:45] FrankXinqi commented on #309
Many thanks. For the first issue, do you mean this issue "RuntimeError: mat1 dim 1 must match mat2 dim 0"?  If so, it may take some time to merge your PR to the master branch. Would you mind pointing out the solution, so I can fix it locally?

Thx.

[2020-11-16 08:43] ananyahjha93 commented on #309
@FrankXinqi changed quite a few things around, like a whole revamp of simclr, difficult to point to a single change.

https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/329

[2020-11-16 12:13] briankosw commented on #340
I think option 1 is better as well and I think it's better aligned with the design principles of PyTorch Lightning (and I think it makes a lot of sense w.r.t. #286 as you mentioned). I would love to get involved in this effort. What's the status on this so far?

[2020-11-16 12:50] briankosw opened #370 "Add Intersection over Union loss"
## 🚀 Feature

Since #251 includes GIoU loss, I think having IoU loss only makes sense.

### Motivation

### Pitch

I can implement this pretty quickly since I've been working on GIoU #347.

### Alternatives

### Additional context

[2020-11-16 13:39] oke-aditya commented on #340
Unsure if it would go to bolts. But this API is implemented in [Quickvision](https://github.com/Quick-AI/quickvision) !

[2020-11-16 15:23] shoaibazam commented on #354
I have installed the latest version of bolts and lightning, but I have got the same error. Kindly help me in this regard.

[2020-11-16 15:27] shoaibazam opened #372 "Closure Argument in Step Method - SimCLR"
I have installed the latest version of lightning and bolts, but I have got the following error using the SimCLR example. Kindly help me in this regard.

TypeError: step() got an unexpected keyword argument 'closure'

[2020-11-16 17:40] ananyahjha93 commented on #309
@FrankXinqi

https://github.com/PyTorchLightning/pytorch-lightning-bolts/tree/fix/simclr

This is the branch that will be merged. The PR will close this issue because we have removed all the complexity of SSLOnlineEvaluator callback. Feel free to open new issues based on the new code base if something doesn't work still.

[2020-11-17 02:00] FrankXinqi commented on #309
Thanks. I will try it later and response to this issue still, if there are other bugs met.

[2020-11-17 02:14] FrankXinqi opened #373 "How to set learning rate for SimCLR with multiple GPU training"
## ❓ Questions and Help

#### What is your question?

How to set learning rate for SimCLR (or more general for other contrastive leraning as well) with multiple GPU training?

In SimCLR paper, authors suggests to use learning rate 0.3*batch_size/256.

In my case, I am trying on 4-2080Ti with batch_size=64 each, so the effective batch_size=256. Therefore, following the formula from the SimCLR paper

[2020-11-17 11:28] akihironitta commented on #370
@briankosw Thank you for your suggestion! I think it'd be nice to have IoU loss as well.

As far as I understand, `GIoU loss` and `IoU loss` can share the most of the code (both use `IoU`), so it may be reasonable to extract `IoU` from `GIoU` in #347 and use it in `IoU loss` here.

[2020-11-17 11:43] briankosw commented on #370
@akihironitta absolutely there is significantly overlap. I'll work on a PR for IoU loss!

[2020-11-17 11:49] #372 closed

[2020-11-17 11:49] shoaibazam commented on #354
I have used master repo and its working fine

[2020-11-17 15:58] akihironitta commented on #346
@ananyahjha93 Any thoughts on this? :]

[2020-11-17 16:11] akihironitta opened #374 "docs: Suppress private methods"
## 📚 Documentation
Currently, we have descriptions of both public and private methods in docs (e.g. [Reinforcement Learning](https://pytorch-lightning-bolts.readthedocs.io/en/latest/reinforce_learn.html)). Functions whose names start with `_` and `__` should be hidden because they are usually not supposed to be used by users.

[2020-11-17 19:00] ananyahjha93 opened #376 "Update SimCLR doc links and checkpoints with updated models"
## 🐛 Bug

SimCLR docs contain links to older models and scores which are not relevant after code update.

[2020-11-17 19:36] #179 closed

[2020-11-17 19:36] #227 closed

[2020-11-17 19:36] #309 closed

[2020-11-17 19:36] #318 closed

[2020-11-17 19:36] #320 closed

[2020-11-17 19:36] #322 closed

[2020-11-17 19:36] #327 closed

[2020-11-17 19:36] #355 closed

[2020-11-17 19:36] #357 closed

[2020-11-18 00:22] annikabrundyn commented on #361
Should this not just be added as a PL metric instead of a Bolts metric?

[2020-11-18 01:18] ananyahjha93 commented on #313
Closing this, I think bolts is already above 1.0.3.

[2020-11-18 01:18] #313 closed

[2020-11-18 03:04] nateraw commented on #245
@briankosw sure! for the `shuffle` and `drop_last` flags, lets just make sure we use sensible defaults. 😄  Thanks!!

[2020-11-18 10:39] Borda commented on #313
it is not, but it is not needed..
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/77ff983085cc4889b9cb5a439ec3eb2b2536599c/requirements.txt#L2

[2020-11-18 17:06] annikabrundyn commented on #353
Thanks for thoroughly reporting the issue @simeneide - looking into it now! :)

[2020-11-18 17:18] ananyahjha93 commented on #373
@FrankXinqi For SimCLR with a batch size of 256, you can use the regular adam optimizer with learning rates 1e-4/1e-4. LARS is preferred for bigger batch sizes like 1024 and above.

Also, try using the new updated simclr from the master branch, the online fine tuning is fixed.

We'll soon have the imagenet weights in as well for SimCLR.

Also, swav has the provision of a queue to run with a batch

[2020-11-18 17:29] dkmiller commented on #180
Looks like the better way to handle this is via MLFLow support.

[2020-11-18 17:29] #180 closed

[2020-11-18 19:56] annikabrundyn commented on #312
Hi @zhutmost, this looks great but it also means we'll have a hard dependency on sklearn... I'm looking into how we can implement a stratified split and will keep you updated!

[2020-11-18 20:58] Borda commented on #312
the case why I have moved to PT split was to drop dependency on `sklearn` as this seems to be the only usage... :]
so shall we use it again or just implement the split ourselves?

[2020-11-19 01:33] #199 closed

[2020-11-19 02:17] TylerYep commented on #194
@awaelchli Are you still planning on merging all of these? I figure since you already wrote the code, the verifiers might as well be merged in  :)

[2020-11-19 08:36] pavopax opened #379 "Cannot import name 'SklearnDataModule' from 'pl_bolts.datamodules'"
## 🐛 Bug

I cannot import a key module, even after a fresh install.

### To Reproduce

Steps to reproduce the behavior:

Install package to fresh virtualenv and try import. Import fails. See code below.

This is on macOS Catalina Terminal with python 3.8.5

#### Code sample

[code]

Error 1: This fails with:

[code]

So I install `torchvision`  (is it strictly necessary just for the SklearnModule?

[2020-11-19 08:40] akihironitta commented on #379
@pavopax Thank you for reporting the issue! The latest version of Bolts should now work, so could you upgrade it and retry?
`pip install git+https://github.com/PytorchLightning/pytorch-lightning-bolts.git@master --upgrade`

[2020-11-19 08:53] pavopax commented on #379
Thanks. I installed this in my env but still get the error:

[code]

Installation:

[code]

[2020-11-19 08:58] pavopax commented on #379
I tried a fresh install into another virtual env, and still fails:

[code]

Here, `torchvision` and `Pillow` need to be installed, which I do. But still get error

[code]

[2020-11-19 09:01] akihironitta commented on #379
@pavopax Thanks again for the detailed report. Let me dig into it...

[2020-11-19 09:07] akihironitta commented on #379
@pavopax Would you mind installing `sklearn` and retrying?

[2020-11-19 09:43] pavopax commented on #379
Thanks, yes it works now. I upgraded package to the GitHub version and also installed scikit-learn, and issue is resolved.

Please close as you see fit. Cheers 💯

[2020-11-19 09:58] akihironitta commented on #379
@pavopax :]

Actually, you don't need either of them... You only need `sklearn` in your case. The current Bolts warns users of unavailable optional packages even when they actually don't need them installed, which can be improved...

[2020-11-19 09:58] #379 closed

[2020-11-19 10:44] #201 closed

[2020-11-19 12:10] sid-sundrani opened #381 "Bug in reinforce_model causing Index Error: Size mismatch"
## 🐛 Bug
When using Reinforce in reinforce_model.py as mentioned, it leads to a size mismatch IndexError  in the last batch of the first epoch.

### To Reproduce
#### Code sample
Ran as suggested in [source](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/fa5a9445e9061fd914722b4ef4af461c4135a423/pl_bolts/models/rl/reinforce_model.py#L41):
[code]

#### Error
The error occurs in the

[2020-11-19 14:23] annikabrundyn commented on #353
Hi @simeneide - thanks for reporting this! We've merged a PR which fixes this :)

https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/377

[2020-11-19 14:23] #353 closed

[2020-11-19 17:51] #294 closed

[2020-11-19 17:53] ananyahjha93 commented on #294
@alyashgo we've added a generic resnet backbone and you can sub-class the simclr module or replace the encoder in your code now. SimCLR has been updated.

[2020-11-19 19:06] Luab opened #383 "Add custom encoder argument to BYOL"
## 🚀 Feature
Right now the BYOL module uses the vanilla resnet50 as encoder, although underlying SiameseArm module supports custom encoder. Passing encoder as argument to BYOL module would allow custom encoders to be used.
[code]
Also small fix in SiameseArm module is needed
[code]

### Motivation

Adding encoder as an argument in the init method would allow seamless ablation studies by trying out

[2020-11-19 19:16] #314 closed

[2020-11-20 02:36] azamshoaib opened #385 "Training BYOL on multiple GPUs using "dp" and "ddp" accelerators error"
## Bug
I trained the BYOL implementation provided in the bolts on multiple GPUs using the accelerator "dp" and "ddp" respectively, but got the following errors
Using  "dp"
[code]

Using "ddp"
[code]

The environment details are as follows:
Pytorch-1.7.0
Pytorch_lightning-1.0.6
OS-Ubuntu-18

Kindly help me in this regard. Thank you.

[2020-11-20 08:49] simeneide commented on #353
Thanks! 😄

[2020-11-20 14:55] annikabrundyn commented on #312
I've started implementing a generalized split function for PL so I'll create a PR sometime this weekend for you to review if it makes sense? :)

[2020-11-20 18:51] oke-aditya opened #391 "Add RetinaNet Object Detection"
## 🚀 Feature

With the latest torchvision 0.8 release. RetinaNet is stable and we can use it.

### Motivation

Implement something similar to FRCNN. But after FRCNN is stable.

### Pitch

Something like #382 if it gets merged.

### Alternatives

I don't think so reimplementing RetinaNet would be wise.

### Additional context

I can probably add this after Faster RCNN is merged and is stable.

[2020-11-21 18:28] sid-sundrani commented on #368
I wrote a rudimentary PPO implementation on lightning bolts. It performs similar to the benchmark PPO on CartPole-v0. It doesn't support GPU. Most importantly, it does not run multiple steps of gradient descent on each batch of data, as OpenAI's implementation does. I wasn't sure quite how to make this work with the trainer.

If anyone is interested in building it up let me know I've linked my [fo

[2020-11-21 18:51] acxz opened #393 "[Feature Request] Fully Connected Network for Regression"
## 🚀 Feature

Adding a fully connected (FC) multilayer perceptron (MLP) Network for Regression tasks.

### Motivation

For simple regression tasks FC networks are commonly used. I saw that we have a LinearRegression model, but it would also be nice to have a full blown MLP network that people can just plug and chug for there supervised learning tasks.

### Pitch

under `pl_bolts/models/regression/

[2020-11-22 04:59] akihironitta commented on #393
@acxz Thank you for your suggestion! It'd be nice to have a simple MLP regressor in Bolts. Once we have positive comments from other core members, would you be interested in submitting a PR?

[2020-11-22 05:01] acxz commented on #393
Yeah I have been spinning one up today and can PR it once I finish/clean it up.

[2020-11-22 11:05] chris-clem opened #395 "Refactor Vision DataModules"
## 🚀 Feature
I was going through the smaller vision data modules (CIFAR10, MNIST) and noticed that there is a lot of duplicate code in them. I would suggest creating a VisionDataModule similar to PyTorch's VisionDataset and create subclasses of it for the different data modules.

### Motivation
Makes maintaining the code easier.

If you agree, I could prepare a PR :)

[2020-11-22 11:40] akihironitta commented on #395
@chris-clem Thank you for your suggestion! Would you mind describing more about `VisionDataModule`? In particular, any methods or attributes the class should have in your mind?

[2020-11-22 11:44] kartik4949 opened #396 "Add inhouse SOTA augmentations"
## 🚀 Feature
Thinking to file a pr for transform module which consist inhouse transformations which are not present torch.transforms.
### Motivation
Gridmask, mosaic, mixup, cutmix, etc
above augmentations are missing in most of the frameworks and they are de facto for kaggle, general computer vision solutions, etc

### Reference
my library which consist all of this module -> https://github.com/ka

[2020-11-22 11:53] akihironitta commented on #396
@kartik4949 Thank you for your suggestion! Your library seems very useful :]

@Borda @annikabrundyn Any thoughts?

[2020-11-22 11:54] kartik4949 commented on #396
@akihironitta thanks :)
can make explicit PRs for each augmentations.

[2020-11-22 12:22] akihironitta commented on #381
@sid-sundrani Thank you for reporting the issue!

Let me leave the full message in stderr/stdout just for the record:
[code]

[2020-11-22 12:44] chris-clem commented on #395
Sure, basically something like this:

[code]

And then MNISTDataModule and CIFAR10DataModule would be something like:
[code]

[2020-11-22 15:30] alyashgo commented on #294
Thanks a lot @ananyahjha93 !

[2020-11-22 23:04] #374 closed

[2020-11-22 23:06] #381 closed

[2020-11-23 11:50] akihironitta commented on #395
@chris-clem Thank you for describing in detail! I'm actually not sure if we should add the class to Bolts...
@Borda @ananyahjha93 @annikabrundyn What do you think?

[2020-11-23 14:42] Adi-iitd opened #397 "CycleGAN in PyTorch Lightning"
## 🚀 Feature
CycleGAN in PyTorch Lightning

### Motivation

The authors of this [paper](https://arxiv.org/pdf/1703.10593.pdf) proposed an **unpaired** image to image translation algorithm using the well-known **GAN** framework. Obtaining input-output pairs for graphics tasks like artistic stylization can be difficult since the desired output is highly complex, and typically requires artistic autho

[2020-11-24 03:53] hosea7456 opened #398 "How to use the pretrained SimCLR model to extract image features."
## ❓ Questions and Help
I would like to use the pretrained model of SimCLR to extract image features. I wonder if pl_bolts.models also support pretrained SimCLR model like the CPCV2 as follows?

from pl_bolts.models.self_supervised import CPCV2
# load resnet18 pretrained using CPC on imagenet
model = CPCV2(pretrained='resnet18')
cpc_resnet18 = model.encoder

Thanks a lot!
### Before asking:
1. sea

[2020-11-24 07:15] sid-sundrani opened #399 "Replay buffer not cleared after each epoch in reinforce"
## 🐛 Bug
The replay buffer (states, actions, qvals lists) in [Reinforce](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/models/rl/reinforce_model.py) is not reinitialized after each pseudo epoch (training batch). The `num_batch_episodes`  parameter controls the number of episodes to rollout in each training batch. However, since the buffer isn't cleared each train

[2020-11-24 08:18] ananyahjha93 commented on #396
@kartik4949 this seems like a good enhancement. I glanced at the code for these augmentations. 1 thing I would like to point out is, since you would be adding custom code to the library, can you add tests for these as well?

[2020-11-24 08:20] kartik4949 commented on #396
Hi @ananyahjha93 thanks to review my library
Yeah tests are lacking in my library as i was quite busy this month but will definitely add robust testing suite for them :)

[2020-11-24 08:20] ananyahjha93 commented on #398
@hosea7456 we are in the process of updating simclr weights for cifar-10 and Imagenet. Also, to use the simclr pretrained weights, you can refer to the docs: https://pytorch-lightning-bolts.readthedocs.io/en/latest/self_supervised_models.html#simclr

The code below just defines the usage pattern. It needs to be updated with the latest trained weights.

[code]

[2020-11-24 08:25] ananyahjha93 commented on #397
@Adi-iitd this seems like a good addition to the library. Feel free to create a PR for this.

I think the code needs some minor changes but overall looks good. Do you have saved weights for the model? Or loss plots? We are encouraging saved checkpoints and loss plots (and images like you posted) to be added to alongside implementations to build credibility for the correctness of code.

[2020-11-24 08:28] ananyahjha93 commented on #356
@RudyVenguswamy is this still a bug?

[2020-11-24 09:13] hosea7456 commented on #398
@ananyahjha93
Thanks a million.

[2020-11-24 09:42] Borda commented on #395
Yeah, I like the idea of making a general `torchvision` datamodule, just be careful that users wound misunderstood as a general-purpose data module for computer vision 🐰

[2020-11-24 13:29] chris-clem commented on #395
@Borda, @akihironitta I added a PR :)

[2020-11-24 15:56] chris-clem opened #401 "Add DCGAN"
## 🚀 Feature
How about adding a DCGAN implementation to Bolts? In a private repo, I refactored the PyTorch example implementation (https://github.com/pytorch/examples/blob/master/dcgan/main.py) to PyTorch Lightning and I am happy to create a PR with it if you want.

### Motivation

DCGAN can be used as a solid GAN baseline and therefore should be included in Bolts.

[2020-11-24 16:10] Adi-iitd commented on #397
@ananyahjha93 Yes, I do have the loss plots as well as the pre-trained weights. Attaching the TensorBorad loss logs here, kindly let me know how to share the saved checkpoints. I will open a PR for the same.

<img width="918" alt="Screenshot 2020-11-24 at 9 36 26 PM" src="https://user-images.githubusercontent.com/41862477/100119983-799ce280-2e9d-11eb-956e-f6ef6f6a05b1.png">
<img width="917" alt="S

[2020-11-24 16:40] ananyahjha93 commented on #395
@chris-clem this looks great! reviewing the PR to see if we need refactors at some other places on the codebase.

[2020-11-24 17:23] chris-clem commented on #395
@ananyahjha93 Yeah I think you could go deeper with the refactoring and cover all available datasets. I only took those with the same API.

Another idea would be to provide a wrapper for all available PyTorch as almost all of them have the same API (https://pytorch.org/docs/stable/torchvision/datasets.html). The problem is the "almost" in the sentence, which makes the thing a little tricky/ ugly.

[2020-11-24 17:41] oke-aditya commented on #401
I think the above example on pytorch is really very good implementation. It was made by authors of DCGAN papers,

[2020-11-24 18:53] chris-clem commented on #401
I added the implementation to the PR. Will add tests tomorrow.

[2020-11-24 22:17] #237 closed

[2020-11-24 23:06] edenlightning opened #405 "Use self.log and newest lightning API in all bolts models"

[2020-11-25 16:33] koszpe opened #406 "SimCLREvalDataTransform has unused parameters"
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/ecbb82a057c9be6caa06b0b8885743db8a1a752a/pl_bolts/models/self_supervised/simclr/transforms.py#L125

It's a bit strange (and missleading) the SimCLREvalDataTransform class has parameters: gaussian_blur and jitter_strength despite we don't want to use them. I guess the reason behind it is to reuse the final_transform method of the base

[2020-11-25 16:38] chris-clem commented on #401
@akihironitta I added the tests. From my side, the PR would be ready for review :)

[2020-11-25 16:51] koszpe commented on #406
I realized the real reason behind it. The train_transform is also used during validation. I close it.

[2020-11-25 16:51] #406 closed

[2020-11-25 17:49] akihironitta commented on #346
@Borda @ananyahjha93  Can I give it a go for this? otherwise, I'll restart to work on #338 defining global variables like `_TORCHVISION_AVAILABLE` in `pl_bolts/__init__.py` for now without implementing the context manager suggested here.

[2020-11-25 18:33] oke-aditya commented on #401
Just a thought, the orignal paper uses LSUN bedroom dataset which might be nice to use!

[2020-11-26 08:54] Borda commented on #346
I start playing with conditional imports at https://github.com/PyTorchLightning/pytorch-lightning/pull/4859 https://github.com/PyTorchLightning/pytorch-lightning/pull/4860 but it seems it does not work as I would expect, happy to hear some suggestions :]

[2020-11-26 12:06] zhutmost commented on #312
Thanks a lot for your great pl_blots. And I find some DataModules such as Imagenet_dataset also depends on sklearn. So looks that it is not a serious problem.. maybe?

[2020-11-26 12:33] koszpe opened #408 "Is cifar10 num_samples correct?"
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/ecbb82a057c9be6caa06b0b8885743db8a1a752a/pl_bolts/datamodules/cifar10_datamodule.py#L98

The self.num_samples = 60000 - val_split may be wrong, the dataset indeed contains 60000 examples, but it includes the test set too, which size is 10000.
So I think the correct size would be 50000 - val_split

I checked it with val_split=5000, an

[2020-11-26 17:29] akihironitta opened #409 "ci: Fix possible OOM error `Process completed with exit code 137`"
## 🐛 Bug
Seems `CI full testing / pytest (ubuntu-20.04, *, *)` particularly tend to fail with the error:
[code]
**Example CI runs**
- https://github.com/PyTorchLightning/pytorch-lightning-bolts/runs/1459479942
- https://github.com/PyTorchLightning/pytorch-lightning-bolts/runs/1459753659
- https://github.com/PyTorchLightning/pytorch-lightning-bolts/runs/1459754977

This error might happen on differ

[2020-11-26 18:16] Borda commented on #409
is it due to timeout? how long does it run before kill?

[2020-11-26 18:17] Borda commented on #408
@ananyahjha93 mind have a look? :]

[2020-11-27 10:30] akihironitta opened #410 "ci: Introduce static type checker"
## 🚀 Feature
As PL has `pyright` type checker in ci https://github.com/PyTorchLightning/pytorch-lightning/issues/2093, we should have one in Bolts as well.

There are a number of type checkers, and reasonable options are:
- https://github.com/python/mypy
  - Python's official project
  - easy installation with pip
  - more stars(\approx users) than pyright
- https://github.com/microsoft/pyright

[2020-11-27 10:32] akihironitta commented on #409
The two runs were killed after 7m 43s and 7m 20s, so I guess it's not due to timeout...

[2020-11-27 10:58] Borda commented on #409
you are right, the CI timeout is 45min so it can be some random failer or it is always the same test configuration?

[2020-11-27 17:24] oke-aditya commented on #410
I guess mypy would be nice. Even torchvision uses mypy. A sample init file which might prove useful is from torchvision is [here](https://github.com/pytorch/vision/blob/master/mypy.ini).

[2020-11-27 21:27] sid-sundrani commented on #182
That is true. Also, the implementation of VPG in vanilla_policy_gradient_model.py collects and trains the agent on a trajectory only from one episode each time, whereas reinforce trains on trajectories from multiple episodes

[2020-11-27 21:43] Borda commented on #182
@sid-sundrani @HenryJia anyone wants to take it over and send a PR?

[2020-11-28 10:40] akihironitta commented on #409
`CI full testing / pytest (ubuntu-20.04, 3.8, latest)` also fails in:
- https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/403/checks?check_run_id=1463269846.

Seems it happens particularly on Ubuntu...(?)

[2020-11-28 10:45] akihironitta commented on #409
It seems the following runs on Ubuntu were also unexpectedly killed due to probably the same reason:
- https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/400/checks?check_run_id=1463378727
- https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/400/checks?check_run_id=1463378796
- https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/400/checks?check_run_id=1463

[2020-11-28 10:52] akihironitta commented on #409
May OOM be the reason why the processes were killed? [Stack Overflow - Process finished with exit code 137 in PyCharm](https://stackoverflow.com/questions/43268156/process-finished-with-exit-code-137-in-pycharm)

I will see if Ubuntu doesn't have as much memory as macOS and Windows on GitHub Actions...

[2020-11-28 11:06] akihironitta commented on #409
As I checked the docs, all envs have the same hardware resources, but something might occupy a lot of memory particularly on Ubuntu.

[GitHub Docs - Specifications for GitHub-hosted runners](https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners#supported-runners-and-hardware-resources)

[2020-11-28 11:50] akihironitta commented on #409
Some of the runs were killed while testing the followings:
- tests/models/self_supervised/test_models.py::test_moco
- tests/models/self_supervised/test_scripts.py::test_cli_run_self_supervised_moco[--data_dir /home/runner/work/pytorch-lightning-bolts/pytorch-lightning-bolts/datasets --max_epochs 1 --max_steps 3 --fast_dev_run --batch_size 2]
- tests/models/test_scripts.py::test_cli_run_vision_imag

[2020-11-28 17:25] chris-clem opened #412 "Add SRGAN"
## 🚀 Feature
How about a [SRGAN](https://arxiv.org/abs/1609.04802) implementation with PL? There are popular MIT licensed PyTorch ones out there that can serve as the basis (https://github.com/eriklindernoren/PyTorch-GAN/blob/master/implementations/srgan/srgan.py, https://github.com/https-deeplearning-ai/GANs-Public/blob/master/C3W2_SRGAN_(Optional).ipynb).

### Motivation
SRGAN is one of the most

[2020-11-28 17:52] sid-sundrani commented on #182
Sure.

Are we looking to remove one of these implementations? If so I think `Reinforce` could be better to keep- simpler loss, trains on multiple trajectories, and would make a good baseline. Also, `VanillaPolicyGradient ` on Cartpole with default setting doesn't seem to be learning (`reward`=~10, `avg_reward`=~9.43 is constant since the start)

[2020-11-29 12:40] akihironitta commented on #409
I am getting confident that out-of-memory may be the cause of the kills as I checked memory usage with [this script](https://github.com/akihironitta/pytorch-lightning-bolts/blob/f768377f05a9c29262e9c6f5194fab99c5e3c170/print_memory_usage.sh) in https://github.com/akihironitta/pytorch-lightning-bolts/pull/1/.

I observed the following output from https://github.com/akihironitta/pytorch-lightning-bo

[2020-11-29 15:54] Shraban123 opened #416 "Regarding the collab notebook of simCLR"
When I am trying to run the code for the simCLR notebook from your youtube channel I get the following errors:
![resnet_50_bn](https://user-images.githubusercontent.com/57726215/100546631-65cff280-3288-11eb-849e-8db05284d96f.JPG)
The above error comes when I use the resnet50_bn.
I have replaced it with resnet50.

![2](https://user-images.githubusercontent.com/57726215/100546669-8f891980-3288-11eb-

[2020-11-30 14:57] justusschock commented on #416
cc @ananyahjha93

[2020-12-01 11:00] senarvi opened #417 "All data modules don't support providing batch size in the constructor."
## 🐛 Bug

Half of the data loaders don't support providing batch size in the constructor, but only in the `{train,val,test}_dataloader()` methods. This means that if a data module is passed `Trainer.fit()`, the default batch size is used.

[Cifar10DataModule](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/0.2.5/pl_bolts/datamodules/cifar10_datamodule.py), [CityscapesDataModule](h

[2020-12-01 12:50] akihironitta commented on #417
@senarvi Thank you for reporting the issue! Actually, @hecoding has pointed it out in #334 and added `batch_size` argument to all datamodules in #344, and the fixes should be merged into the main branch very soon.

You're right. We are trying to decouple datamodules from models in #207, and it seems we haven't removed those data-related arguments (e.g. `--batch_size`) from `FasterRCNN` as you poin

[2020-12-01 13:00] senarvi commented on #417
Great, then I'll close this issue!

Never mind, actually the second example ("Here’s a more realistic, complex DataModule") always uses batch size 32.

[2020-12-01 13:00] #417 closed

[2020-12-01 14:43] akihironitta commented on #409
As I increased batch_size in https://github.com/akihironitta/pytorch-lightning-bolts/pull/1, the tests failed due to the same error:

So, I think the options we have are:
1. increase the memory size of CI
2. use smaller network architectures
3. ~use smaller batch_size~ (I tried to reduce the batch size (`2` to `1`), but since some models use batch normalization the minimum required batch size is `

[2020-12-02 09:38] florisdf opened #419 "Should MoCo be enqueuing validation batches?"
# 🐛  Bug (?)
Not sure about this, but it seems strange to me that validation batches are also being enqueued in the MoCo queue ([this line](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/7c2e651a8a8faee2dfdf6c60b196ad071227b910/pl_bolts/models/self_supervised/moco/moco2_module.py#L252)). Shouldn't we only enqueue training batches?

Or am I missing something here?

[2020-12-02 17:12] userkkw opened #420 "Cannot import SwAV"
## 🐛 Bug

`from pl_bolts.models.self_supervised import SwAV` is not working for me.  BYOL and SimCLR all had no problem to import.

### To Reproduce

Steps to reproduce the behavior:

I installed the package:
`%pip install -q pytorch-lightning`
`%pip install -q pytorch-lightning-bolts`
then import the package
`import torch`
`import pytorch_lightning as pl`
`from pl_bolts.models.self_supervised imp

[2020-12-02 18:01] akihironitta commented on #420
@userkkw Thank you for reporting the issue. Would you mind upgrading Bolts and retrying?
`pip install git+https://github.com/PytorchLightning/pytorch-lightning-bolts.git@master --upgrade`

[2020-12-02 18:19] userkkw commented on #420
@akihironitta it works now thanks :)

[2020-12-02 18:19] #420 closed

[2020-12-02 18:45] akihironitta opened #421 "Test importing when optional packages are unavailable"
## 🚀 Feature
I have added the tests for importing datamodules when optional packages, such as `torchvision` and `sklearn`, are unavailable in #380, and we should do the same for other submodules.

### Motivation
Importing datamodules/models fail without optional packages very often as reported in:
- [#379 Cannot import name 'SklearnDataModule' from 'pl_bolts.datamodules'](https://github.com/PyTorc

[2020-12-02 20:11] akihironitta opened #422 "Improve import formatting configuration"
## 🚀 Feature
Although we have recently introduced isort to check import formatting in #324, I find the import order somewhat confusing, so I'd like to suggest to add the following two options to isort config. (I'm sorry I didn't explore isort config well enough in #324...)

### `force_sort_within_sections = 'True'`
[code]

### `order_by_type = 'False'`
[code]

We can apply this to submodules step

[2020-12-02 21:03] akihironitta opened #423 "Make modules private where appropriate"
## 🚀 Refactoring
Not a strong opinion, but modules, such as `pl_bolts.models.mnist_module`, which are not supposed to be directly imported by users, should be made private. For example, `pl_bolts.models.mnist_module` should be renamed to `pl_bolts.models._mnist_module`.

### Motivation
Having several ways to import a certain name can lead users to confusion.

For example:
[code]

I'll quickly star

[2020-12-03 18:00] RezwanCode opened #424 "(SimClr) ValueError: Input dimension should be at least 3"
ValueError                                Traceback (most recent call last)
<ipython-input-28-5cbe435bea01> in <module>()
     24 model = SimCLR(batch_size=batch_size, num_samples=train_samples)
     25 trainer = pl.Trainer(callbacks=callbacks, progress_bar_refresh_rate=2, gpus=1)
---> 26 trainer.fit(model, dm)

18 frames
/usr/local/lib/python3.6/dist-packages/torch/nn/modules/utils.py in _list_wi

[2020-12-03 21:40] awaelchli commented on #194
@TylerYep oh yes, thanks for the reminder.
Not sure how useful the batch norm verification is in general but the gradient check definitely, that's awesome!
I will prepare a PR

[2020-12-03 22:36] RezwanCode commented on #416
**Hi @Shraban123 , I am facing the similar issues. Were you able to solve it?**

[2020-12-03 23:47] ananyahjha93 commented on #416
@Shraban123 @RezwanCode take a look at the updated simclr code: https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/models/self_supervised/simclr/simclr_module.py

The output of the default resnet in bolts has changed which changes the definition of projection module.

[2020-12-03 23:48] ananyahjha93 commented on #424
same as #416

[2020-12-03 23:48] #424 closed

[2020-12-04 15:18] ananyahjha93 commented on #416
This should solve the bug, feel free to re-open this if the error persists!

[2020-12-04 15:18] #416 closed

[2020-12-05 02:54] akihironitta commented on #409
@Borda Do you think we can increase the memory size or use smaller network architecture for all models only for testing?

[2020-12-05 04:13] lbugnon commented on #395
Hi, I was going to fill an issue about this but this one goes. If you ran "dataset = MNISTDataModule('.')" in a fresh install, the reported error is "RuntimeError: Dataset not found. You can use download=True to download it", which is confusing (because it is needed to run "dataset.prepare_dataset()". Thus either add this option or change the error report. Adding this to the tutorials docs may hel

[2020-12-05 20:31] akihironitta opened #427 "Tidy up the model subpackages"
## 🚀 Refactoring
The structure in `pl_bolts.models` is not user-friendly due to:

- an inconsistent structure, for example:
[code]

- ~several ways to import a certain class, for example:~ <- Shall we discuss this in #423?
[code]

### Pitch
Two options I have in mind to make it consistent are:

1. Make all models available right under `pl_bolts.models`
[code]

2. Split models into domains, e.g. `v

[2020-12-06 06:47] oke-aditya commented on #427
I feel 2nd is better. I also prefer that there should be only one interface to import a model / function.

So API number 1 `from pl_bolts.models import LogisticRegression` doesn't work.

Still users can do `from pl_bolts.models.regression.logistic_regression import LogisticRegression`.

We cannot stop this any way but this is highly discouraged. This is nature of python, people are browsing to a p

[2020-12-06 23:04] akihironitta commented on #427
@oke-aditya Thank you for sharing your thoughts!

I agree :]

I know, so do you think we should rename to `_logistic_regression` which explicitly discourage users to import like `from pl_bolts.models.regression._logistic_regression import LogisticRegression`, which I suggested this renaming in #423? Indeed, Optuna, a hyperparameter optimisation library, does something like this in https://github.c

[2020-12-07 00:58] #399 closed

[2020-12-07 01:09] akihironitta commented on #410
@Borda @ananyahjha93 Can I give it a go for this? I'll first make a PR adding mypy check to GH Actions and later apply type annotations to the codebase step-by-step like applying isort in PL repo.

[2020-12-07 04:10] akihironitta opened #429 "bug: pl_bolts.losses raises AttributeError"
## 🐛 Bug
On the current master branch, using `pl_bolts.losses` after `import pl_bolts` gives an error  (though `from pl_bolts import losses` works fine). `pl_bolts.transforms` also gives the same error.

As far as I understand, this error is raised because `pl_bolts/__init__.py` doesn't have import statements for `losses` and `transforms`.

### To Reproduce
Run the following script
[code]
to get t

[2020-12-07 08:32] Borda commented on #410
sure, go ahead :]

[2020-12-07 13:57] bhat-prashant opened #431 "Training simclr on multi-gpu"
I see a quite a bit of performance drop in pytorch-lightning implementation vs original simclr implementation for CIFAR-10.

I have a hypothesis why this could be the case. As I see it, pt-lightning model is trained on 8 GPUs for 800 epochs. That means, in my view, pt-lightning simclr model had only 800 / 8 = 100 updates (considering all data is fed once). If you consider this way, you model is ef

[2020-12-07 14:47] oke-aditya commented on #427
Seems fine, but this is a breaking change and we should inform users about this in changelog.

[2020-12-07 14:49] oke-aditya commented on #427
Now, I'm slightly confused now how will people access `components.py` wherever they need.

It will be possible, but components are again `_components.py` which means we are discouraging to import them (but that's not true)

I suggest to club all components and create a separate space such as

`pl_bolts.components.detection`, `pl_bolts.components.segmentation`, etc.

This will ease to test and re-u

[2020-12-07 21:03] #429 closed

[2020-12-08 03:41] akihironitta opened #434 "Add type annotations to the codebase"
## 🚀 Feature
As static type checker `mypy` was added in #433, we can add type annotations to the codebase.

[2020-12-08 07:26] PradeepMoturi opened #436 "Index out of bound when training simCLR model"
## 🐛 Bug

Index out of bounds when training simCLR

### To Reproduce

Steps to reproduce the behavior:

run the below code

#### Code sample
[code]

### Expected behavior
It should train the simCLR model without any errors. But,

[code]

### Environment

 - PyTorch Version (e.g., 1.0): 1.7
 - OS (e.g., Linux): Ubuntu 16.04
 - How you installed PyTorch (`conda`, `pip`, source): conda
 - Build comma

[2020-12-08 08:25] #408 closed

[2020-12-08 08:28] #410 closed

[2020-12-08 10:49] #254 closed

[2020-12-08 16:20] ananyahjha93 commented on #431
Docs needs an update, those performance do not reflect the latest training results, I am working on a docs overhaul. Also, training for 800 epochs on 8 GPUs does not imply we trained for a 100 epochs. All data is split into 8 parts and the model gets to see all examples every epoch.

[2020-12-08 17:01] ananyahjha93 commented on #436
@PradeepMoturi we updated cifar10's number of samples to the correct value of 50k, so I think you can remove dm.num_samples -= 10000 from the code. Can you try that and report back if it fixes this issue?

[2020-12-08 17:02] ananyahjha93 commented on #419
@florisdf let me take a look at moco! Thanks for reporting this.

[2020-12-08 19:20] #398 closed

[2020-12-08 19:21] #373 closed

[2020-12-09 03:44] wjn0 opened #440 "Biases are excluded from BYOL moving average update"
Based on the code of the `BYOLMAWeightUpdate`, bias terms are excluded from the moving average update. I don't think this matches the original paper. I did not see any documentation on this point, but it seems intentional. Is there a source or reference for this difference (assuming I haven't misunderstood the original paper)?

The relevant code is [here](https://github.com/PyTorchLightning/pytorc

[2020-12-09 04:30] PradeepMoturi commented on #436
It's still raising the same error.

[2020-12-10 16:20] edenlightning opened #442 "Integrate bolts + torch hub"

[2020-12-10 17:26] agrinh opened #443 "Add a logger for Sacred"
## Add a pytorch lightning logger for Sacred

### Motivation
Sacred also needs some love as seen here: https://github.com/PyTorchLightning/pytorch-lightning/issues/438

### Pitch
Add a logger compatible with [Sacred](http://github.com/IDSIA/sacred).

### Alternatives
Not clear to me whether this should go into lightningbolts or lightning, I'd personally be happy with either but it was previously s

[2020-12-11 15:12] ananyahjha93 opened #445 "Optimization docs and override optimizer_step docs"
## 📚 Documentation

Optimization docs need to be updated with the correct way of overriding ```optimizer_step()``` method, which now takes in a closure as a non-optional parameter.

https://pytorch-lightning.readthedocs.io/en/latest/optimizers.html#step-optimizers-at-arbitrary-intervals

[2020-12-12 20:21] akihironitta commented on #412
@chris-clem Thanks for your suggestion! I'm not familiar with super resolution, but SRGAN seems very popular as I see [the number of citations on Google Scholar](https://scholar.google.com/scholar?q=Photo-realistic+single+image+super-resolution+using+a+generative+adversarial+network), so I think it'd be great to have SRGAN.

Let's hear what other maintainers think of this suggestion :]

[2020-12-12 20:41] akihironitta commented on #427
@oke-aditya Thanks a lot for your comments!

Sure.

Not sure if the suggested API is a reasonable one, but it'd be great to continue to discuss refactoring components in another issue :]

[2020-12-12 21:01] akihironitta commented on #368
@sid-sundrani Thank you for sharing your implementation! I quickly checked your code, and it seems to have no big problem in terms of formatting. If you're still interested in adding PPO to Bolts, I think you can submit a PR as @Borda added this issue to the project as `To do in Reinforcement Learning` :]

@PyTorchLightning/bolts-contributors Since I am not familiar with reinforcement learning, co

[2020-12-12 21:57] akihironitta commented on #443
@agrinh Thank you for submitting an issue! As I looked through the linked issue, @expectopatronum first tried adding the logger, and the PR https://github.com/PyTorchLightning/pytorch-lightning/pull/656 was closed without getting merged. I think it'd be great to have the logger in Bolts. Would you be interested in submitting a PR?

[2020-12-13 09:15] Borda commented on #427
What do the components shall include, some parts for Models?
We are eventually thinking about some restructure for v0.3

[2020-12-13 09:17] oke-aditya commented on #427
Hmm, yes small re-usable blocks which repeat in our codebase too often
E.g. MLP, ResNetEnocder Block,

[2020-12-14 06:55] akihironitta opened #451 "ci: Enable required isort/mypy check"
## 🚀 Feature
In order to prevent ci from failing on the master branch like 13863ccf1f96cb912406c029c50f4253f4599aee, shall we make `isort` (`mypy` as well maybe?) check required to pass before merging?

@Borda It seems only admin can enable required checks, so mind considering? [GitHub Docs - Enabling required status checks](https://docs.github.com/en/free-pro-team@latest/github/administering-a-re

[2020-12-14 07:41] Borda commented on #451
Done :]

[2020-12-14 07:41] #451 closed

[2020-12-14 07:42] akihironitta commented on #451
That was quick! Thank you :]

[2020-12-14 08:05] Borda commented on #451
I was thinking about it too, and I already did in other repos :]

[2020-12-14 08:35] #337 closed

[2020-12-14 22:50] sid-sundrani commented on #368
Sure, I'm still interested. I'll submit a PR

[2020-12-15 08:47] hassiahk commented on #434
Any help needed with this issue? I am happy to help. 😄

[2020-12-15 09:55] akihironitta commented on #434
@hassiahk Yes! I just added the steps to contribute to the above comment, so it'd be great if you follow them and submit a PR! :]

[2020-12-15 10:19] hassiahk commented on #434
@akihironitta, it would be great if you can also add the below to the initial comment so that we can keep track of which ones are done and this will also ensure no two people are clashing with each other's work. Thanks!!

### Sections
- [ ] `pl_bolts.callbacks.*` <---| @ydcjeff
- [ ] `pl_bolts.datamodules.*`
- [ ] `pl_bolts.datasets.*`
- [ ] `pl_bolts.losses.*`
- [ ] `pl_bolts.metrics.*`
- [ ] `pl

[2020-12-15 16:48] drozzy opened #454 "Wrong import in tutorials for DQN"
Here: https://pytorch-lightning-bolts.readthedocs.io/en/latest/reinforce_learn.html#dqn-results

It should be:
`from pl_bolts.models.rl.dqn_model import DQN`

and not:
`from pl_bolts.models.rl import DQN`

[2020-12-15 17:02] hassiahk commented on #454
Hey @drozzy, you can actually do it both ways. In the `__init__.py`, `DQN` is already imported like below so you can also import like `from pl_bolts.models.rl import DQN` instead of `from pl_bolts.models.rl.dqn_model import DQN`.
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/58536c260e7877c8c75dfccfaa58acee4fdc2ae1/pl_bolts/models/rl/__init__.py#L1-L3

[2020-12-15 18:08] drozzy commented on #454
Oh, strange. I got import error when I did it the tutorial way.

[2020-12-15 18:09] drozzy commented on #454
Nevermind, it works now. Thanks!

[2020-12-15 18:09] #454 closed

[2020-12-15 23:58] akihironitta commented on #434
@hassiahk Done :]

[2020-12-16 05:00] hassiahk commented on #434
@akihironitta, should I wait for https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/450 to get merged? or can I install `mypy` and proceed with this issue?

[2020-12-16 05:52] akihironitta commented on #434
@hassiahk Sure, you can start to work on this issue!

[2020-12-16 06:45] akihironitta commented on #440
@annikabrundyn Would you mind having a look?

[2020-12-16 13:18] dvd42 opened #456 "Training STL10 with Moco"
## 🐛 Bug

I get the following error when trying to train MocoV2 with STL10

[code]
### To Reproduce

[code]

#### Full stack trace
[code]

### Environment

 - PyTorch Version: 1.6 (installed with pip)
 - OS (e.g., Linux): Linux Mint
 - Python version: 3.8
 - CUDA/cuDNN version: 10.2/7.6.4
 - GPU models and configuration: 1080ti

### Additional context
The same exact script works with the `CIFAR10D

[2020-12-16 15:17] Borda commented on #409
I do not think we can di much about the memory, rather let's try to use a smaller model, is it possible?

[2020-12-16 16:41] #245 closed

[2020-12-17 12:35] RGring opened #459 "SwAV: validation sanity check fails"
Hi,
Thanks for this great repo :)
## 🐛 Bug
When I run the example code of SwAv (https://pytorch-lightning-bolts.readthedocs.io/en/latest/self_supervised_models.html#swav), it doesn't pass the validation sanity check.

### To Reproduce
Run the following (from the example, while I changed trainer.fit(model) to trainer.fit(model, dm)):
[code]

I get:
[code]
Thanks in advance!

[2020-12-17 15:41] briankosw commented on #434
Hey @akihironitta, I'd love to help with this :) Should I just pick on and create a PR?

[2020-12-17 22:33] #395 closed

[2020-12-18 04:55] akihironitta commented on #434
@briankosw Yes! Thank you!

[2020-12-18 04:56] hassiahk commented on #434
Hey @briankosw. Yes, you can pick one and create a PR for it. 😄 Just leave a comment here saying you picked up this, so you won't clash with others.

[2020-12-18 07:22] hassiahk opened #461 "`global` assignment in warnings.py"
I have observed that in `pl_bolts.utils.warnings`, `global` assignment is being used for `MISSING_PACKAGE_WARNINGS` which is causing `CodeFactor` to fail in CI tests. In my opinion, `global` assignment is not needed as `MISSING_PACKAGE_WARNINGS` is already initialized outside the function itself.

https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/02684ef4054e38a3b2e4a641821386afeb0f

[2020-12-18 07:30] briankosw commented on #434
I guess I'll work on `pl_bolts.datamodules` then!

[2020-12-18 19:33] aribornstein opened #463 "Add Audio Classification Example"
## 🚀 Feature
Add a Generic Audio Classification Example similar to https://medium.com/@hasithsura/audio-classification-d37a82d6715

### Motivation

Currently there are no examples of how to do non speech audio classification with lightning.

### Pitch

This example would demonstrate how to convert wav files to image spectrograms and then apply image classification techniques from bolts on them. Th

[2020-12-19 08:27] aribornstein commented on #463
Addressed by https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/464

[2020-12-19 18:42] sid-sundrani commented on #405
is help still wanted on this? i've been using vgp and reinforce and they don't use this. will be glad to update these

[2020-12-20 22:48] VirtualSpaceman commented on #459
Hello @RGring !

I don't know if you already solved the error, but  I've found a workaround for this issue. I was able to run the method by manually downloading the [swav_module.py](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/models/self_supervised/swav/swav_module.py) file from the main repo, then running as a normal Python script. I was facing this [PyTorch L

[2020-12-21 11:24] briankosw commented on #396
I think existing libraries such as [albumentations](https://github.com/albumentations-team/albumentations), [imgaug](https://github.com/aleju/imgaug/), and [kornia](https://github.com/kornia/kornia) already have a robust set of augmentation. All of them are well integrated with PyTorch as well, so I'm not sure if pl_bolts needs its own implementations.

[2020-12-21 11:27] kartik4949 commented on #396
Well they do have robust set of augmentations but they lack SOTA augmentations
E.G
GridMask
Mosaic
CutOut
RandomErase (imgaug have it)
CutMix
MixUp
CopyPaste
.
.
.

[2020-12-22 03:18] sid-sundrani commented on #440
Yeah, the [paper ](https://arxiv.org/pdf/2006.07733.pdf) explicitly mentions that bias parameters are omitted from optimization with LARS and weight decay but there's no mention about omission for the moving average parameter

[2020-12-22 06:09] akihironitta commented on #409
@Borda For models with replaceable backbones, we can define smaller backbones and replace relatively big ones like resnet with small ones. I'm not sure if that's really possible, but at least I can try (hopefully this year...).

[2020-12-22 11:32] akihironitta commented on #461
@hassiahk Thank you for your suggestion! Sounds nice! Could you submit a PR fixing this?

[2020-12-22 12:21] hassiahk commented on #461
@akihironitta, sure.

[2020-12-22 12:55] akihironitta opened #471 "tests: failing due to `argparse.ArgumentError: argument --fast_dev_run: expected one argument`"
## 🐛 Bug
The current tests on the master branch are failing due to:
[code]

<details><summary>Failing runs</summary><p>

(due to the above error on https://github.com/PyTorchLightning/pytorch-lightning-bolts/commit/a72766c461a498ab67b7c2efe7e0d49224290837 for example)
- https://github.com/PyTorchLightning/pytorch-lightning-bolts/runs/1586140031
- https://github.com/PyTorchLightning/pytorch-lightni

[2020-12-22 13:14] akihironitta commented on #471
I was guessing that all tests with `--fast_dev_run` are failing, but that's not true as the following test which has `--fast_dev_run` passes:
[code]

[2020-12-22 15:05] hassiahk commented on #434
@akihironitta, I will be working on `losses` next. :)

[2020-12-23 00:01] Borda commented on #442
well, we can set the Bolts as models to register, but still, for getting weights we need some heavy GPU machines...

[2020-12-23 10:04] Borda commented on #471
I feel that the problem is that this fast dev is not the one taken from Trainer but coded/added extra...

[2020-12-24 07:54] akihironitta commented on #471
You're right. The models passing the tests have their own `--fast_dev_run`. I'm not sure yet why the tests for the rest models fail only on Python 3.6 though.

Do you think it's reasonable to add `--fast_dev_run` to the other models for now? (although I think  `--fast_dev_run` should be included not in models but in trainer...)

[2020-12-24 12:32] akihironitta opened #476 "[coverage] Use `no cover` instead of `no-cover`"
## 🚀 Refactoring
As far as I know from
- the docs: https://coverage.readthedocs.io/en/latest/excluding.html
- the number of search results on GitHub
  - `pragma: no cover` https://github.com/search?l=Python&q=pragma%3A+no+cover&type=code
  - `pragma: no-cover` https://github.com/search?l=Python&q=pragma%3A+no-cover&type=code

, we should use `pragma: no cover` instead of `pragma: no-cover`. I gues

[2020-12-24 15:11] akihironitta opened #480 "Move `MocoLRScheduler` to `pl_bolts.callbacks`"
## 🚀 Refactoring
Currently, we have `pl_bolts.models.self_supervised.moco.callbacks.MocoLRScheduler`, but as `MocoLRScheduler` is a `Callback`, we should place the class in `pl_bolts.callbacks` where other `Callback`s like `BYOLMAWeightUpdate` are placed.

Once I got positive comments on this, I'll quickly submit a PR to do so.

[2020-12-25 08:26] akihironitta opened #482 "ci: Introduce code formatter"
## 🚀 Feature
We've spent quite some time on fixing code formatting in code reviews by our own hands, but this should be done automatically by a Python code formatter.

### List of formatters
- `black` by Python Software Foundation (https://github.com/psf/black)
  - [This blog post by DeepSource](https://deepsource.io/blog/python-code-formatters/) says `black` is the most popular one.
- `yapf` by G

[2020-12-25 09:36] oke-aditya commented on #482
I have used black earlier and we can add a simple CI check for it as well.
At places there are few collisions with `black` and `flake8`. I'm not sure if both can be together.
Black checks for linting errors too I think.

Also we can add to [`pre-commit-config.yaml`](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/.pre-commit-config.yaml)file present in bolts.

[2020-12-25 12:45] briankosw commented on #482
They can definitely work together, and [black](https://black.readthedocs.io/en/stable/compatible_configs.html) themselves published suggestions on how to make `black` work together with other tools such as `flake8` and `isort`.

I think using `black` will significantly increase pl_bolts' formatting (and therefore code quality), so I'd be happy to help in anyway with adding this to the current arra

[2020-12-25 13:13] oke-aditya commented on #482
I read the above black page, I think it will work fine as they have mentioned.
They have also mentioned how to use with precommite [here](https://black.readthedocs.io/en/stable/version_control_integration.html)
and Github CI action [here](https://black.readthedocs.io/en/stable/github_actions.html)

Plus add it to readme badge :smile: like [this](https://black.readthedocs.io/en/stable/show_your_sty

[2020-12-25 14:54] oke-aditya commented on #427
A few doubts that are
1. Torchvision dependecy. We can avoid rewriting Resnet codes and user from torchvision. This has an illeffect of getting torchvision dependecy for most models. But an advantage is compatibility with torch and maintainability.
2. Varioous components that we have accumalated in places.
E.g. [Self supervised](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/mast

[2020-12-25 17:08] #2 closed

[2020-12-26 01:34] briankosw opened #484 "VOCDetectionDataModule fails to load"
## 🐛 Bug

I tried to use `VOCDetectionDataModule`, and it seems that I fails to properly load the dataset because of the problems with multiprocessing. See the below minimal repro.

### To Reproduce

Steps to reproduce the behavior:

[code]

If `num_workers=0`, then the above repro works perfectly fine. It's when `num_workers>0` that the repro fails.

### Environment

 - PyTorch Version (e.g., 1.0

[2020-12-26 03:06] zhiqwang commented on #484
If you run in terminal with `num_workers>0`, this will also be fine. If you are working in Jupyter, it seems that we must set `num_workers=0`. Maybe this is not a bug?

[2020-12-26 03:48] briankosw commented on #484
I get the error when running in the terminal, so I'm not sure what's wrong. I manually reproduced this error by attempting to pickle the lambda function:

[code]
I get the following error:
[code]

[2020-12-26 16:34] sho-87 opened #485 "Pillow version"
## 🐛 Bug

Pillow version 8.0.1 doesnt seem to satisfy the requirements of the package, even though there is no specific version numbered required. With Pillow 8.0.1 installed, attempting to `pip install pytorch-lightning-bolts["extra"]` will try to uninstall (downgrade) the Pillow version. Maybe placing a minimum pillow version requirement would fix this?

[code]

### To Reproduce

Steps to reprod

[2020-12-27 15:25] oke-aditya commented on #484
Are torchvision transforms (especially lambda) pickleable ? I'm not sure..

[2020-12-27 15:55] briankosw commented on #484
Hm it does seem that you're absolutely on the money, since I ran your script on my computer (macOS) and I get the pickle error still. I'll try to narrow down the root cause of failure so that we can properly address this. I do think that the VOC detection data module implementation can avoid using `lambda` as well as be improved in general in certain ways. What do you think @oke-aditya?

[2020-12-27 16:11] oke-aditya commented on #484
Let's see, but we can avoid lamda I think from [line](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/datamodules/vocdetection_datamodule.py#L204)

Let's hear from @Borda and @akihironitta .

[2020-12-28 07:28] akihironitta commented on #482
@oke-aditya @briankosw Thank you both for sharing the useful information!
So, as I read your comments, I believe we should do the followings:
1. add `black` to pre-commit hooks
   - https://black.readthedocs.io/en/stable/version_control_integration.html
2. add `black` to GitHub Actions
   - https://black.readthedocs.io/en/stable/github_actions.html
3. update `flake8` and `isort` configs to avoid c

[2020-12-28 16:15] akihironitta commented on #422
Working on this issue in https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/483.

[2020-12-28 16:43] akihironitta commented on #485
@sho-87 Thank you for reporting the issue. Let me look into it.

[2020-12-28 17:42] akihironitta commented on #485
As I checked locally, I was able to reproduce the behaviour.

### Environment
- OS (e.g., Linux): Linux
- How you installed PyTorch (`conda`, `pip`, source): pip
- Python version: 3.8.5
- CUDA/cuDNN version: None
- `pip list`
[code]

---
@sho-87  Currently, Bolts doesn't specify any min version for `Pillow` as you're aware. If you ran `pip show Pillow`, you'll find out that `gym` and `torchvision`

[2020-12-28 20:17] sho-87 commented on #485
ah I see. didnt realize the gym requirement was `Pillow<=7.2.0`. Probably best to keep Bolts as is then. Thanks for checking

[2020-12-28 20:17] #485 closed

[2020-12-29 15:38] jfrancis71 opened #486 "forward method of UNet when num_layers = 0 produces IndexError: list index out of range"
## 🐛 Bug

The forward method of a UNet object fails with IndexError: list index out of range if it has been constructed with num_layers = 0.

I realise this is not a very exciting UNet example, but it probably should not fail in this way.

(I have a model which uses unets of different depths and it's awkward to have to deal with num_layers=0
as a special case).

#### Code sample
[code]

----------

[2020-12-30 20:21] aniketmaurya commented on #412
Hi @chris-clem @akihironitta
I can take this task. Please assign it to me.

[2021-01-02 21:22] #298 closed

[2021-01-03 11:00] chris-clem opened #489 "Add nrow and normalize args to TensorboardGenerativeModelImageSampler"
## 🚀 Feature
Add `nrow` and `normalize` args to [`TensorboardGenerativeModelImageSampler`](https://github.com/PyTorchLightning/PyTorch-Lightning-Bolts/blob/master/pl_bolts/callbacks/vision/image_generation.py#L12-L53)

### Motivation

At the moment, the image grid that is added to Tensorboard is created with `grid = torchvision.utils.make_grid(images)`. It would be nice to have control over the `n

[2021-01-03 11:07] chris-clem commented on #401
Good point! I will add it to the PR.

[2021-01-03 11:15] #422 closed

[2021-01-03 11:23] akihironitta opened #490 ""Document or section may not begin with a transition" warnings from sphinx-check"
## 🐛 Bug

![tmp](https://user-images.githubusercontent.com/20610905/103477344-5735a780-4e01-11eb-80bc-a56d66f8dee5.png)

[2021-01-03 20:26] akihironitta commented on #489
@chris-clem Thank you for your suggestion! +1 for this change :]

It seems [`torchvision.utils.make_grid`](https://pytorch.org/docs/stable/torchvision/utils.html#torchvision.utils.make_grid) has other arguments as well, which we could possibly wrap them here. Do you think we should add other parameters, too, like `padding`, `pad_value`, ... of the function?

cc: @Borda @PyTorchLightning/core-contr

[2021-01-03 20:27] #490 closed

[2021-01-03 20:32] #370 closed

[2021-01-03 20:35] #461 closed

[2021-01-03 20:55] chris-clem commented on #489
Yes, I think wrapping all parameters and using sensible defaults makes sense while we are already at it.

[2021-01-03 22:03] carmocca commented on #489
Makes sense, we can just pass `**kwargs` with the same default values.

[2021-01-04 08:18] akihironitta commented on #489
@chris-clem Would you be interested in submitting a PR?

[2021-01-04 12:37] chris-clem commented on #489
@akihironitta Yes, I will do it in the next days.

[2021-01-06 07:30] akihironitta commented on #471
@ananyahjha93 I looked through the changelog (3.6->3.7) of argparse and the docs and tried to locate how `this fast dev is not the one taken from Trainer but coded/added extra...` as @Borda mentioned, but I couldn't find a way to solve this problem.

An easy workaround to fix this error would be to add `--fast_dev_run` args to faiilng models... https://github.com/PyTorchLightning/pytorch-lightning

[2021-01-06 07:35] souvik3333 opened #496 "train_loss key instead of val_loss in validation_step log_dict in BYOL"
val_loss key is missing in validation step instead train_loss key is being used in both train and val steps.

https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/055bfff4e366b2893d03afb58f0b5545d0ae44b6/pl_bolts/models/self_supervised/byol/byol_module.py#L134

[2021-01-06 07:55] Borda commented on #356
@RudyVenguswamy feel free to reopen if needed 🐰

[2021-01-06 07:55] #356 closed

[2021-01-06 07:57] #431 closed

[2021-01-06 07:59] Borda commented on #456
@ananyahjha93 any update here? :]

[2021-01-06 08:05] Borda commented on #484
I saw a similar issue yesterday in PL example with Windows, and strange that it was such for a very long time and suddenly appeared yesterday... see: https://stackoverflow.com/a/59680818/4521646

yes, let's replace the lambda function :] @briankosw want to take it over?

[2021-01-06 08:07] Borda commented on #486
yes, I agree that there shall be some assert for `num_layers > 0`, mind sens PR with a fix? 🐰

[2021-01-06 08:49] ananyahjha93 commented on #459
@RGring can you try installing bolts from master. That should have the fix for now.

[2021-01-06 23:24] #471 closed

[2021-01-07 13:26] akihironitta commented on #496
@souvik3333 Would you mind sending a PR?

[2021-01-07 14:10] oke-aditya commented on #442
Can we do vice-versa too ?
Load a model from `torch.hub` train / finetune with PyTorch Lightning.

I would be highly interested in implementing such feature.

[2021-01-07 17:25] jfrancis71 commented on #486
Yes, I believe I have a fix for this. I think there is also an error condition where a tensor can be passed in which is too small for the selected num_layers.
I am double checking both and hope to submit a PR in the next couple of days

[2021-01-08 02:56] zhaotun opened #499 "can't import the VAE or CPCV2 model"
I want to use  a pretrained VAE or CPCV2 model to generate features for a image.
According to [HOW TO USE MODELS](https://pytorch-lightning-bolts.readthedocs.io/en/latest/models_howto.html), I wrote the follow python file
[code]
However, error occurred
[code]
And when I just import the CPCV2 model as follows:
[code]
also error occurred
[code]
why？

My python and pytorch is
[code]
and install the p

[2021-01-08 03:46] souvik3333 commented on #496
sure.

[2021-01-08 08:37] jfrancis71 commented on #486
I have submitted a PR for this.

Note, my original expected behaviour of outputting a tensor is not correct (I had confused num_layers with number of upsampling stages). Nevertheless the PR containing a more helpful error message will hopefully be more informative.

Regarding my previous comment about input tensors which are too small I have not put into this PR, as it is a related but slightly se

[2021-01-08 10:15] Borda commented on #499
@zhaotun I have moved your issue here as it is not related to PL

[2021-01-08 21:09] edenlightning opened #500 "Add schedulers section to bolts docs"
https://pytorch-lightning-bolts.readthedocs.io/en/latest/api/pl_bolts.optimizers.lr_scheduler.html

This should be a section in the docs

[2021-01-08 21:09] edenlightning commented on #500
@akihironitta mind taking this one?

[2021-01-09 00:11] akihironitta commented on #500
@edenlightning Sure!

[2021-01-09 03:10] akihironitta opened #504 "Redundant output from `test_logistic_regression_model`"
## 🐛 Bug
There are sometimes so many redundant lines in the tests output which makes it hard to review PRs:
[code]

This behaviour happens in https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/403/checks?check_run_id=1669189373
while it doesn't in https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/475/checks?check_run_id=1669579907

### To Reproduce
I'm still unsure whe

[2021-01-09 04:13] akihironitta commented on #482
@Borda Shall we introduce `black` so that we can easily check formatting including `trailing-whitespaces` in the pre-commit, and we don't need another PR like https://github.com/PyTorchLightning/pytorch-lightning/pull/5387 in the future?

[2021-01-09 09:44] Borda commented on #482
I think that we can do this check with `flake8` right?
but yes, lest try black here :]

[2021-01-09 14:01] akihironitta commented on #504
It seems the latest commit https://github.com/PyTorchLightning/pytorch-lightning-bolts/commit/c997f8576ca6f520df940f8e93fb874a8b130ef7 on the master branch doesn't have this issue for unknown reasons...

[2021-01-09 15:50] akihironitta commented on #482
@Borda I've just noticed your updated comment (though I already created a draft PR #507 to add black).

I agree that `COALESCE_BRACKETS` of `yapf` looks neat! Using `black` would be easier since it is widely used and has fewer parameters (and I've used it before), but we could use `yapf` if you'd like :]

@oke-aditya @briankosw Please leave your comments if you've got any.

[2021-01-09 16:52] Borda commented on #482
Personally I would prefer flexibility over mainstream... I would not be affraid of using yapf since it Facebook in house tool...

[2021-01-09 16:56] oke-aditya commented on #482
I have used black. I do not like it much. it makes code too lengthy and is very strict checker, also collides with isort and flake8.

I'm not sure how to configure yapf, how to add CI, pre commit though. I agree with @Borda's suggestion. I would like a flexible formatted (like flake8). Also facebook style would be preferred.

[2021-01-10 16:24] akihironitta commented on #504
I'll continue investigating this further in #506.

[2021-01-10 16:31] Borda commented on #482
for the record, this is the proposed config
[code]

[2021-01-10 17:41] #482 closed

[2021-01-10 18:02] #504 closed

[2021-01-10 18:07] #500 closed

[2021-01-11 15:06] yucoian commented on #128
What happened?? What's going on ??

[2021-01-11 20:57] aniketmaurya opened #512 "Add Pix2Pix"
## 🚀 Feature
Pix2Pix is a really good example of image-to-image translation network and should be included in Lightning.

### Motivation

Currently Lightning doesn't have Pix2Pix model implemented. As it is a good starting example for anyone learning GANs, it should be easily accessible for training and experimenting with custom dataset.

### Pitch

I would like to take the responsibility of imple

[2021-01-13 19:15] MaveriQ commented on #471
I resolved this by passing `--fast_dev_run 1` as command line argument

[2021-01-14 08:27] JVGD commented on #1
Hi people. What's the state of the EfficientDet implementation? I took a look at this [WIP branch](https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/31) but it only seems to have the BiFPN module implemented. As you know EfficientDet is EfficientNet + BiFPN... If we can implement this it would attract lots of users since EfficientDets are still SOTA in object detection while being v

[2021-01-14 22:48] ananyahjha93 commented on #499
@zhaotun we need to update documentation on that. For now, we do not have imagenet pre-trained VAE and CPCV2! Please refer to the documentation of VAE: https://pytorch-lightning-bolts.readthedocs.io/en/latest/autoencoders.html?highlight=vae#basic-vae

and CPCV2: https://pytorch-lightning-bolts.readthedocs.io/en/latest/self_supervised_models.html#cpcv2-api

for using these models.

[2021-01-14 23:04] #203 closed

[2021-01-15 13:58] rahul-art opened #513 "cannot import name SwAV"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

1. while importing SwAV
![swav_error](https://user-images.githubusercontent.com/56379013/104735659-db741d00-5767-11eb-8ca2-cf0e8561968e.png)

[2021-01-15 14:02] akihironitta commented on #513
@rahul-art Thank you for reporting the issue! Would you mind updating it to the latest version and retry?
[code]

[2021-01-15 14:14] Borda commented on #513
isnt SaW depending on torchvision?

[2021-01-15 14:24] akihironitta commented on #513
Yes, but if any optional packages needed for the class are missing, it'll raise an exception when instantiating it, so there should be no problem when importing the class.

[2021-01-16 08:24] akihironitta commented on #1
@oke-aditya I'm sure your PRs like #475 are waiting for our reviews for so long, but let me mention you here since you might be interested in this one.

[2021-01-16 08:27] oke-aditya commented on #1
😅 No worries @akihironitta reviewing takes time.

I think efficient net will be added to torchvision soon. Once efficient net is supported by torchvision adding efficient det will be easier.

Since efficient net, ResNet, ResNext, mobilenet all are classification models directly from torchvision, it might make sense to add classification trainer ?

There are other recent classification approaches s

[2021-01-16 08:40] akihironitta commented on #512
@aniketmaurya Thank you for your suggestion! It'd be great to have this model in Bolts!

[2021-01-16 18:02] WeberSamuel opened #516 "DQN run_n_episodes ignores environment parameter"
## 🐛 Bug

The method ``run_n_episodes`` takes an environment as parameter, that should be used to run a specific number of episodes. But instead it uses the objects environment (`self.env` and not the parameter `env`) to run the simulation steps.

This bug also causes warnings when testing the DQN model, as the passed environment is resetted, but the environment to run the simulation steps on is n

[2021-01-17 10:03] akihironitta commented on #459
@RGring Could you follow @ananyahjha93's comment above? If it still doesn't work, please feel free to reopen this issue.

[2021-01-17 10:48] akihironitta commented on #427
@oke-aditya

I think we can replace components redundantly defined in Bolts with ones in torchvision since we already have a lot of components that depend on torchvision like callbacks, models, datamodules, transforms, ...

Your suggestion sounds reasonable to me!

cc: @PyTorchLightning/bolts-contributors

[2021-01-17 11:22] akihironitta opened #519 "Minor refactors of the codebase"
## 🚀 Refactoring
This is a tracking issue for minor refactors (which makes sure not to change existing APIs):
- pragma (see also: #476)
  - Use `# pragma: no cover` instead of `# pragma: no-cover`.
  - Place `# pragma: no cover` at the beginning of clauses.
- imports
  - Add missing `__all__` to `__init__.py` files.
  - Use if/else instead of `try/except` for optional import statements
  - Raise `

[2021-01-17 19:02] noamzilo opened #520 "My naiive autoencoder is not learning. Code is very similar to bolts.AE. What Am I missing?"
## ❓ Questions and Help

### Before asking:
1. search the issues.
I found `pl.bolts.AE`, and I can't see any relevant difference, yet my version doesn't learn anything

#### What is your question?

Why isn't my model learning anything? The loss is the same, no matter how many epochs.
This is actually the 1st part of a multi-part question, and I can't even make the simplest version work.

I tried t

[2021-01-17 19:02] sid-sundrani commented on #516
Yes, I agree with that. Even in `test_step`, `self.test_env` is passed to `run_n_episodes` but `self.env` is used instead in `run_n_episodes`

[2021-01-17 21:43] #513 closed

[2021-01-17 21:50] Borda commented on #516
it shall be just about using args, right, @sid-sundrani are you interested in sending fix?

[2021-01-18 04:12] akihironitta commented on #397
@Adi-iitd Sorry for the delay.

@ananyahjha93 @Borda I'd love to have this in Bolts, but I'm not aware of how to store pretrained weights in Bolts. Do we currently have guidance on this for contributors? Is it something like this?:
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/99232c32602165410779c494b6bf492c2d291a71/pl_bolts/utils/pretrained_weights.py#L5-L6

[2021-01-18 07:04] akihironitta commented on #427
As originally suggested in the description of this issue, I'd like to start working on this issue after #519 is resolved.

Specifically, the changes will be:
- to fix inconsistency, for example:
[code]
- to eliminate duplicate, for example:
[code]

Please let me know if there's more to discuss before making these changes.

[2021-01-18 07:25] Borda opened #526 "Fix all Windows tests"
## 🐛 Bug

In #522 we have to reveal an issue in CI (rather on the GHA side than ours)that Windows tests we marked as passing check even almost all the time the tests were failing... These tests shall be fixed or skip per test with todo...

### To Reproduce

https://github.com/PyTorchLightning/pytorch-lightning-bolts/runs/1718502565
[code]

### Additional context

[2021-01-18 08:37] #194 closed

[2021-01-18 08:55] #489 closed

[2021-01-18 09:12] #401 closed

[2021-01-18 09:13] #340 closed

[2021-01-18 09:14] #486 closed

[2021-01-18 09:21] oke-aditya commented on #391
I will send PR for this soon. It will work very similar to FRCNN

[2021-01-18 10:23] Borda commented on #476
@akihironitta are these two PRs all that is needed to fix it?

[2021-01-18 10:24] #484 closed

[2021-01-18 10:26] Borda commented on #427
I am for some refactoring in this direction, just I would recommend stabilizing the state e have right now as 0.3 and do this refactor in 0.4 which can be even next week :]

[2021-01-18 10:46] akihironitta commented on #476
It looks like I missed some, so let me include all of the missed ones in #524. Once #524 is resolved, we can close this issue.

[2021-01-18 14:44] #516 closed

[2021-01-19 07:18] #476 closed

[2021-01-19 07:18] #519 closed

[2021-01-19 10:08] sid-sundrani opened #527 "accident posted in wrong lib"
## 🐛 Bug
Running python pl_examples\domain_templates\semantic_segmentation.py leads to an argument options conflicting error.
Issue is same as the one with @

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Run '....'
3. Scroll down to '....'
4. See error

#### Code sample

### Expected behavior

### Environment

 - PyTorch Version (e.g., 1.0):
 - OS (e.g., Linux):
 - How you

[2021-01-19 10:09] #527 closed

[2021-01-19 16:05] oke-aditya opened #528 "Add Mobilenet V3 Backbones to Detection"
## 🚀 Feature

Next release of torchvision packs mobilenet v3 and mobilenet v3 FPN backbone.
We can add that to supported backbones for Faster RCNN and RetinaNet

### Motivation

We need backbones, they enhance detection

### Pitch

Same way add backbones to `pl_bolts.models.detection.componenets` as done earlier.

But wait for Torchvision next release 0.9.

### Additional context

I will complete

[2021-01-19 16:10] akihironitta commented on #528
@oke-aditya Sounds nice!

[2021-01-20 15:33] kcetskcaz commented on #456
If you look at the SimCLRTrainDataTransform implementation, you'll find that 3 augmentations of the input sample are returned from the `__call__` method. However, if you look at any of the MoCoV2 transforms, you'll see that the `__call__` methods only return **2** augmentations of the input sample.

### SimCLRTrainDataTransform

[code]

### Moco2Train<dataset>Transform

[code]

Following above, Si

[2021-01-20 18:53] oke-aditya commented on #526
Few stack traces from above run.

Maybe I think we should use `@torch.no_grad()` at places. Trying this in #531

[code]

[code]

This is either MultiProcessing in python issue or pickle.

[code]

Another reason is perhaps we are trying to save a checkpoint on windows, which needs movement of file object from RAM to Disk and hence these errors.
Maybe disabling checkpoints, or model saving wherever

[2021-01-20 22:41] #499 closed

[2021-01-21 01:26] HareshKarnan commented on #459
Issue still occurs with master branch.

[2021-01-21 08:18] ananyahjha93 commented on #459
@RGring @HareshKarnan nmb_crops argument needs to be passed to SwAV and DataTransforms. The defaults are set to different values for the 2 classes, hence the issue. I'll add in a fix.

[2021-01-21 10:20] oke-aditya opened #532 "Add Documentation for Detection Models"
## 📚 Documentation

After we merge RetinaNet PR #529 . We can add documentation for detection modules.
Both FRCNN and RetinaNet.

[2021-01-22 11:23] oke-aditya opened #535 "Callback for Plotting Bounding Boxes, Segmentation Masks."
## 🚀 Feature

The next release of torchvision 0.9.0 will pack a few plotting utilities that work with detection and segmentation models.
E.g. [`draw_bounding_boxes`](https://github.com/pytorch/vision/blob/master/torchvision/utils.py#L140), `draw_segmentation_masks`.

We will have merged detection models from torchvision, (FRCNN and RetinaNet (soon)) into bolts. So this can be a nice time to implem

[2021-01-23 17:04] akihironitta opened #537 "docs: Add interactive plots with Plotly"
## 📚 Documentation
It would be nice to have interactive plots instead of the current screenshots of losses and metrics on tensorboard in our docs.

We can employ [`sphinx-plotly-directive`](https://sphinx-plotly-directive.readthedocs.io/) like Optuna, a hyperparameter optimization framework, does in [their docs](https://optuna.readthedocs.io/en/stable/reference/visualization/generated/optuna.visua

[2021-01-23 18:58] Borda opened #538 "restructure"
## 🚀 Feature

re-think internal Bolts structure

### Motivation

ATM the structure is quite deep and very clear, my proposal is instead of actual:
[code]
move all a bit upstream
[code]
but still will remain in this repo and within the same pip package

### Pitch

eventually, we could adjust installation to install just one of these or refine extras to support only selected domain-like
`pip install

[2021-01-23 19:22] Borda commented on #537
see an alternative with basic matplotlib: http://nipy.org/nipy/devel/guidelines/sphinx_helpers.html#inserting-matplotlib-plots

[2021-01-24 08:46] akihironitta commented on #538
Would import statements change from something like `from pl_bolts.models.gans import GAN` to `from pl_models.gans import GAN`?

[2021-01-24 09:30] Borda commented on #538
yes, basically the main (only) difference for the user would the importing...

[2021-01-24 16:58] oke-aditya commented on #538
I think such refactor will be nice but I do have few doubts.

What happens to components? I think if we could solve that issue with this it would be nice. If we could cut components and layers well we can offer them as API and avoid reduplication of code (components are becoming far too many)

[code]

I am still not clear what will be under `pl_models.vision` since any vision model possibly comes

[2021-01-24 17:04] Borda commented on #538
yes, just to level
to GANs and SSL I do not think they are vision only so I would make them on the same level

[2021-01-25 19:34] oke-aditya commented on #538
May I know why do you think so that GANs and Self supervised aren't under vision.

We currently have these models only for computer vision purposes.

Also text and audio can be again separately structured in their folder as above.

[2021-01-26 16:01] HarryLe95 commented on #436
I have found the reason for the error (still present as of 27/01/2021). The issue is on line 134 of the file pl_bolts/models/self_supervised/simclr/simclr_module.py

This is due to incorrectly defining the length of self.lr_scheduler, which should be of the same size as max_global_step.
To fix, simply add "+ 1" :
self.train_iters_per_epoch = self.num_samples // global_batch_size + 1

Another issue

[2021-01-26 21:05] jeremyadamsfisher opened #543 "Slightly incorrect documentation for VAE"
The example for a VAE indicates that `from_pretrained` is a static method

https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/4e1c1502b70e4be59a9ac80878ec5ad5a212f87e/pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py#L30

Indeed, running this line causes as error:
[code]

This is because the method is actually implemented nonstatically:
[code]
Seems to me either:
- the docum

[2021-01-27 08:59] ydcjeff opened #544 "[docs] use `versionadded`, `versionchanged` and `deprecated` directive"
## 📚 Documentation
Use `.. versionadded::`, `.. versionchanged::` and `.. deprecated::` directive, so that user knows which features are added / changed / deprecated in which version and they can navigate the docs easily without changing the docs from version to version.

Ref: https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#directive-versionadded

Similar of https://git

[2021-01-27 10:43] lluissalord commented on #436
@HarryLe95 I tried your suggestion and also other changes on this direction, but it seems like the issue is on another place because it still fails.

For me, what I see that can be causing the issue is that the training continues even after reaching `max_epochs`. I will continue investigating, but I am still not familiar with pytorch-lightning code.

[2021-01-27 12:47] HarryLe95 commented on #436
@lluissalord My suggested edits were only for the class SimCLR. If you are reproducing cifar10, the issue is with the trainer.max_epochs being 1000 (default value). To fix, simple define args.max_epochs.

I was able to run the code sucessfully. Let me know if you have issues.

[2021-01-27 14:28] Nora-Go opened #545 "UNet not corresponding to the original paper"
In the original paper (U-Net: Convolutional Networks for Biomedical Image Segmentation) it is stated that "the expansive path consists of an upsampling of the feature map followed by a 2x2 convolution (“up-convolution”) that halves the number of feature channels".
In line 108 of your implementation, the kernel size is however 1 instead of two.

Moreover, the paper does not use padding, but valid c

[2021-01-27 22:30] #326 closed

[2021-01-28 08:26] lluissalord commented on #436
I am running SimCLR on a custom dataset. After some testing I have seen that my issue was that the parameter `max_epochs` should be passed on both `Trainer` and `SimCLR` class to work as expected. Probably there could be some improvement to only specify this on `SimCLR` and the `Trainer` read it from there.

[2021-01-28 17:58] oke-aditya commented on #545
Hi @Nora-Go !

I will have a look once at all the above points for U Net.

But this brings us to a great and new question. Reproducibility.

Some of the models here such as FRCNN too might not match almost exactly as original paper. This difference is almost always found in every reimplemention. These might be at times due to torchvision dependency, performance or simply subtle differences like bi

[2021-01-28 22:34] akihironitta opened #547 "Use new LightningModule hook `configure_callbacks()`"
## 🚀 Feature
Once https://github.com/PyTorchLightning/pytorch-lightning/pull/5621 is merged, we can use `configure_callbacks()` for model-specific callbacks like `BYOLMAWeightUpdate`.
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/b9d5f5e8d6bbcf99ed819aed1d93d910f6d90c8f/pl_bolts/callbacks/byol_updates.py#L9

[2021-01-29 01:40] yangyangkiki opened #548 "BYOL imagenet pretrained model"
Hi
Thanks for sharing your codes!
may I ask where I can download a resnet50 pre-trained model on imagenet by using BYOL?
Thank you!

https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/99232c32602165410779c494b6bf492c2d291a71/pl_bolts/models/self_supervised/byol/byol_module.py#L34

[2021-01-29 03:48] Cuberick-Orion commented on #251
Triplet Loss and its variants can be helpful for metric learning. In case anyone is interested I can help.

[2021-01-29 10:46] Nora-Go commented on #545
Hi :)

I totally see the reason in the changes you made (they are in most other implementations for a reason as well).
However, you are correct my issue is somehow with the reproducibility. My suggestion would be to mention all changes that were done in the code and in the doc and stick with the version you already have.

[2021-01-29 17:48] akihironitta commented on #548
@ananyahjha93 It's still wip and unavailable, right?

[2021-01-29 18:06] akihironitta commented on #543
@jeremyadamsfisher Hi, thank you for reporting the issue! Following the suggestion by @ananyahjha93 in https://github.com/PyTorchLightning/pytorch-lightning-bolts/issues/200#issuecomment-691534816, let's just fix the docs for now.

[2021-01-29 18:27] akihironitta commented on #520
@noamzilo Could I ask what `Testing` package is? In case it's your own module, it would be very helpful if you could provide us with a script without your custom module.

[2021-01-29 20:45] noamzilo commented on #520
I'll try to do it when I am more free, can close until then.

[2021-01-29 20:45] #520 closed

[2021-01-30 21:32] akihironitta commented on #545
@Nora-Go Thanks for the issue! As @oke-aditya mentioned, I think this is about reproducibility. In general, I think models should be the exact same architectures as the original ones in papers for reproducibility, but for high-level models including `FasterRCNN`, it is almost impossible to match models implemented here with the original ones in papers while, for example, we heavily depend on compo

[2021-01-30 21:41] akihironitta opened #551 "Unpin `pytorch-lightning<1.2`"
`pytorch-lightning<1.2` was added in #549 to avoid the following errors.

### Description of errors with `pytorch-lighting>=1.2`
On the current master, the following tests:
[code]
fail with the error:
[code]

(Found while fixing ssl tests in https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/541/.)

[2021-02-02 23:55] MishaLaskin opened #553 "CPCv2 does not work, issue with online evaluator"
## Bug

If you run the `cpc_module.py` file in the `cpc` folder with online evaluation, the script crashes. The reason is that in `ssl_online.py` file in the `def to_device` function, you take the input `batch` and then:

[code]
Since batch has shape `[B,P,C,H,W]` for CPCv2, x has shape `[P,C,H,W]`. This, of course, cannot get encoded since you've discarded the batch dimension. I believe the reaso

[2021-02-04 14:35] #376 closed

[2021-02-04 18:30] YannDubs opened #554 "[Question] Why resnets in bolts ? What is the difference with torchvision models ?"
## ❓ Questions and Help

Hi it seems to me that all the resnets are the same as in torchvision, I tried to look at why have essentially duplicate code and which ones I should be using but I couldn't find any discussion about that. So my questions are :

1. Are the models EXCATLY the same ?
1.1. If not what are differences and which should I be using ?
1.2. If yes, why the code duplication ?

thank

[2021-02-05 01:31] mengfeifix commented on #496
Can anybody share updates on the fix or workarounds? Thanks!

[2021-02-06 01:18] lbugnon opened #555 "SimCLR fixed to a dataset"
Why  is SimCLR fixed to some datasets now? I tried to run a code from the last year but now it requires to set a dataset like cifar. I want to use my own data. Is this a bug or a feature?
Thanks!

[2021-02-06 07:23] akihironitta commented on #555
@lbugnon If you look at the current implementation in the codebase, you'll find out that we only have configurations for stl10, cifar10, and imagenet, so it's not a bug. I'm sure you can use SimCLR for your own dataset similarly to the below datasets:
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/86e3f52308fa02e2a988b4977858a945f7d15ab2/pl_bolts/models/self_supervised/simclr/sim

[2021-02-06 07:34] hiyyg commented on #21
I think it would be nice if you can change provide some examples of using pl's trainer to train d2's builtin models by only changing the trainer.

[2021-02-06 07:38] akihironitta commented on #544
@ydcjeff Hi, it'd be nice to have these for sure! but Bolts is still quite unstable, which means that adding these sections may lead to very noisy docs, so how about adding these sections after launching v1? (not sure when it's going be though)

[2021-02-06 07:39] akihironitta commented on #543
@jeremyadamsfisher Would you be interested in submitting a PR?

[2021-02-06 08:13] akihironitta commented on #554
@YannDubs Basically, models like RetinaNet (being added in https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/529/ by @oke-aditya) are the same as torchvision's ones as you might have noticed. Wrapping torchvision models with lightning allows us to utilise lightning features, e.g. trainer, callback, logger, ...

[2021-02-06 08:57] oke-aditya commented on #554
I think @YannDubs  is taking about [resnets](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/models/self_supervised/resnets.py) file.

For self supervised learning I thnk we have duplicated the code for Resenets.

This code duplication was done to avoid dependency on torchvision.

While in detection we did exact opposite, I used `torchvision.models` to create ResNe

[2021-02-06 14:47] lbugnon commented on #555
Thanks, I've read the code. The question is why to use a fixed dataset in
the model definition. In previous version, I can use the model and the
lightning trainer with any custom dataset, like all the other models. Now,
I have to redefine the SimCLR class for each new dataset I use, or there is
something I'm failing to see.

El sáb., 6 de feb. de 2021 04:24, Akihiro Nitta <notifications@github.com

[2021-02-06 15:37] nmohr192 opened #556 "Enable resnet-decoders for autoencoders to be used with non-squared, higher resolution inputs"
## 🚀 Feature
Resnet18/50 decoders should allow for decoding of originally non-square input. Also it seems they are optimized for smaller sized inputs instead of higher resolutions, which can be changed by increasing initial dense layer size.

### Motivation
I have implemented a variational autoencoder on 224x512 sized images and the default implementation of the resnet18-decoder does not allow for

[2021-02-06 21:26] jeremyadamsfisher commented on #543
You got it

[2021-02-07 11:27] ydcjeff commented on #544
Yes, v1 is a good option.

[2021-02-09 08:20] Borda commented on #553
@ananyahjha93 mind have look at this one?

[2021-02-09 08:21] Borda commented on #551
Yeah, we shall get compatibility with PL 1.2

[2021-02-09 11:18] YannDubs commented on #554
Thanks for the clarification! I was indeed talking about the resnets file.

I agree that bolts shouldn't require on torchvision (for example if It is used for NLP), but I think that the parts that are related to computer vision should use as much as possible torchvision (and raise some error if torchvision is missing). I.e. I would have done it exactly as was done for detection.

In any case, most

[2021-02-09 16:46] senarvi commented on #22
I created a [pull request](https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/552) of my YOLO implementation, which my employer [Groke Technologies](https://github.com/groke-technologies) authorized to contribute to PyTorch Lightning. It was quite difficult to get it right, since many details can only be found from the different versions of the Darknet C++ implementation (and many de

[2021-02-10 01:29] akihironitta commented on #555
@ananyahjha93 Would you mind answering this question?

[2021-02-10 02:04] ananyahjha93 commented on #555
@lbugnon The only reason for having dataset within the model is to accommodate the labelled and unlabelled parts of stl-10.

https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/models/self_supervised/simclr/simclr_module.py#L160

Otherwise there is no need to add dataset to the model directly. This will be corrected in a new release. But, since we need to compute per s

[2021-02-10 14:11] oke-aditya commented on #554
Hi @YannDubs  I do agree on the points.

I agree that parts related to computer vision might need torchvision.
Torchvision is very stable and a lot of projects do depend on it.
E.g. [Classyvision](https://github.com/facebookresearch/ClassyVision), [Detectron2](https://github.com/facebookresearch/detectron2/blob/master/setup.cfg)
Torchvision takes a lot of care while upgrading and usually avoids BC

[2021-02-12 10:35] nmohr192 commented on #556
Found an issue with my implementation: ResnetDecoder gets extremely large (n_parameters) with high n_latent_dims with this approach. Now im using

[code]

and then having the dense layer and upsampling like this:

[code]

and in forward:

[code]

will commit later to own fork.

[2021-02-13 01:53] akihironitta commented on #427
In addition to the refactor in my comment above https://github.com/PyTorchLightning/pytorch-lightning-bolts/issues/427#issuecomment-762032327, we should probably place `cil_main()` in `examples/` rather than in the codebase because it's an example of executable scripts rather than an API. By decoupling `cli_main()` from `pl_bolts/models`, we can make `pl_bolts/models` somewhat lighter.

[2021-02-13 11:49] YannDubs commented on #554
I think that's a very good summary of possibilities. I don't know bolts as much as you all do, but it definitely seems that solution 1 is preferable. Are there any disadvantages of doing that ?

[2021-02-13 15:25] akihironitta commented on #554
@YannDubs @oke-aditya Sorry for the delay, and thank you both for sharing your thoughts!

So, as far as I understand, there are two issues here:

1. **whether we use `torchvision`'s implementation or have our own implementation.** (e.g. utilities, models, components...)
In my opinion, we should depend on `torchvision` because we can reduce the cost of maintenance by using such well-maintained libr

[2021-02-13 15:48] oke-aditya commented on #554
Hey @akihironitta  thanks for having a look. Here are my thoughts on why lazy loading would cause pains.

1. Certain operations and models will be available only after a given release.

To use these features, we would have to use torchvision. As we want to avoid the cost of maintenance from our side.
Now since these change internally in torchvision, we don't have much control. So we would end up h

[2021-02-14 05:23] akihironitta commented on #554
@Borda @PyTorchLightning/bolts-contributors Any thoughts?

[2021-02-14 09:51] #423 closed

[2021-02-15 17:35] kunal-savvy opened #559 "Bolts Vision Models not working"
## 🐛 Bug- Image GPT Bolts models not getting imported. Same issue for segment models
![Screenshot_2021-02-15 Untitled - Jupyter Notebook(1)](https://user-images.githubusercontent.com/21246183/107978111-3fb61680-6f8a-11eb-8fd1-ad94f143cd4c.png)
![Screenshot_2021-02-15 Untitled - Jupyter Notebook](https://user-images.githubusercontent.com/21246183/107978115-40e74380-6f8a-11eb-919d-7aa320967b64.png)

[2021-02-15 18:18] #419 closed

[2021-02-16 15:00] akihironitta commented on #559
@kunal-savvy Hi, thank you for reporting the issue!

For `ImageGPT`, a quick workaround would be:
[code]
, but this problem should be resolved in no time.

For `KittiDataModule`, we previously had problems in importing some names, but I think it should be resolved on the current master, so could you please upgrade Bolts by running:
[code]

Please let us know if it still doesn't work. Sorry for you

[2021-02-16 15:08] akihironitta commented on #427
Also, shall we move `LogisticRegression` out of `pl_bolts.models.regression`? The model isn't a regressor although the name includes "regression"... :laughing:

[2021-02-16 15:20] oke-aditya commented on #427
Haha so true, it is not regression a task. But maybe put it under `pl_bolts.models.ml` ? Where we could have simple ml models.

[2021-02-17 00:27] hchau630 opened #562 "SimCLR: using LARS with ddp_sharded causes TypeError: unexpected keyword argument 'lr'"
## 🐛 Bug

Using a trainer with accelerator='ddp' and plugins='ddp_sharded' to train a SimCLR model with lars_wrapper=True causes the following error:
[code]

The error disappears when either lars_wrapper = False or plugins = None. I suspect this is because the LARSWrapper does not belong to the torch Optimizer class and does not accept the keyword argument 'lr', unlike the usual torch optimizers,

[2021-02-17 16:44] timothyvanco commented on #416
Hi, I still get this error. I tried to run your code from colab (link in your youtube videos) but first I got a problem with:

`from pytorch_lightning.callbacks import LearningRateLogger`

then I solved it with:

`from pytorch_lightning.callbacks.lr_monitor import LearningRateMonitor`

but now I have an error :

[code]

please help! :)

[2021-02-18 20:31] its-dron opened #563 "Import warning on unused optional libraries: wandb, gym"
## 🐛 Bug

If `wandb` isn't installed, a warning is thrown upon import `pl_bolts` that alerts us to install `wandb`, before we've made any attempt nor effort to use it.

[code]

### To Reproduce

1. Create env with latest `pl_bolts` but without `wandb`.
2. `python -c 'import pl_bolts'`

### Expected behavior
No warnings about uninstalled downstream libraries until we attempt to use them.

### Envir

[2021-02-19 00:33] akihironitta commented on #563
@its-dron Hi, thank you for your suggestion! Your suggestion sounds reasonable!

@Borda We could probably remove these (noisy?) warnings and also make sure to raise `ModuleNotFoundError` with a helpful message when instantiating an object from class or when calling functions like [this](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/1bec12200ff60b9b58277b40d9232933e1aa9dbe/pl_bol

[2021-02-19 18:40] #396 closed

[2021-02-19 18:41] kartik4949 commented on #396
closing.

[2021-02-19 18:57] Borda commented on #396
@kartik4949 sorry for the delay, what do you think to be the advantage to have it here than in lower level lib like Kornia?
and would you be willing to implement it here? 🐰

[2021-02-19 19:07] kartik4949 commented on #396
@Borda thank you for reply :)
But with above suggestion and also in slack suggestion found out it wont be feasible to add it here :)

[2021-02-20 17:04] nmichlo opened #565 "VAE KL Divergence"
The current VAE implementation uses the following to calculate the KL divergence, which depends on the sampled `z` value.

This seems to differ from the original VAE and BetaVAE papers?

https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/1bec12200ff60b9b58277b40d9232933e1aa9dbe/pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py#L135-L140

I am curious as to why the KL diverge

[2021-02-21 13:52] akihironitta commented on #565
@nmichlo Hi, thank you for reporting the issue!

If I understand it correctly, this is about whether to analytically compute KL or to approximate it with `z` sampled from the posterior distribution q. I think this is doing the same thing basically, but I believe we should compute KL between the posterior q and prior p, as you pointed out, because the KL can be analytically computed.

Would you be

[2021-02-21 14:55] nmichlo commented on #565
I understand the reasoning now behind that approach.

I can submit a PR for the changes. Although I am not sure if the choice of "approximate" or "analytical" methods should be added as a hyperparameter, or if the goal is just to keep the VAE module as simple as possible?

[2021-02-22 01:45] kunal-savvy commented on #559
Thanks, it helps but documentation on "vision" models is lacking. Its not clear how to get output from them (like imagegpt2). We have to revert to full github code for it. While import worked, there is a new issue now; which I will add to different thread.

[2021-02-22 01:48] kunal-savvy commented on #559
Kitty error - "
ImportError: cannot import name 'KittiDataModule' from 'pl_bolts.datamodules' (/opt/anaconda3/lib/python3.7/site-packages/pl_bolts/datamodules/__init__.py)"

[2021-02-22 09:25] akihironitta commented on #559
@kunal-savvy I agree, the docs could be better for sure. I'll create an issue for that.

Could you run the command and share the output like below?
[code]

[2021-02-22 09:39] akihironitta commented on #565
@nmichlo Thank you for having interests in contributing! As far as I know, there is no reason for approximately computing KL where it's possible to compute it analytically. (Please correct me if I'm misunderstanding.) So, shall we just replace the current KL with the analytical one?

[2021-02-22 22:14] nmichlo opened #566 "VAE forward is non-deterministic"
## 🐛 Bug

Preparing the fix for #565 I noticed the VAE forward implementation is non-deterministic, as the latent representation is sampled from the posterior distribution `z ~ q(mu, std)`.

In practice this behavior probably only wanted during training. When the VAE is used for inference, we rather want to set the representation directly to `z = mu` and discard the `std`/`logvar` vector.

### To

[2021-02-22 22:38] nmichlo commented on #565
As far as I understand that is correct. I was about to put together a PR when I noticed #566, since it relates it might be easier combing these issues in a single PR?

----------

I also notice that the [bolts VAE docs](https://pytorch-lightning-bolts.readthedocs.io/en/latest/autoencoders.html?highlight=vae#basic-vae) state that you can override the distributions, however this functionality is cur

[2021-02-23 02:33] JeffreyWardman opened #567 "SwAV: Runtime Error: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu"
## 🐛 Bug

For the SwAV class, setting gpus=-1 in Trainer results in sinkhorn algorithm error due to one variable being on CPU and one on GPU, alongside other issues.

The class checks if self.gpus > 0 when it should really be checking that self.gpus != 0.

Runtime Error: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu

#### Code sample
[code]

### Expe

[2021-02-23 23:09] indigoviolet opened #568 "BatchGradientVerification should probably turn off batch norm"
## 🐛 Bug

In networks using Batch norm, there is "mixing" across the batch dimension but this probably doesn't indicate an error. Might be worth augmenting `BatchGradientVerification` and the associated callback to

(1) either always turn off batch norm, OR
(2) if we're about to return False, then check if turning it off will return True

Otherwise it can be super confusing to add this check and h

[2021-02-23 23:41] awaelchli commented on #568
Hi @indigoviolet
Thanks for trying out my callback hihi <3
That's a very good observation! I was aware of it and also bumped into this myself a few times haha, just never had the time to address it properly. I should have made it clearer that it is a heuristic :) But of course an extension would be nice to support this. Your two proposed solutions are both reasonable imo. I would go with the first

[2021-02-24 01:08] indigoviolet commented on #568
cool, PR attached @awaelchli

[2021-02-24 05:17] akihironitta commented on #566
@nmichlo Hi, thank you for your contribution again!

I'm actually neutral about your suggestion because it really depends on what people want to do with the model, and one can easily override the method `forward()`. So, I see it as almost preference that we should support deterministic reconstruction instead of non-deterministic reconstruction.

[2021-02-24 05:20] akihironitta commented on #565
This issue can be, I think, resolved independently of #566, so would you submit a PR addressing only this issue?

Would you mind creating an issue about it so that we can discuss it there?

[2021-02-25 15:29] wjn0 commented on #440
I think this issue should be looked at rather than closed (and ideally fixed if it indeed wasn't an intentional modification) - not that it seems to affect performance much. The PR would be super simple, and I'm happy to do if the original contributor of this implementation is too busy?

[2021-02-26 15:24] tchaton commented on #567
Dear @ananyahjha93,

Any reason he is passing gpus=-1 to the model ?

[code]

[2021-02-27 03:52] ethanjperez commented on #244
@williamFalcon is the citation malformed? It appears as "William Falcon and .al" - maybe you meant "William Falcon et al."?

[2021-03-02 16:24] mariaculman18 commented on #551
I got the same error, to solve it:

[code]

[2021-03-02 23:55] Spawnfile commented on #243
Thanks for suggestion.

[2021-03-03 10:59] FlorianMF opened #571 "LatentDImInterpolator change num_images calculation"
## 🐛 Bug

### To Reproduce
pass LatentDImInterpolator as callback to the lightning trainer.

use the default args: range_start=-5, range_end=5, steps=11

Train a GAN on some data (eg. a vanilla GAN on MNIST)

### Expected behavior
The interpolator creates 11 examples along each dimension (11x11)
Hence, num_images should be 121 and num_rows 11

The calculation though is only based on range_start an

[2021-03-03 14:21] tchaton commented on #571
Dear @FlorianMF,

Great catch ! Would you like to submit a PR to fix `LatentDImInterpolator` ?

Best,
T.C

[2021-03-03 14:44] FlorianMF commented on #571
Would you be OK changing the code as follows:
num_rows = int(math.sqrt(steps))
and drop num_images = (self.range_end - self.range_start)**2 ?

[2021-03-03 15:53] shashank2000 opened #572 "Discrepancy between the SimSiam paper and lightning implementation?"
https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/61d3a26f45b8f01232e76e18d22d55eecb4e6c77/pl_bolts/models/self_supervised/simsiam/models.py#L45

Possibly a nit - but it seems like we use the same hidden size for both the projection and prediction MLP, when in fact the projection MLP's hidden fc is supposed to be of dimension 2048 and the prediction MLP of hidden size 512. This is b

[2021-03-03 23:51] annikabrundyn commented on #440
hey @wjn0 I've just checked the paper again and I think you're right - thanks for spotting this! if you'd like you can submit a PR and ping me for review? also happy to make the change myself this weekend

[2021-03-04 20:07] #440 closed

[2021-03-04 21:37] #559 closed

[2021-03-04 21:48] #512 closed

[2021-03-04 21:49] Borda commented on #551
@ananyahjha93 any update here?

[2021-03-05 17:12] Dheeraj-Arremsetty opened #575 "Linear Regression Bolt's model not learning"
## 🐛 Bug

Bolts Linear regression model doesn't learn, loss value is always high. Hyperparameters are not really helping.

Here is my code snippet

[code]

Output:
`[{'test_loss': 27038.28125, 'test_mse_loss': 27038.28125}]`

![image](https://user-images.githubusercontent.com/8819938/110149270-7326dc80-7da3-11eb-9044-44e810fa72ac.png)

If we observe loss value is very high, tried training model wi

[2021-03-05 17:15] kunal-savvy opened #576 "Running Diagostics for Linear Regression in Bolts"
## 🚀 Feature

Is there way to run diagnostics plots in Bolts Linear regression module?

### Motivation

Its hard to tune model without plotting residuals , ggplot or homasckedacity. Not clear how to do it here?

### Pitch

### Alternatives

### Additional context

[2021-03-05 17:43] LucaMarconato opened #577 "importing pl_bolts makes a Jupyter xeus-python kernel crash"
## 🐛 Bug

If you run a `xeus-python` kernel in JupyterLab and then just execute `import pl_bolts`, the kernel will crash. Everything is fine with a normal `IPython` kernel. [I have also posted the bug in the `xeus-python`](https://github.com/jupyter-xeus/xeus-python/issues/422) repository since I don't know if the bug is in `pl_bolts` or in `xeus-python` (or in both).

[What is xeus-python?](https

[2021-03-06 15:34] agrinh commented on #443
@akihironitta Hey, sorry for the delay!

I had some real trouble getting the referenced PR working in DDP since the sacred objects cannot be pickled. I'm not sure if there's a _nice_ way of solving this. I ended up writing an implementation that holds the sacred object in a manager thread in the main process, and accepts metrics to log over a queue from the other processes. It works, but seems err