[2021-03-06 19:18] mxksowie opened #578 "ImportError thrown when importing PY3 from torch._six"
## 🐛 Bug

ImportError is thrown by imagenet_dataset.py due to inability to import PY3 from torch._six.

PY3 is no longer available for import from torch._six as of [PR #46579 in Torch](https://github.com/pytorch/pytorch/pull/49486/commits/0ebe248171623a98b1bb8389354b2067ca9377a3).

### To Reproduce

This bug was found when trying to import the AMDIM bolts package
Steps to reproduce the behavior:

[2021-03-06 20:57] #578 closed

[2021-03-06 20:59] #543 closed

[2021-03-07 04:12] davzaman opened #581 "cannot import name 'PY3' from 'torch._six' on fresh install of bolts"
## 🐛 Bug

Fresh install of pytorch-lightning and pytorch-lightning bolts leads to error `cannot import name 'PY3' from 'torch._six'`

Looks like it was renamed to `PY37` in `torch._six`. I changed all references to `PY3` to `PY37` inside `pl_bolts/datasets/imagenet_dataset.py` and the problem resolved.

[code]

#### Code sample
`from pl_bolts.datamodules import MNISTDataModule`

### Expected behav

[2021-03-08 01:42] #316 closed

[2021-03-08 14:25] kaushikb11 commented on #551
@ananyahjha93 Could you look into it? Would like to try new Lightning features with models in Bolts.

[2021-03-08 18:48] Borda commented on #581
@davzaman mind share what you mean fresh install, from git/master, or from pip?

[2021-03-08 19:10] davzaman commented on #581
Sure, I installed from conda actually. Here's all the steps used to initialize my new conda environment:
[code]

[2021-03-08 19:37] annikabrundyn commented on #576
hi @kunal-savvy mind elaborating a bit? for example, what tools do you currently use in python when evaluating the fit of a linear regression model?

are you just looking for a plot of the residuals vs the fitted values?

[2021-03-08 20:08] annikabrundyn commented on #575
hey @Dheeraj-Arremsetty - thanks for reporting! could you share the colab link to reproduce the issue?

[2021-03-08 21:27] Borda commented on #581
@davzaman I do not see how you install bolts...

[2021-03-08 21:41] davzaman commented on #581
Oh I'm so sorry i completely missed that line!`pip install pytorch-lightning-bolts`

[2021-03-08 21:46] Borda commented on #581
ok, can you try `pip install https://github.com/PyTorchLightning/pytorch-lightning-bolts/archive/master.zip`

[2021-03-08 21:57] davzaman commented on #581
I created a new env and instead of `pip install pytorch-lightning-bolts` I ran what you suggested and tried importing the MNISTDataModule and it did not produce errors.

[2021-03-08 22:32] #581 closed

[2021-03-08 22:33] Borda commented on #581
so it was fixed with #579

[2021-03-09 03:02] kunal-savvy commented on #576
No , not talking about fitted plot but diagnostics plot. Here is short link for commonality used diagnostic ( though there are more than this like multi collinirity & vif  as well. https://zhiyzuo.github.io/Linear-Regression-Diagnostic-in-Python/

[2021-03-09 10:57] Dheeraj-Arremsetty opened #582 "Can't import pytorch lightening module in colab"
## 🐛 Bug

Hello Pytorch Team,
I have been working on pytorch lightning for several days, I have never seen this error on Google Colab.
Not sure if there is any change that happened on colab side or lightning.

When I install pytorch lightning and try to import pytorch lightening module, it can't import and throws out the error. The same was working till yesterday. Not sure If I am doing anything w

[2021-03-09 10:59] #568 closed

[2021-03-09 11:20] #571 closed

[2021-03-09 17:17] kunal-savvy commented on #582
I am also getting same error. This is blocking our work. Any help?

[2021-03-10 03:51] ajsanjoaquin opened #587 "Accuracy metric does not work on Model predictions."
## 🐛 Bug

Error when using pytorch_lightning.metrics.Accuracy on logits, even though that is exactly the use-case stated in the [docs](https://pytorch-lightning.readthedocs.io/en/1.0.0/metrics.html#accuracy).

### To Reproduce

Steps to reproduce the behavior:

Using the accuracy metric on either the training or validation step with the expected logit inputs ((64 x 10), 10 = # of classes) and targ

[2021-03-10 11:32] Borda opened #588 "Failing SSL modules on GPU"
## 🐛 Bug

- [ ] something fishy on CPC in Bolts when I run it with GPU it fails; see:  https://dev.azure.com/PytorchLightning/lightning%20Bolts/_build/results?buildId=291[…]6016-870a6976ad29&t=98354d77-e326-51ec-536f-1549451db1fa&l=811
- [ ] AMDIM is crashing on GPU; see: https://dev.azure.com/PytorchLightning/lightning%20Bolts/_build/results?buildId=293[…]016-870a6976ad29&t=98354d77-e326-51ec-536

[2021-03-10 11:35] Borda opened #589 "failing gradient verification on PT 1.8 with GPU"
## 🐛 Bug

Failing verification with Out of memory

[code]

### To Reproduce

https://dev.azure.com/PytorchLightning/lightning%20Bolts/_build/results?buildId=2931&view=logs&j=3afc50db-e620-5b81-6016-870a6976ad29&t=98354d77-e326-51ec-536f-1549451db1fa&l=1984

### Additional context

[2021-03-10 11:37] Borda commented on #588
by @ananyahjha93 the fix for resnet shall be
[code]

[2021-03-10 12:50] #553 closed

[2021-03-10 13:38] Borda commented on #567
seems we have the same problem with BYOL too #588

[2021-03-11 12:34] Dheeraj-Arremsetty commented on #575
@annikabrundyn Here is the link to collab - https://colab.research.google.com/drive/1zPOJHeCeofwaUorQvSQO4hR6KXxhPAwO?usp=sharing

[2021-03-14 08:56] johnpeterson123 commented on #434
I'm going to work on `pl_bolts.optimizers` now!

[2021-03-15 06:56] #301 closed

[2021-03-15 15:41] Dheeraj-Arremsetty commented on #575
@annikabrundyn Please let me know if you are able to access the colab notebook and also let me know if you need more info from me.

[2021-03-16 03:09] akihironitta commented on #434
@johnpeterson123 Thank you for your contribution!

[2021-03-16 07:26] mlinxiang commented on #587
meet the same problem when pytorch-lighting 1.2.0. when 1.1.6 run success

[2021-03-16 11:11] jeromepatel commented on #434
I am interested in working on `pl_bolts.models.regression.*` .

[2021-03-16 12:03] #361 closed

[2021-03-16 20:40] blahBlahhhJ opened #596 "Add A2C, ACER, and TRPO for Reinforcement Learning"
## 🚀 Feature
Implementation of more RL actor-critic based algorithms (models) like A2C, ACER, and TRPO.

### Motivation

The RL section in this project has very few popular algorithms, especially lacking many policy-based and actor-critic-based algorithms. The only policy-based algorithms available now are policy gradient and REINFORCE, which are very old algorithms, and this was also pointed out

[2021-03-17 06:06] akihironitta commented on #596
@blahBlahhhJ Hi, thank you for suggesting your ideas! Feel free to submit PRs!

[2021-03-17 06:29] akihironitta commented on #582
@Dheeraj-Arremsetty @kunal-savvy Hi, sorry for the delay. As @ajsanjoaquin mentioned, the problem should be resolved now. Mind having a look at https://github.com/PyTorchLightning/pytorch-lightning/issues/6415 or [stackoverflow](https://stackoverflow.com/questions/66538407/unable-to-import-pytorch-lightning-on-google-colab)?

[2021-03-17 06:29] #582 closed

[2021-03-18 11:32] tchaton commented on #575
Dear @annikabrundyn @Dheeraj-Arremsetty,

Thanks for reporting the bug. We will look into it promptly.

Best,
T.C

[2021-03-18 18:08] FlorianMF opened #597 "missing classmethod decorator on from_pretrained methods"
## 🐛 Bug

The method from_pretrained in at least AE (basic_ae_module.py) and VAE (basic_vae_module.py) should be a classmethod to instantiate an object using this method.
Momentarily calling this method returns TypeError: from_pretrained() missing 1 required positional argument: 'checkpoint_name'.

### Environment

 - Bolts: 0.3.0

[2021-03-18 18:12] FlorianMF commented on #597
In the fixed issue https://github.com/PyTorchLightning/lightning-bolts/issues/224 the model has first to be instantiated and than the method called.
The docstrings though state the following :
[code]

[2021-03-18 20:48] rchen19 commented on #587
I think this is because previous PL classification metrics does check if the preds are between 0 and 1 when they are floats, but just assumed they are probabilities, this could give you incorrect results without any warning.

Now PL actually checks the values of preds if they are floats, and enforces the range to be [0, 1], so it looks like you need to add a sigmoid layer after your network output

[2021-03-19 02:18] mlinxiang commented on #587
i solve this by add softmax to the logits, because pytorch crossentroyloss include softmax so the output not add this, but metris need

[2021-03-19 10:42] andrei-pokrovsky opened #599 "Error in docs for CIFAR10DataModule"
https://pytorch-lightning-bolts.readthedocs.io/en/0.2.0/api/pl_bolts.datamodules.cifar10_datamodule.html

It looks like the dm argument is passed as train_dataloader while the intention is to pass it as datamodule. This appears to be because both train_dataloader and datamodule args are optional and train_dataloader inherits from DataModule so it passes the type check.

This applies to the followi

[2021-03-19 10:53] andrei-pokrovsky commented on #599
I do now see that in data_connector.py in attach_data train_dataloader is checked for whether it's an instance of LightningDataModule type but it seems counterintuitive and I would say surprising, perhaps a more self-explanatory and strict API for fit() would be better. One idea is perhaps to use a union of datamodule and a tuple of dataloaders as a second argument to fit so it's self-explanatory

[2021-03-19 22:06] hudeven opened #600 "pypi doesn't have the latest version 0.3.1"
## 🐛 Bug

I'm trying to use the Lightning "BoringModel" Notebook to report an issue. However, it failed due to `cannot import name 'PY3' from 'torch._six'`. This issue is fixed in https://github.com/PyTorchLightning/lightning-bolts/pull/579 and released in 0.3.1. However, pypi only has 0.3.0

### To Reproduce

Steps to reproduce the behavior:

Run: https://colab.research.google.com/drive/1LS4inSzL

[2021-03-19 22:55] Borda commented on #600
@hudeven pls use `lightning-bolts==0.3.2rc1`

[2021-03-19 23:19] hudeven commented on #600
@Borda it works, thanks! Is "pytorch-lightning-bolts" going to be deprecated? If so, could you update the "BoringModel" Notebook with "lightning-bolts"?

[2021-03-19 23:33] Borda commented on #600
great point, would you send a PR with this fix? :]

[2021-03-20 00:49] #600 closed

[2021-03-20 08:42] Atharva-Phatak opened #603 "Addition of Metric Learning Heads like ArcFace , CosFace ,etc"
## 🚀 Feature

Metric Learning (especially person re-id) is an important research area. What I want is to add metric learning modules like ArcFace, CosFace in bolts so that it will be easy for researchers or people who want to use metric learning-based modules in their pipeline

### Motivation

Personally, whenever I work with metric learning modules I always have to code them up and it's frustrati

[2021-03-20 08:54] akihironitta commented on #603
@SkafteNicki might be interested in this?

[2021-03-20 09:13] akihironitta commented on #599
@andrei-pokrovsky Thank you for reporting the issue. For the docs, would you mind having a look at the latest docs? https://pytorch-lightning-bolts.readthedocs.io/en/latest/datamodules_vision.html

[2021-03-20 09:26] akihironitta commented on #597
@FlorianMF Thank you for reporting the issue. We recently fixed the docs in #557, so could you have a look at the latest docs?
https://pytorch-lightning-bolts.readthedocs.io/en/latest/autoencoders.html

related: https://github.com/PyTorchLightning/lightning-bolts/issues/200

Feel free to reopen this issue if there's still any problem.

[2021-03-20 09:26] #597 closed

[2021-03-20 09:35] akihironitta commented on #577
@LucaMarconato Thank you for reporting the issue. Unfortunately, I'm not familiar with `xeus-python`, but people in the community might be able to help you debug if there's any error log or other information. One thing I'd try is to use Python {3.6,3.7,3.8} because there are still few packages that officially support 3.9, including `pytorch-lightning`.

[2021-03-20 09:44] akihironitta commented on #587
@SkafteNicki Could you have a look at this issue?

[2021-03-20 10:16] akihironitta commented on #186
@HenryJia Thank you for your suggestion! Feel free to submit PRs!

[2021-03-20 12:29] SkafteNicki commented on #587
Our metrics interface does not currently support non-normalized inputs (e.g. logits), here is a open issue for it in the torchmetrics repo: https://github.com/PyTorchLightning/metrics/issues/60.
I have it in my pipeline within the next couple of weeks, as I am in the process of standardizing the internals of metrics.

As @mlinxiang mentions, the solution for now is to apply softmax transformation

[2021-03-20 12:35] SkafteNicki commented on #603
@akihironitta that depends on the scope here. @Atharva-Phatak are we talking about the full module or only the loss functions?

[2021-03-20 12:43] Atharva-Phatak commented on #603
@SkafteNicki I think loss functions should be better for now, since the backbone construction is most of the time custom depending upon the problem. But usage of arc face loss and cos face loss seems to be the same. Of course in future versions, we can add full modules with i-resnet and stuff. But I would like to know your thoughts as well

[2021-03-20 13:10] SkafteNicki commented on #603
I am asking, because maybe if we are only talking about the loss functions it may fit better within the scope of our [torchmetrics](https://github.com/PyTorchLightning/metrics) package. That said, bolts also have losses implemented so I am also fine with the implementations staying here.

[2021-03-20 13:16] Atharva-Phatak commented on #603
I thought bolts would be a better place since most research stuff is implemented in bolts, so that's why. But I am fine with it implemented anywhere. Should I create a pull request ? If so where should I add them in pl-bolts ?

Implementation is pretty simple as well. Very Simple classes with some core logic.

@SkafteNicki @akihironitta would like some guidance.

[2021-03-20 13:30] SkafteNicki commented on #603
Then lets go for bolts :]
Is there any specific reason that they need to be implemented as classes or could they be simple functions?
IMO i would say:
* create a single file called `metric_learning.py` in folder `pl_bolts/losses/`
* implement all loss functions in that file
* implement corresponding test in `tests/losses/test_metric_learning.py` where you make sure the metrics calculate exactly wh

[2021-03-20 13:59] Atharva-Phatak commented on #603
Well, the main reason for implementing them as classes is because you need to initialize the weight vector-only with some random weights, as our model trains the respective weights get updated with the backdrop, its not in its true sense a loss function but more like some geometric operations done on the input features(output of the backbone) to increase inter-class distance and minimize the intra

[2021-03-20 20:13] jmarrietar commented on #555
Hi everyone!  My 0.2 cents:

+1 to what @lbugnon says. Maybe this implementation should be more flexible and general to custom datasets ?.

[2021-03-22 12:57] Haydnspass opened #606 "FasterRCNN does not load from checkpoint if customized"
## 🐛 Bug

FasterRCNN does not load from checkpoint if customized, i.e. when I change the number of classes and train, the model can not be reconstruted from checkpoint.

### To Reproduce
see code sample.

#### Code sample
[code]
[code]

### Expected behavior
should work

### Environment

 - PyTorch Version (e.g., 1.0): 1.8, PL 1.1.8, Bolts 0.3.1
 - OS (e.g., Linux): Ubuntu 20.04
 - How you install

[2021-03-22 18:52] kcetskcaz commented on #419
This should be revived as this causes data leakage since the validation embeddings are unintentionally enqueued and used for subsequent training steps. Unless your validation and training datasets are the same (which is often not the case), this will (and has, at least for me) cause a massive headache for many users that naively assumed that the validation metrics were purely reported without givi

[2021-03-24 07:19] malleu opened #607 "SimCLR Model on CIFAR10DataModule: index out of bounds error"
## 🐛 Bug

I was trying to use the pytorch lightning bolts model SimCLR on my custom Dataset, with a custom DataModule and was always running into an index out of bounds error. Then I tested on the CIFAR10 DataModule and realized that I have a similiar issue on the standard code example below.

### To Reproduce

see code sample.

#### Code sample
[code]
[code]
### Expected behavior

No errors.

###

[2021-03-26 12:17] #128 closed

[2021-03-26 12:17] #229 closed

[2021-03-26 17:06] joseporiolayats commented on #551
Hi, still not working with main and nightly version. It works with 1.1.8

[2021-03-29 17:07] #304 closed

[2021-03-30 14:08] akihironitta commented on #434
Not sure if we want to continue on this issue because there will be a lot of `# type: ignore` comments in the codebase (like in #444 and #608), which I think lowers readability. Should we still keep adding type hints to Bolts?

[2021-03-31 05:56] ricolike opened #609 "SimCLR loss calculation seems deviating from original paper"
## 🐛 Bug

as title

### To Reproduce

I the denominator shall substract exp(1/temp) rather than exp(1)

#### Code sample
Suspect at here:
https://github.com/PyTorchLightning/lightning-bolts/blob/9044ed143c7f1e20164de12208f451c7a8d9718f/pl_bolts/models/self_supervised/simclr/simclr_module.py#L284

### Expected behavior

I haven't tested whether my proposed implementation would improve performance,

[2021-03-31 22:50] #456 closed

[2021-04-01 17:59] zlenyk opened #610 "Does BYOL work without sync_batchnorm?"
Hi! I wanted to ask authors of BYOL code questions, which is more of a discussion.

I can see that you didn't use sync_batchnorm in Trainer when implementing BYOL. Per my understanding of this methods, calculating statistics over all GPUs/TPUs should be crucial for this algorithm to work well. Is this a conscious decision on your side?

I'm sorry I can't prove my hypothesis with some experimental

[2021-04-02 18:09] arvindmuralie77 commented on #496
Dear  @akihironitta , I think everything seems fine except for the wrong key name in the dictionary. Is there more to this issue? Otherwise, I'll send a PR.

[2021-04-03 14:48] akihironitta commented on #496
Hello @arvindmuralie77, I don't think there is. It'd be fantastic if you could send a PR.

[2021-04-06 16:18] MkuuWaUjinga opened #612 "SSL models: Mocov2 is actually Mocov1 by default."
## 🐛 Bug
Reading through the docs and the naming of the class `Mocov2` suggests that the default is per https://arxiv.org/abs/2003.04297. However, the usage of an mlp projection head and the reduced temperature parameters need to be set explicitly. Also, the cosine learning rate scheduler is missing.

### Expected behavior
I'd expect the default initialization of the `Mocov2` class to be in-line w

[2021-04-07 01:29] ananyahjha93 commented on #567
I don't think ``gpus=-1`` is a valid argument for this setting.

[2021-04-07 01:29] #567 closed

[2021-04-07 10:08] JeffreyWardman commented on #567
@ananyahjha93 the documentation states that Trainer should be able to receive `gpus=-1`, so this should therefore be valid for the SwAV module (and any other module).

[2021-04-07 13:25] Moadab-AI opened #614 "dataset_cls() definition in VisionDataModules?"
I cant find the definition of self.dataset_cls that is being called here in VisionDataModules except for being only "typed" at the class definition:

https://github.com/PyTorchLightning/lightning-bolts/blob/9044ed143c7f1e20164de12208f451c7a8d9718f/pl_bolts/datamodules/vision_datamodule.py#L63

It doesn't seem to be inherited from superclass either. is it a bug?

[2021-04-07 16:52] akihironitta commented on #614
@Moadab-AI Specific values for `dataset_cls` are assigned in each datamodule subclass.

https://github.com/PyTorchLightning/lightning-bolts/blob/9044ed143c7f1e20164de12208f451c7a8d9718f/pl_bolts/datamodules/mnist_datamodule.py#L43

[2021-04-07 17:11] #496 closed

[2021-04-07 18:50] ananyahjha93 commented on #567
@JeffreyWardman we do need the exact number of GPUs for self-supervised learning models as we need to compute steps per training epoch for learning rate schedule. In that case the simplest solution is for the user to input the gpu count themselves and hence the -1 argument becomes invalid in this particular setting.

[2021-04-07 23:33] JeffreyWardman commented on #567
@ananyahjha93 The GPU count can be easily determined in the backend with a single line to maintain consistency across the library.

[2021-04-08 14:26] ydar95 opened #615 "There is an unreasonable use of MoCov2"
In [,MoCo2_Module](https://github.com/PyTorchLightning/lightning-bolts/blob/master/pl_bolts/models/self_supervised/moco/moco2_module.py)
When PL Run this module, "validation_step" will call "forward"  to calc "output, target" , but, at "forward", it must to call "_dequeue_and_enqueue" and "_momentum_update_key_encoder"。
I think this will leak the test-set infos, and momentum-update in validation_s

[2021-04-08 14:29] ydar95 commented on #615
![image](https://user-images.githubusercontent.com/18264807/114044453-d7185580-98b9-11eb-9444-9033eb6d8ed7.png)

[2021-04-08 15:51] Moadab-AI commented on #609
Actually exp(1/Temperature) should be subtracted not exp(-Temperature)

[2021-04-08 17:15] #614 closed

[2021-04-09 02:16] ricolike commented on #609
Exactly! I revised my comments.
BTW, I tried the new formula on my project, which is based on Pytorch Lightning SimCLR implementation, and found no drastic difference in performance.

[2021-04-10 06:06] #545 closed

[2021-04-10 06:06] #547 closed

[2021-04-10 06:06] #548 closed

[2021-04-10 06:06] #463 closed

[2021-04-10 06:06] #532 closed

[2021-04-10 06:06] #436 closed

[2021-04-10 18:16] chris-clem opened #620 "Let VisionDataModule accept torchvision's datasets that have split arg"
## 🚀 Feature
As proposed by @akihironitta in the comment down below from another PR, `VisionDataModule` should accept `torchvision`'s datasets that have `split` arg.

I would be happy to do the PR as I did the PR for the `VisionDataModule`.

### Additional context

I think that's a good idea! The current `VisionDataModule` should accept `torchvision`'s datasets that have `split` arg. Would you be

[2021-04-11 05:14] #207 closed

[2021-04-11 22:24] staniPetrox opened #622 "pretrained VAE bug?"
## 🐛 Bug

Hey hey!
I am trying to train a pretrained VAE. I have 3 channeled RBG byte data and try to train it on pl_bolts.models.autoencoders, which eventually produced a bug.

## Please reproduce using the BoringModel

[code]

[code]

The obvious thing to check is if my datatypes are indeed Byte-format - uint8 as I understand. It is indeed. It is uint8 in my script, it is basic_vae_module.py, I

[2021-04-12 17:37] dleve123 commented on #587
@ajsanjoaquin I'm curious if just adding a softmax layer to your model did the trick to work lightning's metrics and led to a well-trained model? It seems like you shouldn't use [`nn.CrossEntropyLoss` when your model outputs normalized probabilities](https://discuss.pytorch.org/t/multi-class-cross-entropy-loss-and-softmax-in-pytorch/24920/2).

What ended up working here?

[2021-04-12 20:14] #562 closed

[2021-04-12 20:14] #609 closed

[2021-04-13 03:25] ajsanjoaquin commented on #587
@dleve123 Yup. I added the softmax layer and used negative log-likelihood loss instead.

[2021-04-14 09:25] summelon commented on #551
Any solution with v1.2.6?
Indeed it works on v1.1.8.
While some features I want lose in v1.1.8

[2021-04-16 03:45] NicoMandel commented on #587
Hi all.
I came across this bug when trying to re-implement the [Youtube masterclass tutorial](https://www.youtube.com/watch?v=tgp56S2eGFE&list=PLaMu-SDt_RB5NUm67hU2pdE75j6KaIOv2&index=4) - and I am not quite sure what the fix is... So in the video, the import is `from pytorch_lightning.metrics.functional import accuracy`, and the use is in the `traininig step` function... Would I have to redefine

[2021-04-16 21:23] rchen19 commented on #587
Can you specify the error you are getting?

[2021-04-18 21:52] #21 closed

[2021-04-19 00:10] NicoMandel commented on #587
Hi @rchen19 thanks for the comment. The error I am getting is the following:
[code]
The code it is supposed to be running is:
[code]
in the `training_step` function.
The network is defined as:
[code]
And the forward pass as:
[code]
Just like in the [Masterclass Video](https://www.youtube.com/watch?v=DbESHcCoWbM)
The import is:
` from pytorch_lightning.metrics.functional import accuracy`
any ideas

[2021-04-19 06:35] rchen19 commented on #587
@NicoMandel As the error message suggested, you need apply either sigmoid, for binary classification, or softmax for multiclass classification, to the logits you get from the model output, before you pass it to the metric.

[2021-04-19 22:41] NicoMandel commented on #587
Hi, thank you for that.
Would I do that by appending another layer to the model, or do I do it after the loss? So is it added to the `__init__` as:
[code]

 or in the `traiing_step` as
[code]

I thought softmax and Cross-entropy should not be used together? [Nielsen](http://neuralnetworksanddeeplearning.com/chap3.html#introducing_the_cross-entropy_cost_function)

[2021-04-19 23:16] rchen19 commented on #587
@NicoMandel depending on the loss you use, I see you are using `CrossEntropyLoss`, not `NNLLoss`, so your loss accepts logits, then you need to apply softmax right before your accuracy metric.

[2021-04-23 04:51] #538 closed

[2021-04-23 04:51] #544 closed

[2021-04-24 15:30] #556 closed

[2021-04-27 14:29] Pratyush1991 commented on #587
Hello @NicoMandel ,

The only part you need to change is accuracy.

        # 2 computing the loss function
        J = self.loss(logits, y)

        # lightning 4 - also getting the accuracy and showing it in the pbar
        acc = accuracy(F.softmax(logits, dim=1), y)          #Apply softmax to logits here
        pbar = {'train_acc': acc}

[2021-05-03 06:55] #554 closed

[2021-05-03 10:13] chtlp opened #810 "can't reproduce the SwAV STL-10 example"
## 🐛 Bug

Hi, I can't reproduce the SwAV STL-10 model results using instructions from the document:
https://pytorch-lightning-bolts.readthedocs.io/en/latest/self_supervised_models.html#id21

### To Reproduce

Because I don't have a V100, I am training with 1 or 2 2080ti. I restricted the batch size to 64 because of the smaller GPU memory.

Training with 2 GPUs:
[code]

Training with 1 GPU:
[code]

[2021-05-05 12:20] maximzubkov opened #630 "Bug with Moco on validation step"
## 🐛 Bug

I was using `pytorch-ligntning` and especially `MocoV2` in the scope of my undergraduate thesis which I do at JetBrains Research, and I found the implementation of the validation stage strange.

As was shown in the following issue https://github.com/PyTorchLightning/lightning-bolts/issues/615 , currently in `MocoV2` the `validation step` is absolutely identical  to the `train step`, and

[2021-05-05 23:56] amirajaee commented on #416
I'm facing the same issue.

@timothyvanco Is there anywhere I can find their notebook shown on youtube?
I typed the whole thing watching their YouTubes and facing many errors.

[2021-05-06 08:24] akihironitta opened #632 "Downloading MNIST fails due to HTTP Error 503"
## 🐛 Bug
http://yann.lecun.com/exdb/mnist/index.html often gets unavailable, and because of the issue, some of the tests fail in Bolts due to 503. This is a known issue https://github.com/pytorch/vision/issues/3549 and its patch will be included in 0.9.1.

### To Reproduce
https://dev.azure.com/PytorchLightning/lightning%20Bolts/_build/results?buildId=7496

[2021-05-06 14:32] akihironitta commented on #632
As far as I investigated, there are two known issues about MNIST downloading:
- 403 (https://github.com/pytorch/vision/issues/1938)
- 503 (https://github.com/pytorch/vision/issues/3549)

For 403 error, we can fix it by setting the user agent to avoid the cloudflare filter as done in PL: https://github.com/PyTorchLightning/pytorch-lightning/pull/6357

For 503 error, we need to use a different URL t

[2021-05-06 14:37] oke-aditya commented on #632
The patch is already in stable torchvision, it redirects to a new mirror.

[2021-05-06 15:09] akihironitta commented on #632
@oke-aditya Yes, I'm aware of the mirror link. However, I don't think fixing the version of `torchvision` at 0.9.1 only for this issue would be a reasonable fix as it requires users to update their `torchvision`.

[2021-05-06 15:14] oke-aditya commented on #632
Yep I don't think so that's the way to use. What possibly can be done is to copy paste `dataset.mnist` from torchvision, and just use it.

[2021-05-06 15:55] #599 closed

[2021-05-11 13:41] ethanwharris opened #640 "`ValueError: too many values to unpack` with simclr_module.py"
## 🐛 Bug

Bug report from slack: Getting a ValueError with simclr

### To Reproduce

https://colab.research.google.com/drive/18G-7vnx9LyaADoZZTq_Wh5nKS_exwOHU?usp=sharing

[2021-05-11 19:59] Xiang-Pan opened #642 "pl_bolts simclr demo error"
## 🐛 Bug

## Please reproduce using the BoringModel
[code]

[code]

[2021-05-11 20:16] ethanwharris commented on #640
Related simclr issue here: https://github.com/PyTorchLightning/pytorch-lightning/issues/7488

[2021-05-12 08:53] RyannDaGreat opened #643 "I think this line is redundant?"
This is a tiny issue so I'm not sure it's worth making a pull request for. That being said, I don't understand the purpose of the 3rd line here:

[code]

We could add the following assertions...

[code]

And then get rid of the conditional...

[code]

https://github.com/PyTorchLightning/lightning-bolts/blob/cb687e6cd04652fbf028d3f788d1b422138f6be6/pl_bolts/models/rl/common/agents.py#L130

[2021-05-12 10:36] mariaculman18 commented on #551
Still not working for v1.3.1

I wanted to use _CombinedLoader_ feature, but had to go back to v1.1.8.

[2021-05-12 10:42] summelon commented on #551
[code]
For now, this works well for me.

[2021-05-12 11:21] mariaculman18 commented on #551
Thanks! Now working on the latest version :D

[2021-05-12 20:06] #587 closed

[2021-05-14 09:47] t-vi opened #644 "Doesn't built on Python 3.9 / PyTorch master due to wrong type annotations"
## 🐛 Bug

`__iter__` in `pl_bolts/datamodules/experience_source.py` is annotated as returning an `Iterable` when it should return an `Iterator` (`__iter__` is implemented on `Iterable`s to give `Iterator`s).

### To Reproduce

With lightning bolts master and Python 3.9 and PyTorch master:

[code]

### Expected behavior

Working setup.py

### Environment

 - PyTorch 1.9 (master)
 - OS (e.g., Linux)

[2021-05-14 10:18] #644 closed

[2021-05-14 12:22] cgerum opened #646 "Support LoggingCollection for DataMonitors"
## 🚀 Feature

DataMonitors currently are only working when a single TensorBoard or Wandb logger is used.

They should also work if multiple loggers are used and at least one of them is a supported logger, e.g.:

    logger = [CSVLogger(), TensorBoardLogger()]

Not sure wether this is a feature request or a bug report.

[2021-05-16 13:44] SteEcker commented on #606
Try `model = FasterRCNN.load_from_checkpoint("path/to/.ckpt", num_classes= 2)
`
This works on my side, however I am not sure if this is a bug or intended.

[2021-05-16 18:04] #443 closed

[2021-05-18 14:34] MkuuWaUjinga opened #648 "Lightning fails when LARS wrapper is used for optimizer"
## 🐛 Bug

When optimizer is wrapped by LARS wrapper from `from pl_bolts.optimizers.lars_scheduling import LARSWrapper` PL fails with
[code]

### To Reproduce
Just use any pl module using a lars wrapper e.g.
`python -m pl_bolts.models.self_supervised.swav.swav_module --gpus 1 --lars_wrapper`

### Environment
pytorch-lightning == 1.3.1

This is likely due to PyTorchLightning/pytorch-lightning#7277.

[2021-05-19 02:38] #589 closed

[2021-05-19 02:38] #588 closed

[2021-05-19 02:38] #576 closed

[2021-05-20 02:03] sflippl opened #649 "Optional sample size for training data in VisionDataModule"
## 🚀 Feature
It would want to add an argument 'train_split' in addition to 'val_split' for VisionDataModules. It would be nice to be able to independently control training and validation size in the datasets.

### Motivation

If I want to explore something like sample efficiency, I tend to want to avoid varying validation data sizes. But at the moment, this seems to be the only way to control the

[2021-05-20 06:05] ruotianluo opened #650 "chaining schedulers"
## 🚀 Feature
Currently (to the best of my understanding), each optimizer can only paired with one lr scheduler. As shown in the official pytorch doc(https://pytorch.org/docs/master/optim.html), one can actually chain two schedulers with one optimizer.

### Motivation

I want to have two lr_scheduler, that is a linear warmup(with iteration) followed by a epoch-wise decay. So I need two lr_scheduler

[2021-05-23 05:23] ruotianluo commented on #650
Wrong repo. sorry

[2021-05-23 05:23] #650 closed

[2021-05-23 14:25] dudalev opened #651 "vae.from_pretrained fails on windows"
On Windows 10 this code
from pl_bolts.models.autoencoders import VAE

vae = VAE(input_height=32)
print(VAE.pretrained_weights_available())
vae = vae.from_pretrained('stl10-resnet18')

fails to download weights -

Downloading: "https://pl-bolts-weights.s3.us-east-2.amazonaws.com\vae/vae-stl10/checkpoints/epoch%3D89.ckpt" to C:\Users\qwe/.cache\torch\hub\checkpoints\epoch%3D89.ckpt

I'm about to mak

[2021-05-23 15:25] tarunn2799 commented on #436
Hey has there been any fix for this? I'm facing the same issue.

[2021-05-24 20:50] aribornstein opened #653 "EarlyStopping got an unexpected keyword argument 'stopping_threshold'"
## 🐛 Bug

 File "train.py", line 222, in cli_main
    early_stopping = EarlyStopping(
TypeError: __init__() got an unexpected keyword argument 'stopping_threshold'
Traceback (most recent call last):
  File "/runner.py", line 134, in <module>
    run_command(main_command)
  File "/runner.py", line 36, in run_command
    subprocess.check_call(command,
  File "/opt/conda/lib/python3.8/subprocess.py",

[2021-05-26 16:00] garryod opened #654 "Softmax applied twice when computing loss in LogisticRegression"
## 🐛 Bug

In the `LogisticRegression` model, loss is computed as the negative log-likelihood of the log-softmax of the softmax of the linear classifier outputs. I.e. `loss = F.nll_loss(F.log_softmax(F.softmax(self.linear(x))), y)`

### To Reproduce

#### Code sample

[code]

### Expected behavior

Network loss should be computed as the cross entropy of predictions and targets (negative log likelih

[2021-05-29 13:25] tarunn2799 commented on #607
I'm facing the same issue, and I've noticed that the number of times the learning rate scheduler is called is more than it should be. Might be wrong here. Hope this issue gets solved.

[2021-05-30 14:10] #575 closed

[2021-06-02 16:40] JACKHAHA363 opened #656 "SWAV result on STL10 no longer valid"
## 🐛 Bug

I am trying to reproduce the STL10 result as is suggested [here](https://pytorch-lightning-bolts.readthedocs.io/en/latest/self_supervised_models.html#stl-10-baseline). I clone the latest the repo and try to run
[code]
Since `--lars_wrapper` is no longer available, I use `--optimizer lars`. I also disable the `fast_dev_run`. However, at 50 epochs, the val acc is around 20%, unlike the 70%

[2021-06-03 05:39] MiladInk opened #658 "SimCLR cifar-10 pretrained model url is not correct"
Hi All! Thanks for creating the awesome lightning-bolts!
I just needed pre-trained SimCLR on cifar-10 from [here ](https://pytorch-lightning-bolts.readthedocs.io/en/latest/self_supervised_models.html#simclr) and it seems actually the url provided in the documentations is for imagenet.
![image](https://user-images.githubusercontent.com/18356953/120592872-8d0ca580-c40c-11eb-9a5b-4b1a7ec19920.png)

[2021-06-04 15:57] LucaMarconato commented on #577
The problem disappears when installing `pytorch-lightning` from conda instead than from pip, as it [has been pointed out here](https://github.com/jupyter-xeus/xeus-python/issues/422#event-4842335190).

I close the issue as there is a workaround and probably it is not worth the effort to investigate more into it.

[2021-06-04 15:57] #577 closed

[2021-06-04 17:28] ananyahjha93 commented on #658
Thanks for bringing this to our notice, I will send in a PR.

[2021-06-09 00:40] #603 closed

[2021-06-09 00:40] #555 closed

[2021-06-09 00:40] #480 closed

[2021-06-14 20:26] #612 closed

[2021-06-15 06:54] abhayraw1 opened #660 "Add ability add custom/modified backbone to FasterRCNN"
## 🚀 Feature
In the [Faster RCNN](https://github.com/PyTorchLightning/lightning-bolts/blob/master/pl_bolts/models/detection/faster_rcnn/faster_rcnn_module.py) bolt, it would be awesome to have the functionality to pass custom `pl.LightningModules` or `torch.nn.Module` backbone. In the current state, the constructor requires the `backbone` argument to be a `str`

https://github.com/PyTorchLightning

[2021-06-15 08:30] Borda commented on #660
@abhayraw1 that would be great, do you want to implement it?

[2021-06-15 09:46] abhayraw1 commented on #660
@Borda sure! Will drop a PR soon!

[2021-06-15 14:06] RGring commented on #648
+1

[2021-06-15 14:26] RGring commented on #459
@ananyahjha93 Yes setting the nmb_crops to the same as in the defaults helped.

[2021-06-15 22:34] #651 closed

[2021-06-16 00:23] norabelrose opened #662 "Softmax applied twice in SSLOnlineEvaluator callback"
## 🐛 Bug

It looks like the `SSLEvaluator` module includes a `nn.Softmax()` operation as its last layer, but the `SSLOnlineEvaluator` callback, which trains an `SSLEvaluator` module, uses `F.cross_entropy_loss` as the loss function. This is mathematically incorrect and could lead to systematically worse prediction performance, since `F.cross_entropy_loss` expects raw, unnormalized scores instead o

[2021-06-16 08:14] #654 closed

[2021-06-16 09:59] #662 closed

[2021-06-16 22:23] amogkam commented on #644
Can a new release be made with this fix? Otherwise lightning-bolts is unusable with torch 1.9 which got released yesterday.

[2021-06-17 13:35] talhaanwarch commented on #551
but this would not work for multilabel F1 score

[2021-06-20 16:00] m-kuoch opened #666 "Error when loading pretrained ImageNet CPC_v2"
## 🐛 Bug

Error when loading pretrained ImageNet CPC_v2 from path 'https://pl-bolts-weights.s3.us-east-2.amazonaws.com/cpc/resnet18-v6/epoch%3D85.ckpt'
[code]
### To Reproduce

Steps to reproduce the behavior: import CPC_v2 and attempt to load pretrained weights, as in the code below

#### Code sample
[code]

### Expected behavior

Loads pretrained ImageNet weights for CPC_v2 for ResNet18 encoder

[2021-06-23 20:35] stanton119 opened #668 "Classic Regression model regularisation error"
Hi,

The L1 and L2 regularisation for both the linear and logistic regression models includes the bias, rather than just the weights.
e.g. as seen here:
https://github.com/PyTorchLightning/lightning-bolts/blob/master/pl_bolts/models/regression/linear_regression.py#L61

The regularisation is commonly only applies to the weights and the bias remains unaffected. More discussion:
https://stats.stackex

[2021-06-24 05:55] murphyk opened #670 "bolts.MNISTDataModule.prepare_data() tries to get the data from incorrect URL"
bolts.MNISTDataModule.prepare_data() tries to get the data from incorrect URL.
It says
` Downloading http://yann.lecun.com/exdb/mnist/https://ossci-datasets.s3.amazonaws.com/mnist/train-images-idx3-ubyte.gz.`
 Here is the code to reproduce the issue:
[code]

[2021-06-24 06:00] murphyk opened #671 "dm.imagenet documentation issue"
In https://lightning-bolts.readthedocs.io/en/latest/datamodules_vision.html#imagenet, it says `This method already assumes you have imagenet2012 downloaded. It validates the data using the meta.bin.` However no instructions are given on how to do this (unlike, say, the instructions you give for cityscapes)

[2021-06-24 06:56] #668 closed

[2021-06-24 08:27] Borda commented on #670
@ananthsub @murphyk moved to Bolts as it :rabbit:

[2021-06-24 08:29] Borda commented on #670
We are using upstream TorchVision datasets, so if there is an issue with download past, pls open an issue on the TV side...
see https://github.com/PyTorchLightning/lightning-bolts/blob/9990749f53ee5992dc89ff106a24e609300dca40/pl_bolts/datamodules/mnist_datamodule.py#L42

[2021-06-24 08:29] #670 closed

[2021-06-24 15:01] murphyk opened #672 "Make EMNISTDataModule"
(Moved from https://github.com/PyTorchLightning/pytorch-lightning/issues/8110.)

It would be useful to have a DM for https://www.tensorflow.org/datasets/catalog/emnist.

### Motivation

EMNIST is a much better dataset than MNIST, since it has more classes (0-9, a-z, A-Z), more data (4x), and more inherent ambiguity, yet it still easy to deal with computationally.

![image](https://user-images.gith

[2021-06-24 20:00] murphyk opened #673 "pl.bolts breaks torchvision.datasets.MNIST download"
After installing lightning-bolts (0.3.4) in google colab, I find that `mnist = torchvision.datasets.MNIST('data', download=True)` fails to download the data:
[code]
Similarly, `dm = MNISTDataModule(num_workers=0, data_dir='data')` fails to work.
(Note that the download URL for the lightning version is mangled by lightning.)
However, if I don't install lightning-bolts, then the download does work!

[2021-06-24 20:18] Borda commented on #673
@akihironitta mind have look? probably connected to our fix #633

[2021-06-24 23:03] akihironitta commented on #673
Hi @murphyk, thank you for reporting this issue. It seems like this bug happens with torchvision>=0.9.1. The fix will be included in the next release (0.3.5). Until then, a quick workaround is to run the following before you download:
[code]
where this code snippet comes from torchvision's source code [here](https://github.com/pytorch/vision/blob/300a8a40132c5d3ee7dc936034c6046fd30ca4c0/torchvisio

[2021-06-25 02:09] akihironitta commented on #672
@murphyk Reopening this issue as I believe this would be a great addition to Bolts!

[2021-06-25 06:28] #673 closed

[2021-06-25 06:55] #368 closed

[2021-06-26 06:24] souravraha opened #675 "PyTorch Lightning Resnet returns a list, instead of a tensor."
https://github.com/PyTorchLightning/lightning-bolts/blob/48e75217d8c10e5726eafca2c85e795a993477e7/pl_bolts/models/self_supervised/resnets.py#L277

The code for Resnet class in Lightning Bolts needs modification. I found a discrepancy in the line referenced here.

1. The self.fc layer (final linear layer) needs to be implemented.
2. Please remove the square brackets from the next line. The output s

[2021-06-27 08:56] akihironitta commented on #643
@RyannDaGreat Thank you for reporting this issue. Would you be interested in sending a PR?

[2021-06-27 09:05] akihironitta commented on #630
@maximzubkov Thank you for reporting the issue. It should be addressed in #631.

[2021-06-27 09:07] akihironitta commented on #615
@ydar95 Thank you for reporting this issue. It should be addressed in #631.

[2021-06-28 23:39] RyannDaGreat commented on #643
Yes, I'll send one!

[2021-06-29 06:21] #643 closed

[2021-06-29 21:45] edenlightning commented on #675
Thanks for the issue! Any chance you want to try and submit a fix?

[2021-07-01 18:25] souravraha commented on #675
Sure. I shall do this within this weekend.

[2021-07-01 18:50] smartdanny opened #679 "Error when making new CPC_v2 model"
## 🐛 Bug

Missing Attribute "encoder" error when creating new CPC_v2 model.
Same code is shown in docs here: https://lightning-bolts.readthedocs.io/en/latest/self_supervised_models.html#research

### To Reproduce

Steps to reproduce the behavior:

Run:
[code]

Error:
[code]

### Expected behavior

No errors.

### Environment

 - Ubuntu
 - Anaconda
 - Python version: 3.9.5
 - CUDA/cuDNN version: V1

[2021-07-01 18:56] smartdanny commented on #679
Fixed in Pull Request #680

[2021-07-01 18:56] smartdanny commented on #679
Also its my first time contributing to a big project. Please let me know if I should do anything different.

[2021-07-02 19:06] z-fabian opened #681 "Small bug in nt_xent_loss for SimCLR model"
## 🐛 Bug

Adding `eps` is done twice, second is unnecessary in `nt_xent_loss`: first [here](https://github.com/PyTorchLightning/lightning-bolts/blob/0045e649f9bdbe3195530c57bdbe9daa399a9710/pl_bolts/models/self_supervised/simclr/simclr_module.py#L253) and then again [here](https://github.com/PyTorchLightning/lightning-bolts/blob/0045e649f9bdbe3195530c57bdbe9daa399a9710/pl_bolts/models/self_supervi

[2021-07-04 07:23] mariakesa opened #682 "Iterator error after pip install"
Hello,

Thanks so much for an awesome package!:-)

I recently re-pip installed plbolts on a google colab notebook. My code worked before. I'm trying to train a DQN.

On importing the DQN (from pl_bolts.models.rl import DQN), I get the following error:
[code]
Help would be appreciated!

Thank you:-)

[2021-07-04 07:41] Borda commented on #682
hi, can you tell us how to reproduce, what code have you run?

[2021-07-04 07:46] mariakesa commented on #682
Hey,

Thanks for the quick reply!

I ran:

!pip install atari-py
!pip install pytorch-lightning-bolts
!pip install pytorch-lightning

from pl_bolts.models.rl import DQN
import time
from pytorch_lightning import Trainer

start=time.time()
#dqn = DQN("DemonAttack-v0")
trainer = Trainer(gpus=1)
trainer.fit(dqn)
end=time.time()
print(end-start)

The code failed on the DQN import.

[2021-07-04 07:46] #679 closed

[2021-07-05 19:26] gurlina commented on #682
I encountered the same error while trying to simply import the `pl_bolts` library after successful installation. This was executed within the CoLab environment, and the same code used to work a couple of weeks ago.

[code]

[2021-07-05 19:43] mariakesa commented on #682
Yep, I was also working in Colab. The funny thing is that some time before the code worked.

[2021-07-05 20:20] gurlina commented on #682
I found that installing the latest version from the Master branch fixes the import problem (no guarantees, though, that it wouldn't break something else...):

`pip install git+https://github.com/PytorchLightning/lightning-bolts.git@master --upgrade`

[2021-07-05 20:47] #682 closed

[2021-07-06 07:01] jaffe-fly opened #683 "my tensorboard has no histograms tab"
## 🐛 Bug

 ```monitor = TrainingDataMonitor(log_every_n_steps=25)```
i use this TrainingDataMonitor callback,  but my tensorboard  has no histograms tab

### To Reproduce

Steps to reproduce the behavior:
[code]

### Environment

 - PyTorch Version (e.g., 1.8):
 - OS (e.g., Linux):
 - How you installed PyTorch (`pip`):
 - Build command you used (if compiling from source):
 - Python version:3.7/3.8

[2021-07-06 14:44] Borda commented on #409
I think that @awaelchli solved it for PL with shared memory argument

[2021-07-07 05:06] sugatoray opened #685 "Add all datamodules to documentation using sphinx docs-auto-generation"
## 📚 Documentation

At present most of the following datamodules are available under Vision Datamodule in the documentation. However, this is not visible to the user from the sidebar. Neither it is available from the Datmodule documentation, as links directing to each of the Datamodules below.

In other words, there should be at least a single point of entry (perhaps in Datamodule in the docs) whe

[2021-07-07 06:07] akihironitta commented on #685
@sugatoray Could you elaborate on why we need this? We already have [the docs for datamodules here](https://lightning-bolts.readthedocs.io/en/latest/datamodules_vision.html).

[2021-07-07 08:01] chris-clem commented on #620
Hey,

sorry for not working on it at the moment. I have not forgotten it but I don't have the time at the moment.

[2021-07-07 17:04] sugatoray commented on #685
@akihironitta Thank you for pointing me to the docs for Vision Module. However, after looking at it I changed the issue description. It will be nice to be able to see all the datamodules easily accessible from a single point of entry: either from the sidebar or from here: https://lightning-bolts.readthedocs.io/en/latest/, or (preferably) both. Please see the updated issue description.

[2021-07-09 14:23] Atharva-Phatak commented on #336
@ananyahjha93 Hi, I would like to compile the papers for readme.md if its okay ?

[2021-07-12 20:28] m-kuoch commented on #658
Does anyone have the correct URL readily available.  I'm also interested in using the pretrained CIFAR-10 model.  Thanks!

[2021-07-12 20:41] ananyahjha93 commented on #658
done, sorry @m-kuoch this completely slipped from my list of TODOs.

[2021-07-12 20:45] m-kuoch commented on #658
@ananyahjha93 No problem, thanks for the fast reply!

[2021-07-13 09:12] #658 closed

[2021-07-19 09:47] gitHub882000 opened #689 "SimCLR pre-training code in the tutorial not working"
## ❓ Questions and Help

I encountered 2 errors when running the example code for pre-training SimCLR [here](https://pytorch-lightning-bolts.readthedocs.io/en/latest/self_supervised_models.html#simclr) on Google Colab.

### 1: SimCLR missing 'gpus' argument

When I tried the example code in the tutorial. I got the following error:

[code]

In this first problem, I want to know what the meaning of

[2021-07-19 09:58] #409 closed

[2021-07-21 17:04] Sreyas-108 opened #690 "Is pretrained weights included for projection head"
In the imagenet pretrained weights mentioned here,
`weight_path = 'https://pl-bolts-weights.s3.us-east-2.amazonaws.com/simclr/bolts_simclr_imagenet/simclr_imagenet.ckpt'`
is the projection head weights included or are those layers randomly initialized?
Also is the classifier layer weights correspond to the [finetuning baseline](https://github.com/PyTorchLightning/lightning-bolts/blob/master/docs/s

[2021-07-22 00:04] johngrabner opened #691 "FasterRCNN crash with distributed_backend='ddp'"
## 🐛 Bug

This crashes
[code]

where FasterRCNN is from
`from pl_bolts.models.detection.faster_rcnn import FasterRCNN`

This does not crash
[code]

The crash
[code]

The weird thing

I edit the /home/john/Documents/GitHub/PyTorchLightning/lightning-bolts/pl_bolts/models/detection/faster_rcnn/faster_rcnn_module.py

replace
`    trainer = Trainer.from_argparse_args(args)`
with
`    trainer = Trainer

[2021-07-22 19:23] sharuevds opened #692 "VisionDataModule should be more flexible"
## 🚀 Feature
First of all, I find datamodules present in PL Bolts very useful and convenient.
But they can be more flexible. Users should be allowed to override any option passed in constructor specifically for train, val or test dataloaders.
For example, one may want to use smaller batch size for training and bigger batch size for validation/test (because no memory for backward pass is needed dur

[2021-07-22 20:28] johngrabner commented on #691
When I converted my dataset from detectron2 to bolt, I left in the  image_id scalar.
This caused the same crash as what is described in [vision/issues/1659](https://github.com/pytorch/vision/issues/1659) but this issue claims not a limitation for DDP.
Looks like it is an issue.  Either way, dropping this extra field fixes everything.

[2021-07-22 20:28] #691 closed

[2021-07-22 22:48] #646 closed

[2021-07-23 08:44] CoinCheung opened #693 "Where could I download pretrained weights of byol and simsiam?"
## 🚀 Feature
As the question in the title. I can only find pretrained weights at: https://lightning-bolts.readthedocs.io/en/stable/self_supervised_models.html?highlight=pretrain#imagenet-baseline-for-simclr

I cannot see pretrained byol and simsiam weights download url. Are they available now?

[2021-07-25 12:04] #606 closed

[2021-07-27 01:52] chingyaoc opened #695 "Wrong Implementation of SimCLR"
## 🐛 Bug

In line 253 of ```pl_bolts/models/self_supervised/simclr/simclr_module.py```, ```neg``` is subtract with e^(1/temp) to remove similarity measure for (x1,x1). However, this only guarantees that the scale of the loss is correct. There is still gradient backpropagating through the pair (x1,x1).

A correct implementation should be using a mask to eliminate the wrong negative pair. Here are s

[2021-07-27 16:17] FrancescoSaverioZuppichini opened #697 "BYOL implementation, loss function seems to be wrong"
Hi guys,

I hope you are doing great. In the BYOL implementation [here](https://github.com/PyTorchLightning/lightning-bolts/blob/e22b8d0efbfd0a15194446170b193ec450443666/pl_bolts/models/self_supervised/byol/byol_module.py#L118)
you are not creating the loss based on the similarity between `z1` and `z2` but between `h1` and `z2` and vice-versa down the line. I think this is wrong

[code]

Thank you

[2021-07-29 02:32] souravraha commented on #675
False alarm, it seems that this code is intended to extract features from different layers of the ResNet. I had assumed that this code ought to give the final output from the ResNet. The original code is correct for its intended purpose.

[2021-07-29 02:32] #675 closed

[2021-07-30 09:35] FrancescoSaverioZuppichini commented on #697
sorry guys, it is correct :)

[2021-07-30 09:35] #697 closed

[2021-08-02 01:50] #653 closed

[2021-08-05 14:59] Borda commented on #551
Mind update to the latest TM, shall be fixed and all logits

[2021-08-07 23:05] yeus commented on #551
almost. Version 0.4.1 still has the issue with:

`ValueError: The highest label in preds should be smaller than num_classes.`

although that issue seems to be fixed in master...

[2021-08-08 08:40] Borda commented on #551
new TM release is coming next week :]

[2021-08-09 23:11] dpkpathak opened #700 "Number of classes as number of neighbor for kNN"
https://github.com/PyTorchLightning/lightning-bolts/blob/8b4d90d7443ac263fd246e2745c267439f4b9274/pl_bolts/callbacks/knn_online.py#L102

The above line in the callback creates a kNN classifier with a number of neighbors as a number of classes in the labeled dataset. For a dataset with a large number of classes, this doesn't make sense to me.

Let me know if I can create a pull request for this by

[2021-08-13 12:33] #421 closed

[2021-08-13 13:05] #672 closed

[2021-08-15 20:24] bgswaroop opened #707 "Issue with importing pl_bolts"
## 🐛 Bug

Importing `pl_bolts` raises the following error:

### To Reproduce

Steps to reproduce the behavior:

1. Install `pytorch-lightning-bolts` from pip
2. Add the `import pl_bolts` statement to a python script
3. Execute it

#### Code sample

    import pl_bolts

### Expected behavior

The program to import the specified module without errors.

### Error Messages

	/<...>/python_venv/pl_bolt

[2021-08-15 21:11] Borda commented on #707
seems you are using a deprecated version https://pypi.org/project/lightning-bolts

[2021-08-15 21:16] #707 closed

[2021-08-15 21:19] Borda commented on #648
@ananyahjha93 any update here?

[2021-08-15 21:19] Borda commented on #656
@ananyahjha93 any update here?

[2021-08-15 21:22] Borda commented on #610
@ananyahjha93 any update here?

[2021-08-15 21:22] Borda commented on #607
@ananyahjha93 any update here?

[2021-08-15 21:24] Borda commented on #385
@ananyahjha93 any update here?

[2021-08-15 21:24] #383 closed

[2021-08-15 21:26] Borda commented on #364
well the Conda require that all dependencies also exists on Conda which may quite difficult to make :rabbit:

[2021-08-15 21:27] Borda commented on #345
@ananyahjha93 any update here?

[2021-08-15 21:27] Borda commented on #459
@ananyahjha93 any update here?

[2021-08-15 21:29] Borda commented on #397
yep would be nice to have, atm we have custom/manual model uploading... :rabbit:

[2021-08-15 23:59] bgswaroop commented on #707
@Borda Thanks for pointing it out. As per your suggestion, after installing `pip install lightning-bolts`, I do not get any error. I noticed that there are two versions for bolts:
- [https://pypi.org/project/lightning-bolts](https://pypi.org/project/lightning-bolts)
- [https://pypi.org/project/pytorch-lightning-bolts](https://pypi.org/project/pytorch-lightning-bolts)  - deprecated?

Just to clarif

[2021-08-16 06:14] Borda commented on #707
Correct =)

[2021-08-18 02:31] djbiega commented on #393
Hi, I'd be interested in adding this in as an easy first issue if this is still desired. Could I get this assigned to me?

[2021-08-20 07:37] ankitpatnala opened #708 "Queries on BYOL implementation"
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
In the papers it talks about LARS optimizer, but here the implementation was on Adam
Final thing, while optimizing with LARS, they have mentioned to not apply LARS adaptation and weight decay to batch norm and biases. It is not

[2021-08-24 17:46] #660 closed

[2021-08-26 14:27] twsl opened #711 "PrintTableMetricsCallback KeyError"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

1. Create an object detection task using [flash](https://github.com/PyTorchLightning/lightning-flash/blob/master/flash_examples/object_detection.py), but used Faster R-CNN `ObjectDetector(model="fasterrcnn", num_classes=dm.num_classes)`
2. Add `from pl_bolts.callbacks import PrintTableMetricsCallback` and the callback to the trainer
3.

[2021-08-26 14:33] SeanNaren opened #712 "Future state of lightning-bolts!"
## 🚀 Feature

After discussion with the Lightning team and the piling up issues I think it's important to address the library and some of its pain points. Overall the goal is to improve the libraries functionality whilst honing exactly what this library will deliver!

### Motivation

The Lightning team doesn't have time to assist with issues/PRs around specific research pieces. This primarily is t

[2021-08-27 15:57] skull8888888 opened #716 "LinearWarmupCosineAnnealingLR seems to not update lr"
## 🐛 Bug

`LinearWarmupCosineAnnealingLR` does not update lr when when return as described below.

[code]

![Screen Shot 2021-08-28 at 12 56 45 AM](https://user-images.githubusercontent.com/14181915/131155414-3ea3c199-bbe8-4a64-a0cf-4f9db9fa2a11.png)

Whereas, `torch.optim.lr_scheduler.OneCycleLR` works fine.

When I returned with
[code]

It started to cycle like this
![Screen Shot 2021-08-28 at 1

[2021-08-28 03:37] jzy95310 opened #717 "Is the API for self-supervised models changed recently?"
I want to use pytorch-lightning to train SimCLR and SwAV model using my own data set and transformation functions. I did this about 6 months by initializing the SimCLR model like below:
`
simclr_model = SimCLR(batch_size=batch_size, num_samples=train_size, lr=lr)
trainer = pl.Trainer(...)
trainer.fit(model=simclr_model, train_dataloader=my_train_loader, val_dataloaders=my_val_loader)
`

However, t

[2021-08-28 15:43] jzy95310 commented on #717
Or to be more specific, I think the `gpus` and `dataset` argument might be redundant in the constructor in some of the self-supervised models, since we can specify the number of available GPUs in `pl.Trainer` and the `dataset` argument is only used in `cli_main()`, not in the class itself.

[2021-08-29 12:56] SeanNaren opened #719 "Deprecated components (Will not be maintained actively)"
Related to #712

Below I've gone through all the different modules available, and come up with a list of deprecated modules. I've been lenient in my choices, primarily to allow some discussions if any should be moved around. **If you think the list is wrong, please comment!**

Deprecated modules will be made clear within a new documentation page containing a list of all deprecated modules (+ links

[2021-08-29 12:57] SeanNaren commented on #719
cc @Borda @akihironitta @tchaton @PyTorchLightning/core-bolts

[2021-09-01 23:10] ta-ja commented on #640
Hello, I ran into the same problem today and figured out the cause. It is important to actually call `SimCLRTrainDataTransform.transform` method from the `__getitem__` method inside the used dataset. The [method](https://github.com/PyTorchLightning/lightning-bolts/blob/ad771c615284816ecadad11f3172459afdef28e3/pl_bolts/models/self_supervised/simclr/transforms.py#L85) will return the correct tuple w

[2021-09-02 05:28] akihironitta commented on #712
@SeanNaren Thank you for bringing up this issue! I agree with you on all the points listed there.

[2021-09-06 00:34] zhengyu-yang opened #726 "Problems of the current `KNNOnlineEvaluator`."
## 🚀 Feature
A complete redesign of the `KNNOnlineEvaluator`.

### Motivation
The old implementation is problematic in many ways.
1. The old implementation does not support GPU acceleration for KNN classification.
2. The old implementation does not support distributed computing. The train dataset is split across multiple processes, making the KNN classification accuracy potentially lower.
3. The o

[2021-09-06 00:54] zhengyu-yang opened #727 "`SSLOnlineEvaluator` does not support DDP and checkpoint"
## 🚀 Feature
Make `SSLOnlineEvaluator` supports DDP and checkpoint.

### Motivation

1. Current `SSLOnlineEvaluator` does not support DDP. Weights of classification layers are not synced across different processes.
2. Current `SSLOnlineEvaluator` will break `resume_from_checkpoint` functionality of `Trainer` because `SSLOnlineEvaluator` add an additional `non_linear_evaluator` to the main `pl_modu

[2021-09-06 17:50] #630 closed

[2021-09-06 17:50] #615 closed

[2021-09-06 17:50] #642 closed

[2021-09-07 02:50] charlielam0615 opened #730 "Different pip installation command on the official website and doc site"
On the front page of the [lightning website](https://www.pytorchlightning.ai), the installation guide says use `pip install pytorch-lightning` to install pytorch lightning, which results in subsequent failure from attempts to import pl_bolts as instructed by tutorials. While on the documentation site, the installation guide says use `pip install lightning-bolts` to install lightning, which works p

[2021-09-07 03:12] #730 closed

[2021-09-07 10:20] sugatoray commented on #685
This issue should be closed as it was taken care of already.

[2021-09-07 15:07] trougnouf opened #731 "swav_resnet does not work with batch_size of 1"
## 🐛 Bug

swav_resnet doesn't allow a batch size of 1:
[code]

### Environment

- PyTorch Version (e.g., 1.0): 1.9
- OS (e.g., Linux): Arch Linux
- How you installed PyTorch: pacman
- Python version: 3.9
- CUDA/cuDNN version: 11.4
- GPU models and configuration: CPU

[2021-09-10 07:33] #22 closed

[2021-09-11 05:19] #649 closed

[2021-09-11 05:19] #671 closed

[2021-09-15 17:54] SeanNaren opened #741 "Call for ideas! 🔥"
## 🚀 Feature

We'd like to expand the component set in Bolts, aiding the community in using lightning with other cool projects. If you have any suggestions please list them below in the comments!

Even if the library does not require any form of component, I think it would be nice to have a place to store documentation on using said library with Lightning (if the maintainers of the library do not

[2021-09-15 17:58] Borda commented on #741
Let's first list/link interesting issues from our Bolts's backlog :rabbit:

[2021-09-16 05:20] #685 closed

[2021-09-16 10:21] ohayonguy commented on #695
Would this be correct then?

[code]
The mask can be generated beforehand to improve performance, of course.

@chingyaoc
@Borda

[2021-09-16 11:49] #620 closed

[2021-09-20 09:10] plutasnyy commented on #596
Hello! I would like to ask @blahBlahhhJ  if you have already started working on for example TRPO? If not, then @NaIwo and I would be happy to try to work on it. Let us know!

[2021-09-20 17:16] blahBlahhhJ commented on #596
Hi. Kind of busy right now, so no plans to implement TRPO for me. Feel free to work on it, I guess you can simply submit a draft pull request following the format and mention this issue and you should be good to go. Good luck coding!

[2021-09-29 06:19] #690 closed

[2021-10-01 06:39] #693 closed

[2021-10-02 14:24] twsl commented on #711
This issue might occur with other networks as well, but Faster RCNN is a prime example: according to my debugging this error occurs when there is a difference between the logged metrics in train, val and test steps, that the `PrintTableMetricsCallback` cannot handle. E.g. Faster RCNN returns a loss in the train step but not in the validation/test

[2021-10-02 23:16] akihironitta opened #747 "AttributeError: module 'ale_py.gym' has no attribute 'ALGymEnv'"
## 🐛 Bug
This is a known issue at `gym==0.20.0` and will be fixed in the next release `0.21.0`. See https://github.com/openai/gym/issues/2432.

### To Reproduce
[code]

#### Code sample

### Expected behavior

### Environment

- PyTorch Version (e.g., 1.0):
- OS (e.g., Linux):
- How you installed PyTorch (`conda`, `pip`, source):
- Build command you used (if compiling from source):
- Python versio

[2021-10-03 00:29] akihironitta opened #749 "doctest fails with `ImportError: cannot import name 'Env' from 'gym'`"
## 🐛 Bug
It seems like the doctest have been failing due to the following error since last week.
[code]

I have no idea how this error is caused because `from gym import Env` is (should be) skipped in an environment where `gym` is not available:
https://github.com/PyTorchLightning/lightning-bolts/blob/75ddb4b96d069378a4c38e75460c8c7eef9f15b7/pl_bolts/datamodules/experience_source.py#L13-L14

### T

[2021-10-09 02:32] #692 closed

[2021-10-14 12:17] #747 closed

[2021-10-15 05:22] Programmer-RD-AI commented on #749
try changing it to
`
try:
    if _GYM_AVAILABLE:
        from gym import Env
    else:  # pragma: no cover
        warn_missing_pkg("gym")
        Env = object
except:
    warn_missing_pkg("gym")
     Env = object
`

Can you check if this work?

With best regards,

[2021-10-16 14:15] Programmer-RD-AI commented on #339
I cant edit the https://pytorch-lightning-bolts.readthedocs.io/en/latest/datasets.html file
https://pytorch-lightning-bolts.readthedocs.io/en/latest/datasets.html
it gives a 404.

With best regards,
Ranuga

[2021-10-16 14:19] Programmer-RD-AI commented on #535
hi,

I wanted to know why is the draw_bounding_boxes

not using cv2

`
import cv2
xmin,ymin,xmax,ymax = 317,265,556,342
x = xmin
y = ymin
w = xmax - xmin
h = ymax - ymin
crop = img[y:y+h,x:x+w]
plt.imshow(crop)
plt.imshow(cv2.rectangle(img,(x,y),(x+w,y+h),(200,0,0),2))
`

Example notebook https://github.com/Programmer-RD-AI/Microcontroller-Detection-Learning-Detectron2/blob/main/00.ipynb

I just w

[2021-10-16 15:19] oke-aditya commented on #535
Hi @Programmer-RD-AI `draw_bounding_boxes` and `draw_segmentation_masks` or in fact all the utilities written in `torchvision.utils` do not use `cv2`

The major reason is to avoid an extra opencv dependency. PIL works well out of box, which is a needed dependency for torchvision. Also the utils API works really well with the models provided in `torchvision.models`

A simple example for them is ava

[2021-10-16 18:19] Borda commented on #339
you need to for repository and make your edits in https://github.com/PyTorchLightning/lightning-bolts/tree/master/docs/source/datasets

[2021-10-17 13:56] Programmer-RD-AI opened #753 "Save Metrics in JSON"
## 🚀 Feature

Save Metrics in JSON

There will be a callback called `save_to_file()` (or any other name)

and then it will save the metrics to an output.json file or something like that

### Motivation

I have been doing detectron2 project and I found that they save the metrics automatically to `output/metrics.json`
And I think it will be a bit simple

### Alternatives

I have not checked that muc

[2021-10-18 07:50] yjkweon24 opened #754 "No module named 'pl_bolts.models.autoencoders'"
As what "https://github.com/PyTorchLightning/lightning-bolts/issues/707" said, I removed pytorch lightning bolts module, and I successfully installed lightning bolts, but I kept getting an error below:

[code]

I am running it on ipynb
Torch 1.9.1
lightning-bolts 0.4.0
How you installed PyTorch (conda, pip, source): pip
Build command you used (if compiling from source):
Python version: 3.8.2

[2021-10-24 01:08] Programmer-RD-AI commented on #754
I tried this localy but it works.

Env
- Torch - 1.9.1
- PyTorch Lightning - 1.4.9
- Lightning Bolts - 0.4.0
- Python - 3.8.8
- Env(pip,conda) - Conda

[2021-10-24 01:29] Programmer-RD-AI commented on #442
hi,
I would like to help with this issue.

With best regards,
Ranuga

[2021-10-24 11:06] clementpoiret opened #758 "SparseMLCallback not allowing dynamic axes"
## 🐛 Bug

When using a SparseMLCallback, it is not possible to use the `export_kwargs` that exists here: https://github.com/neuralmagic/sparseml/blob/5cb2f5e616e3c37da20c47a7be6c172701122e07/src/sparseml/pytorch/utils/exporter.py#L161

However, export_kwargs allows us to specify useful parameters like `dynamic_axes`.

### To Reproduce

Steps to reproduce the behavior:

1. Define a model,
2. Try to

[2021-10-24 11:49] clementpoiret opened #759 "PyTorch 1.9.0 not allowed when using SparseML"
## 🐛 Bug

As of SparseML v0.7.0, PyTorch 1.9.0 is supported. However, pl_bolts disallow Torch > 1.8.1.

### To Reproduce

Steps to reproduce the behavior:

1. Install torch 1.9.0
2. Install sparseml
3. Try to use a SparseMLCallback

### Expected behavior

As stated here: https://github.com/neuralmagic/sparseml/releases/tag/v0.7.0 pl_bolts should allow torch 1.9.0

### Environment

- PyTorch Versio

[2021-10-31 15:58] #708 closed

[2021-11-02 06:37] yjkweon24 commented on #754
Thanks for getting back to me. But I faced the similar issues below:

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
/tmp/ipykernel_4044614/4231511349.py in <module>
      1 from torch import nn
      2 import torch
----> 3 from pl_bolts.callbacks.ssl_online import SSLOnlineEvaluator
      4 fr

[2021-11-02 13:34] Programmer-RD-AI commented on #754
[requirements.txt](https://github.com/PyTorchLightning/lightning-bolts/files/7461038/requirements.txt)

[2021-11-02 13:35] Programmer-RD-AI commented on #754
These are the dependencies I used

[2021-11-02 13:35] Programmer-RD-AI commented on #754
Can you try downgrading from 1.4.9

[2021-11-02 16:46] maulberto3 commented on #559
I tried to run on kaggle.com the CIFAR tutorial, but still have not yet successfully installed the pl bolts package: ImportError: cannot import name 'emnist_normalization' from 'pl_bolts.transforms.dataset_normalizations'

[2021-11-03 07:22] yjkweon24 commented on #754
Thanks for sharing the env lists.
Yeah I downgraded to 1.3.8 but still faced the same issue. By the way I am using the jupyter lab on the server.

[2021-11-03 11:35] Programmer-RD-AI commented on #754
hi,
Is it different in VSCode and other.

[2021-11-03 15:50] MaveriQ commented on #210
I have bolts version '0.3.4' and I am still getting the error.

[2021-11-04 08:11] Magolor opened #764 "Multiple learning rates support for LinearWarmupCosineAnnealingLR"
## 🚀 Feature

Multiple learning rates support for LinearWarmupCosineAnnealingLR

### Motivation

Sometimes when training a model, different learning rates are used for different parts: for example, tuning a model with pre-trained backbone, the classifier parameters' learning rates should be larger than those of the backbone parameters.

However, this can not be directly done in the pytorch-lightni

[2021-11-06 04:09] #717 closed

[2021-11-06 04:09] #716 closed

[2021-11-07 09:57] yjkweon24 commented on #754
Oh no, I found a problem here.
I upgraded python version to 3.8.8 and now it is working fine.
3.8.2 keeps facing error. Not sure why though...

[2021-11-08 17:26] #758 closed

[2021-11-08 17:33] #565 closed

[2021-11-09 09:38] #719 closed

[2021-11-09 18:04] Neabfi opened #769 "prepare_data in imagenet_datamodule ignores the meta_dir argument and requires meta.bin to be in the train and val folders"
## 🐛 Bug

_imagenet_datamodule_ has a _meta_dir_ parameter to specify the path to the _meta.bin_ file. However _prepare_data_ requires the _meta.bin_ file to be in the train and the val folder.

https://github.com/PyTorchLightning/lightning-bolts/blob/8b4d90d7443ac263fd246e2745c267439f4b9274/pl_bolts/datamodules/imagenet_datamodule.py#L116-L144

### Expected behavior

I would expect _prepare_data_

[2021-11-10 21:14] #640 closed

[2021-11-11 08:57] bsridatta commented on #769
Yup, either the meta_dir parameter should be removed or the code should read from the meta_dir path. I would be happy to contribute to this. Please let me know if the user should be able to specify meta_dir. Thanks!

[2021-11-15 09:46] #726 closed

[2021-11-15 09:46] #727 closed

[2021-11-15 10:04] #712 closed

[2021-11-15 15:04] adeschemps opened #770 "strange results with Faster RCNN and grayscale input"
## 🐛 Bug

This is a copy-paste of this issue (https://github.com/PyTorchLightning/pytorch-lightning/discussions/10338) here, as it may be more appropriate on this page.

The following code doesn't fail, even though I believe it should:

[code]

as `print(model)` returns:

[code]

showing that the first convolution of the backbone expects an input with 3 channels instead of one. This is confirmed b

[2021-11-15 22:49] #759 closed

[2021-11-16 09:58] adeschemps commented on #770
After some investigation, this is related to the normalization code used in the GeneralizedRCNNTransform (https://github.com/pytorch/vision/blob/main/torchvision/models/detection/transform.py).

[code]
`mean[:, None, None]` returns a `[nchannels, 1, 1]`-sized tensor, which then enables broadcasting with inconsistent number of channels. The same normalization with `torchvision.transforms.Normalize`

[2021-11-17 10:23] kfarivar opened #772 "SSL online evaluator"
https://github.com/PyTorchLightning/lightning-bolts/blob/533c09be97754f7c951ea29a432ca105223fd1bd/pl_bolts/callbacks/ssl_online.py#L109
I think it makes more sense to zero the grad first then take the gradient step. Is there a reason for doing this in reverse ?

[2021-11-17 18:06] #731 closed

[2021-11-24 08:33] lewis-bails opened #774 "nn.Module not a valid type for base_encoder parameter to Moco_v2"
## 🐛 Bug

The documentation for `Moco_v2` says that an instance of `nn.Module` is a valid input for the `base_encoder` parameter, but `init_encoders` only works if this parameter is a string (e.g. "resnet18" from `torchvision.models`)

### To Reproduce

[code]

### Expected behavior

Copies of the `nn.Module` instance passed in `base_encoder` parameter are set as the query and key encoders.

### E

[2021-11-25 13:01] graceyangfan opened #775 "what happened in the beginning of dqn?"
## ❓ Questions and Help
I am using you you dqn model on single GPU,it works well,but before the training,the network spend a lot time to prepare,I debug the model,but I still cannot know what happened before the  training_step and _dataloader function,would you give some suggestion？
### Before asking:

1. search the issues.
1. search the docs.

#### What is your question?

#### Code
here is my tra

[2021-11-25 15:04] alexander-soare commented on #409
Hi team, sorry to be snooping around. I googled this issue as I'm having the same problem working on the timm library https://github.com/rwightman/pytorch-image-models/pull/993. But I found that no individual tests trigger OOM, so it feels like it's something to do with memory not being released properly between tests. Wondering if you had similar experiences. Many thanks

[2021-11-26 09:56] #412 closed

[2021-11-26 23:20] RylanSchaeffer opened #777 "Improved Documentation for PL Bolts Transforms"
Good morning! I love PL Bolts and I'm super grateful you've made these models available to the community. However, I'm a bit confused by the transforms and I'd like to request better documentation. For two quick examples, suppose you want to use SwAV. The documentation says to do the following:

[code]

But now several questions arise. The documentation suggests SwAV was pretrained on ImageNet, bu

[2021-11-28 21:48] m-kuoch commented on #666
While this is being resolved, is there an alternative way to access a CPC model that has been pretrained on ImageNet?  Thanks!

[2021-11-30 21:12] RylanSchaeffer opened #778 "Clarification of Self-Supervised Models' Pretraining"
I'm finding that many of the self-supervised models have ambiguous statements on how they were pretrained.  For instance, SimCLR's documentation suggests that it was pretrained on CIFAR-10, but the model path suggests it was pretrained on imagenet (which makes more sense):

![image](https://user-images.githubusercontent.com/8942987/144128697-1df14722-81cb-40e4-98c9-e3bd19d76934.png)

Could someone

[2021-12-02 10:04] RR-28023 opened #779 "How to do proper inference using the pretrained VAE"
Hi.
I'm trying to reproduce the results shown in the [docs](https://pytorch-lightning-bolts.readthedocs.io/en/latest/autoencoders.html) with regards to reconstruction quality using the CIFAR-10 pre-trained VAE (LHS are the real images, RHS are the generated)

![imagen](https://user-images.githubusercontent.com/36822895/144400098-4ca8e4ed-3c34-41d9-a68e-154e8bdc76bc.png)

Here is a [link](https://c

[2021-12-04 19:42] dapello commented on #666
Hello, I'm also running into this issue. I'd really like to get access to this model and was wondering when that might be possible. Thanks!

[2021-12-08 18:01] mehmetfdemirel opened #781 "SimCLR training terminates after epoch 0"
I have been trying to run the [simclr_module.py](https://github.com/PyTorchLightning/lightning-bolts/blob/master/pl_bolts/models/self_supervised/simclr/simclr_module.py). Everything is fine, and the training works. However, after a few minutes, the training terminates with no errors at all (just a few warnings here and there). Even though `max_epochs` is set to be `800` or something, the training

[2021-12-11 19:05] RylanSchaeffer opened #782 "Clarification of SwAV's forward method"
I noticed that SwAV's forward method only calls the model (resnet18 or resnet50)'s `forward_backbone` method but not the model's `forward` method:

[code]

Why is this? I can't find an explanation of this in the documentation or the paper.

[2021-12-13 21:50] #711 closed

[2021-12-15 10:57] gau-nernst commented on #203
Hello, are there any updates on this? I'm re-implementing some research backbones (e.g. VoVNet) and want to train them on ImageNet to reproduce the results, and potentially use them as detection backbones for my other projects (with ImageNet pretraining).

I was looking at Bolts to see if there are anything that suit my use case, but there doesn't seem to be any? Of course implementing the trainin

[2021-12-17 19:43] schung039 commented on #666
@Borda @akihironitta @ananyahjha93

My team is also running into the same error when we try to load pretrained ImageNet CPC_v2.

[2021-12-17 22:54] Borda commented on #666
@ananyahjha93 could you pls have a look ^^

[2021-12-20 09:26] #391 closed

[2021-12-21 15:29] luzuku opened #790 "CIFAR10 Baseline Colab has ImportError"
## 🐛 Bug

The official _cifar10-baseline.ipynb_ has version issues and does not execute.
Running the first three cells of the tutorial gives you:

1st cell:
[code]

3rd cell:
[code]

### To Reproduce

1) Follow: https://pytorchlightning.github.io/lightning-tutorials/notebooks/lightning_examples/cifar10-baseline.html
2) Click on "Open in Collab"
3) Execute first three cells

This happens on both CP

[2021-12-23 01:00] 7zhanghao opened #791 "gather tensor tensors on different devices in ddp training"
## 🚀 Feature

In SimCLR, SyncFunction is used to collect tensors between different gpu.
`tensor`
`torch.ones((5,6,10))  #GPU1`
`torch.ones((5,6,10))  #GPU2`
`gathered_tensor = [torch.zeros_like(tensor) for _ in range(torch.distributed.get_world_size())]
torch.distributed.all_gather(gathered_tensor, tensor)`
This code assumes that tensors on different GPUs have the same size.
However, what should i

[2021-12-23 22:07] yash-overjet commented on #21
@williamFalcon any progress on this planned ?

[2021-12-24 04:20] zhiqwang commented on #21
FYI, seems that detectron2 supports training with pytorch-lightning now https://github.com/facebookresearch/detectron2/blob/main/tools/lightning_train_net.py

[2021-12-24 06:27] #753 closed

[2021-12-25 19:03] #749 closed

[2021-12-26 18:38] mehmetfdemirel commented on #781
Figured it out: `fast_dev_run` should not be passed to the Trainer. Otherwise, it just performs a unit test, and terminates.

[2021-12-26 18:38] #781 closed

[2021-12-30 21:00] mathemusician commented on #790
This can be fixed by changing
`! pip install --quiet "torch>=1.6, <1.9" "torchmetrics>=0.3" "lightning-bolts" "pytorch-lightning>=1.3" "torchvision"`
to
`! pip install --quiet "torch>=1.6, <=1.10" "torchmetrics>=0.3" "lightning-bolts" "pytorch-lightning>=1.3" "torchvision"`

[2022-01-07 09:15] loodvn opened #793 "Logging and progress bar values not detaching"
## 🐛 Bug

Possibly related to #405 .

In several bolts models (such as LogisticRegression) https://github.com/PyTorchLightning/Lightning-Bolts/blob/master/pl_bolts/models/regression/logistic_regression.py#L13-L116, the logged losses aren't being detached.

I get the following error (which is the same error as in a [PL GAN tutorial](https://pytorch-lightning.readthedocs.io/en/stable/notebooks/light

[2022-01-07 09:19] loodvn commented on #793
And since 1.6 (as the deprecation warning says, but specifically https://github.com/PyTorchLightning/pytorch-lightning/pull/10424) this may cause memory leaks from not detaching

[2022-01-07 13:28] Borda commented on #793
Hi @loodvn are you interested in sending out fix? :]

[2022-01-09 13:06] Ce11an opened #794 "Trained regression model does not produce validation or test results"
## 🐛 Bug

Related to Bug #405

When a regression model has been trained, using either `trainer.validate()` or `trainer.test()` results in an empty dictionary. I posted this a question related to this in Slack last week. I was told that this behaviour arises from using an outdated lightning API and that returning `log` and `progress_bar` is no longer required. Instead, returning `self.log` is requi

[2022-01-09 22:22] EricCousineau-TRI opened #795 "pypi: Explicitly mention that `pytorch-lightning-bolts` is old, `lightning-bolts` is new?"
## 🐛 Bug

The most up-to-date PyPI package appears to be https://pypi.org/project/lightning-bolts/#history
However, there is also this package: https://pypi.org/project/pytorch-lightning-bolts/#history

This was mentioned at https://github.com/PyTorchLightning/lightning-bolts/issues/600#issuecomment-803186775

### To Reproduce

See above.

#### Code sample

N/A

### Expected behavior

It is obviou

[2022-01-09 22:24] EricCousineau-TRI commented on #795
Perhaps it's possible for whomeever has PyPI permissions to update this overview (and perhaps remove the "Latest Version" badge, if possible?)

[2022-01-11 08:40] ananyahjha93 commented on #181
We are deprecating the self-supervised learning paper implementations in bolts and instead provided a [VISSL](https://vissl.ai/) integration in PyTorch Lightning Flash which can be used to train models using self-supervised learning algorithms. You can refer to the documentation [here](https://lightning-flash.readthedocs.io/en/latest/reference/image_embedder.html).

[2022-01-11 08:40] #181 closed

[2022-01-11 08:41] ananyahjha93 commented on #345
We are deprecating the self-supervised learning paper implementations in bolts and instead provided a [VISSL](https://vissl.ai/) integration in PyTorch Lightning Flash which can be used to train models using self-supervised learning algorithms. You can refer to the documentation [here](https://lightning-flash.readthedocs.io/en/latest/reference/image_embedder.html).

[2022-01-11 08:41] #345 closed

[2022-01-11 08:41] ananyahjha93 commented on #385
We are deprecating the self-supervised learning paper implementations in bolts and instead provided a [VISSL](https://vissl.ai/) integration in PyTorch Lightning Flash which can be used to train models using self-supervised learning algorithms. You can refer to the documentation [here](https://lightning-flash.readthedocs.io/en/latest/reference/image_embedder.html).

[2022-01-11 08:41] #385 closed

[2022-01-11 08:41] ananyahjha93 commented on #459
We are deprecating the self-supervised learning paper implementations in bolts and instead provided a [VISSL](https://vissl.ai/) integration in PyTorch Lightning Flash which can be used to train models using self-supervised learning algorithms. You can refer to the documentation [here](https://lightning-flash.readthedocs.io/en/latest/reference/image_embedder.html).

[2022-01-11 08:41] #459 closed

[2022-01-11 08:41] ananyahjha93 commented on #526
We are deprecating the self-supervised learning paper implementations in bolts and instead provided a [VISSL](https://vissl.ai/) integration in PyTorch Lightning Flash which can be used to train models using self-supervised learning algorithms. You can refer to the documentation [here](https://lightning-flash.readthedocs.io/en/latest/reference/image_embedder.html).

[2022-01-11 08:41] #526 closed

[2022-01-11 08:41] ananyahjha93 commented on #607
We are deprecating the self-supervised learning paper implementations in bolts and instead provided a [VISSL](https://vissl.ai/) integration in PyTorch Lightning Flash which can be used to train models using self-supervised learning algorithms. You can refer to the documentation [here](https://lightning-flash.readthedocs.io/en/latest/reference/image_embedder.html).

[2022-01-11 08:41] #607 closed

[2022-01-11 08:41] ananyahjha93 commented on #610
We are deprecating the self-supervised learning paper implementations in bolts and instead provided a [VISSL](https://vissl.ai/) integration in PyTorch Lightning Flash which can be used to train models using self-supervised learning algorithms. You can refer to the documentation [here](https://lightning-flash.readthedocs.io/en/latest/reference/image_embedder.html).

[2022-01-11 08:41] #610 closed

[2022-01-11 08:41] ananyahjha93 commented on #656
We are deprecating the self-supervised learning paper implementations in bolts and instead provided a [VISSL](https://vissl.ai/) integration in PyTorch Lightning Flash which can be used to train models using self-supervised learning algorithms. You can refer to the documentation [here](https://lightning-flash.readthedocs.io/en/latest/reference/image_embedder.html).

[2022-01-11 08:41] #656 closed

[2022-01-11 08:42] ananyahjha93 commented on #666
We are deprecating the self-supervised learning paper implementations in bolts and instead provided a [VISSL](https://vissl.ai/) integration in PyTorch Lightning Flash which can be used to train models using self-supervised learning algorithms. You can refer to the documentation [here](https://lightning-flash.readthedocs.io/en/latest/reference/image_embedder.html).

[2022-01-11 08:42] #666 closed

[2022-01-11 08:42] ananyahjha93 commented on #681
We are deprecating the self-supervised learning paper implementations in bolts and instead provided a [VISSL](https://vissl.ai/) integration in PyTorch Lightning Flash which can be used to train models using self-supervised learning algorithms. You can refer to the documentation [here](https://lightning-flash.readthedocs.io/en/latest/reference/image_embedder.html).

[2022-01-11 08:42] #681 closed

[2022-01-11 08:45] ananyahjha93 commented on #782
@RylanSchaeffer the forward function of the lightning module is designed for validation and inference times, where we just want the features from the encoder.

Also,

We are deprecating the self-supervised learning paper implementations in bolts and instead provided a [VISSL](https://vissl.ai/) integration in PyTorch Lightning Flash which can be used to train models using self-supervised learning

[2022-01-11 08:45] #782 closed

[2022-01-11 08:45] ananyahjha93 commented on #778
We are deprecating the self-supervised learning paper implementations in bolts and instead provided a [VISSL](https://vissl.ai/) integration in PyTorch Lightning Flash which can be used to train models using self-supervised learning algorithms. You can refer to the documentation [here](https://lightning-flash.readthedocs.io/en/latest/reference/image_embedder.html).

[2022-01-11 08:45] #778 closed

[2022-01-11 08:45] ananyahjha93 commented on #772
We are deprecating the self-supervised learning paper implementations in bolts and instead provided a [VISSL](https://vissl.ai/) integration in PyTorch Lightning Flash which can be used to train models using self-supervised learning algorithms. You can refer to the documentation [here](https://lightning-flash.readthedocs.io/en/latest/reference/image_embedder.html).

[2022-01-11 08:45] #772 closed

[2022-01-11 08:45] ananyahjha93 commented on #764
We are deprecating the self-supervised learning paper implementations in bolts and instead provided a [VISSL](https://vissl.ai/) integration in PyTorch Lightning Flash which can be used to train models using self-supervised learning algorithms. You can refer to the documentation [here](https://lightning-flash.readthedocs.io/en/latest/reference/image_embedder.html).

[2022-01-11 08:45] #764 closed

[2022-01-11 08:46] ananyahjha93 commented on #695
We are deprecating the self-supervised learning paper implementations in bolts and instead provided a [VISSL](https://vissl.ai/) integration in PyTorch Lightning Flash which can be used to train models using self-supervised learning algorithms. You can refer to the documentation [here](https://lightning-flash.readthedocs.io/en/latest/reference/image_embedder.html).

[2022-01-11 08:46] #695 closed

[2022-01-11 08:46] ananyahjha93 commented on #689
We are deprecating the self-supervised learning paper implementations in bolts and instead provided a [VISSL](https://vissl.ai/) integration in PyTorch Lightning Flash which can be used to train models using self-supervised learning algorithms. You can refer to the documentation [here](https://lightning-flash.readthedocs.io/en/latest/reference/image_embedder.html).

[2022-01-11 08:46] #689 closed

[2022-01-11 09:32] sarmientoj24 opened #796 "Question on Multi-Class Segmentation on masks"
I saw that the `KittiDataset` in your U-Net semantic segmentation only has 1 channel for the mask input. But on your segmentation model, you have the output as `num_classes` which is 19. This means that it outpus 19 channels [here](https://github.com/PyTorchLightning/lightning-bolts/blob/22e494e546e7fe322d6b4cf36258819c7ba58e02/pl_bolts/models/vision/unet.py#L52)

Questions:
1. Is there a pre-proc

[2022-01-11 09:48] Borda commented on #795
you are right that https://pypi.org/project/pytorch-lightning-bolts is deprecated

[2022-01-11 10:18] ethanwharris commented on #796
Hi @sarmientoj24, not sure about the other questions, but for number 1 the cross_entropy expects a long tensor as a target where the value in the ij'th position is the class at that position. E.g. for normal classification you have
[code]
and in 2D (segmentation) you have:
[code]
You can read more about the expected format here: https://pytorch.org/docs/1.9.1/generated/torch.nn.CrossEntropyLoss.ht

[2022-01-11 10:35] Borda commented on #795
![image](https://user-images.githubusercontent.com/6035284/148927011-22b8150d-c719-4751-bf14-6518ca57b3d0.png)

[2022-01-11 10:35] #795 closed

[2022-01-11 10:48] sarmientoj24 commented on #796
That absolutely helps @ethanwharris

Do you think that the background_class should be included?

[2022-01-11 15:23] EricCousineau-TRI commented on #795
Excellent, thank you so much!

[2022-01-12 09:09] jmlouw opened #797 "Possible error when training for multiple epochs PPO"
https://github.com/PyTorchLightning/lightning-bolts/blob/22e494e546e7fe322d6b4cf36258819c7ba58e02/pl_bolts/models/rl/ppo_model.py#L317-L321

Although the above function performs multiple updates (i.e. multiple epochs), it appears to use the same batch multiple times to update the policy and critic NN. (This is also implied by the doc string.) To perform updates, it should, in my opinion, sample ne

[2022-01-16 01:20] chengjiali commented on #711
I  got this error during the test loop. The callback cannot find 'valid_loss'

File "/home/user/anaconda3/lib/python3.7/site-packages/pl_bolts/callbacks/printing.py", line 125, in dicts_to_table
    line = s.format(**d, **marked_values)
KeyError: 'valid_loss'

[2022-01-16 11:42] #754 closed

[2022-01-17 07:45] loodvn commented on #793
Unfortunately not, sorry - I gave #794 a go locally over the weekend, but the next two weeks (at least) I am moving country so not available for some time 😞

[2022-01-17 17:12] senarvi opened #798 "Too much documentation moved to "Deprecated Modules""
Documentation for all the models, including "How to use models", was moved under "Deprecated Modules" in pull request https://github.com/PyTorchLightning/lightning-bolts/pull/722 . Deprecating SSL implementations was discussed in issue https://github.com/PyTorchLightning/lightning-bolts/issues/712 . Issue https://github.com/PyTorchLightning/lightning-bolts/issues/719 discussed what would be deprec

[2022-01-21 14:29] tarun360 opened #800 "Regarding doc of Linear Warmup Cosine Annealing Learning Rate Scheduler"
In this documentation: https://pytorch-lightning-bolts.readthedocs.io/en/latest/learning_rate_schedulers.html

It's not entirely clear that whether the cosine annealing part, which was proposed in  [SGDR: Stochastic Gradient Descent with Warm Restarts](https://arxiv.org/abs/1608.03983), is with warm restarts or without it, that is, does it implement only the cosine annealing part of SGDR or does i

[2022-01-23 14:25] Ce11an commented on #794
Would it be okay if I make a PR for this issue? Thanks 😄

[2022-01-23 19:02] MaveriQ commented on #697
@FrancescoSaverioZuppichini On a related note, shouldn't there be a detach() with z2 to stop gradient flow in target network?

[2022-01-23 19:10] MaveriQ opened #801 "BYOL Implementation - loss calculation"
Hi

In the BYOL [implementation](https://github.com/PyTorchLightning/lightning-bolts/blob/master/pl_bolts/models/self_supervised/byol/byol_module.py) copied below, shouldn't there be a .detach() with z2 in the loss calculations to stop gradient flow in target network?

[code]
For reference, please see [this](https://github.com/lucidrains/byol-pytorch/blob/caa65d7c19a80a3611f4049c638ecd8401f8f3c4/b

[2022-01-24 07:07] Borda commented on #697
@ananyahjha93 ^^

[2022-01-25 11:59] #770 closed

[2022-01-25 11:59] #769 closed

[2022-02-04 15:18] vedal commented on #310
visdom has now been moved to open-source and seems to be in active development

https://github.com/fossasia/visdom
https://blog.fossasia.org/welcome-the-visdom-project-at-fossasia-now-fully-open-source/

[2022-02-06 17:22] #777 closed

[2022-02-06 17:22] #775 closed

[2022-02-06 17:22] #774 closed

[2022-02-10 15:57] veriff-javiervgd commented on #798
I am really happy to hear it was a mistake, I thought all the models were going to be deprecated... so much effort gone to the trash if that was the case... nice to hear it is not the case :laughing:

[2022-02-17 08:30] kfirgedal opened #805 "YOLOConfiguration does not support number of channels!=3"
Hi,

YOLOConfiguration implementation does not allow you to provide a number of channels in the .cfg file that is different than 3.

The line that is causing the problem is:
https://github.com/PyTorchLightning/lightning-bolts/blob/2415b49a2b405693cd499e09162c89f807abbdc4/pl_bolts/models/detection/yolo/yolo_config.py#L43

Thanks

[2022-02-18 17:42] mkarikom opened #807 "deprecation of bolts implementing `training_step()`"
related to issue [#719](https://github.com/PyTorchLightning/lightning-bolts/issues/719#issue-982092217):

Are there any plans to create an updated set of bolts that implement `traning_step()`, in particular coordination between optimizer.step() and optimizer.zero_grad() [under the new API](https://pytorch-lightning.readthedocs.io/en/stable/common/optimizers.html#manual-optimization)?

[2022-02-20 21:42] Benjamin-Etheredge opened #808 "Remove extra flatten in basic GAN"
## 🚀 Feature

Inside the basic GAN (`models/gans/basic/basic_gan_module.py`), there appears to be an extra flatten occurring in `descriminator_loss`.

### Motivation

This flatten breaks compatibility with user-defined discriminators by forcing them to take flattened input or change discriminator loss as well. It is also unnecessary as the default discriminator already does a flatten in its forwar

[2022-02-25 10:47] senarvi commented on #805
That's right, the number of channels in the input image is always 3 (RGB). @kfirgedal is there a way to specify the number of channels in the Darknet implementation?

[2022-02-25 19:56] senarvi commented on #805
@kfirgedal indeed you're right. It should be trivial to add support for that. I can take a look at it soon, unless you want to create a pull request. I'm currently working on a big update that would bring features from YOLOv5, YOLOX, and Scaled-YOLOv4.

[2022-03-03 21:18] armancohan opened #811 "SimCLR nt_xent_loss: float overflow on low temperature values because of `e ** (1 / temperature)`"
## 🐛 Bug

The implementation of the `nt_xent_loss` in SimCLR has this [line](https://github.com/PyTorchLightning/lightning-bolts/blob/ba899e8df5a7797b597c15a156ef0c75c38303c9/pl_bolts/models/self_supervised/simclr/simclr_module.py#L251):

[code]
However this is unstable and on lower temperatures (e.g., 0.01) it results in overflow error because of `math.e ** (1 / self._temperature)`:

[code]

[2022-03-03 22:16] pfdamasceno opened #812 "SimCLREvalDataTransform flips image when it should not"
## 🐛 Bug

According to `SimCLREvalDataTransform` documentation and [code](https://github.com/PyTorchLightning/lightning-bolts/blob/ba899e8df5a7797b597c15a156ef0c75c38303c9/pl_bolts/models/self_supervised/simclr/transforms.py#L94), the SimCLR eval transform should just crop, resize, and jitter an image.

When applying to a new image, however, I see that the output is sometimes horizontally flipped.

[2022-03-07 18:18] austinmw opened #813 "TrainingDataMonitor does not support logging with DummyLogger"
## ❓ Questions and Help

#### What is your question?

I don't know why I get the error:
`TrainingDataMonitor does not support logging with DummyLogger`

When trying to use `TrainingDataMonitor`

#### Code

[code]

#### What have you tried?

Tried sending single logger instead of list to trainer

#### What's your environment?

- OS: Ubuntu, sagemaker
- Packaging pip
- Version latest pypi

[2022-03-12 17:34] #779 closed

[2022-03-24 16:42] aRI0U opened #814 "BYOL training fails after 10 epochs because of the scheduler"
## 🐛 Bug

When running `byol_module.py` with default options, the training fails after 10 epochs because of the learning rate scheduler.

### To Reproduce

Steps to reproduce the behavior:

run the following command:
[code]

#### Traceback

[code]

### Expected behavior

The training should continue normally

### Environment

- PyTorch Version (e.g., 1.0): 1.11.0
- OS (e.g., Linux): Ubuntu 21.10
-

[2022-03-28 11:50] senarvi opened #816 "Upgrade the YOLO model with features from new variants"
## 🚀 Feature

Several new variants of the YOLO model have been proposed in the past couple of years. The current implementation in PyTorch Lightning Bolts is based on the original Darknet implementation. I have updated it with features from the new PyTorch based variants and created a pull request.

### Motivation

The code has been refactored, allowing easy variation of the network architecture,

[2022-03-28 11:55] senarvi commented on #816
This PR also includes the fix to the number of input channels by @kfirgedal . Maybe you could look at this pull request and say what you think?

[2022-03-29 12:08] sirtris opened #818 "SwAV example not working"
Hello,
I was trying to get the lightning_bolts [SwAV example](https://pytorch-lightning-bolts.readthedocs.io/en/latest/self_supervised_models.html#swav) running. unfortunately the example code does not work.

[code]

the fit function is missing the data module. It should be:
`trainer.fit(model, datamodule=dm)`

But even then I get the following error message:
`RuntimeError: The size of tensor a (1

[2022-04-01 03:38] Borda opened #819 "Call for core contributors 🧙"
## 🚀 Feature

First, we are very happy about all your contribution that the community-made so far! Unfortunately, we are getting a bit short :(
Second, we would like to re-ignite this project/repository and get it back on track with the latest research and PL API!
Third, as part o the challenge, we are going to rethink the structure and integration process to be up to date and smooth as possible (

[2022-04-06 08:19] JVGD commented on #819
This project is far too relevant to be let go, count me in. In my view this project relevancy would go after PL itself and before other branches (such as Flash, which it is also very relevant). But for me, as a full time deep learning researcher, this is of more utility.

[2022-04-06 08:54] Borda commented on #819
@JVGD really happy to hear such nice words and the high value of Bolts! Let's see if we have a few more people and then we can have a join call to chat what we can do together... :rabbit:

[2022-04-06 20:11] oke-aditya commented on #819
Hi. While I have been inactive in PL space.  I'm heavily intrested in this project :)

I would be glad to join redevelopment of bolts.

[2022-04-09 09:26] likith012 commented on #819
Hi there, I am interested too. The PL project has made my life much easier and I am willing to do the same to others through this PL bolts project.

[2022-04-13 12:26] sirtris commented on #818
Any tips on this?
How could I debug this?

Any go on fixing the docs?

[2022-04-15 15:13] aniketmaurya commented on #741
Hi @SeanNaren, My idea for Bolts is to have paper implementations and add pre-trained models for various use cases.

cc: @Borda

[2022-04-16 08:52] #791 closed

[2022-04-16 08:52] #790 closed

[2022-04-16 08:52] #796 closed

[2022-04-18 06:45] veriff-javiervgd commented on #798
Any  news on this?

[2022-04-19 09:05] SeanNaren commented on #798
Hey @veriff-javiervgd, deprecated is the wrong word I think that was used, I think "community maintained" might be a better word.

The issue was that a LOT of models/datasets were unsupported and breaking (versions change of other libraries) and no one was maintaining them. Maybe we need to make it clearer somehow without being as destructive (have a note at the top of each page of which ones are

[2022-04-19 10:24] veriff-javiervgd commented on #798
Mmm I understand, thank you for the clarification. I totally agree with you, a "community mantained" label with its corresponding warning would be fairer and more informative

[2022-04-25 03:09] #797 closed

[2022-04-25 03:09] #793 closed

[2022-04-25 03:09] #800 closed

[2022-04-25 03:09] #794 closed

[2022-04-25 03:09] #801 closed

[2022-04-29 17:26] Ce11an commented on #819
Hey!

Would also love to work on this project. Count me in 😆

[2022-05-04 14:25] #808 closed

[2022-05-05 01:02] #807 closed

[2022-05-05 06:40] ArnolFokam commented on #819
Hi,

Count me in as well! 💪

[2022-05-08 17:04] austinmw opened #824 "HTTPError on cifar10 prepare_data"
## 🐛 Bug

`HTTPError: HTTP Error 503: Service Unavailable`

### To Reproduce

#### Code sample

[code]

### Expected behavior

Download without error

### Environment

pl_bolts 0.5.0

[2022-05-09 04:47] #824 closed

[2022-05-14 14:33] shenoynikhil commented on #819
Hi All,

Would love to work on this. Count me in.

[2022-05-25 00:07] roboserg commented on #535
Any progress on this in? Is there a built-in way in PyTorch Lighting, or Flash or Bolts to visualize bboxes from model predictions?

[2022-06-01 14:41] kevinpmcgee14 commented on #819
Hi,

Very interested in this project. Would love to contribute!

[2022-06-01 17:33] EszKnop opened #825 "Some datamodules use mnist_transforms variable name in code and docs"
## Description
CIFAR10, TinyCIFAR10DataModule, SSLImagenet, STL10 data modules use `mnist_transforms` variable name in documentation. When I was reading the docs for CIFAR10 that caused a little confusion. When I was inspecting the code, I noticed that for SSLImageNetDataModule, the variable used to store transformations is also named `mnist_transforms`. I believe a typo was introduced by copy-pas

[2022-06-01 17:40] EszKnop commented on #825
I can fix it but I cannot assign myself and create branch. So if someone can help me with that I would appreciate.

[2022-06-02 11:32] Borda commented on #819
Hi everyone, a giant thank you for your positive response, we really appreciate it and will follow up on it, just need a bit more time to resolve other priority issues and will ping you soon with some thoughts and details... :rabbit:

[2022-06-08 07:06] senarvi commented on #816
I added the deeper P6 variant of YOLOv4. The depth of the network and the width of each stage can also be configured freely.

I think there are pretty significant improvements in the pull request. Is anyone interested in having a look? @kfirgedal @Borda @ethanwharris @awaelchli

[2022-06-15 08:30] #813 closed

[2022-06-15 08:30] #814 closed

[2022-06-19 19:13] senarvi commented on #798
I think it would be a good idea to label those breaking models that are not maintained, or even remove them, but it's not necessary to deprecate every model.

[2022-06-28 00:27] #818 closed

[2022-06-28 00:27] #741 closed

[2022-06-28 12:51] #798 closed

[2022-06-30 07:33] otaj commented on #819
Hi everyone, we're very sorry for the delay!

If you are still interested (and we hope you are), can you please ping either me or @Borda on Pytorch Lightning slack where we will discuss the battle plan in more depth? My Slack username is `@Ota`, @Borda's Slack username is `@Jirka`

Thank you very much!

[2022-06-30 21:22] Borda commented on #819
@JVGD I see multiple Javier on our slack, so not sure which one is you, could you pls ping me if you are still interested? :rabbit:

[2022-07-04 13:53] raghavmecheri opened #830 "FasterRCNN breaks with custom backbone"
## 🐛 Bug

`kwargs` in the call to `create_fasterrcnn_backbone` for a custom FasterRCNN backbone within `pl_bolts.models.detection.FasterRCNN` breaks due to an unexpected `min_size` param

### To Reproduce

Steps to reproduce the behavior:

1. Create a new `FasterRCNN` instance with a backbone that isn't `resnet50` (I noticed it with `resnet18`)
2. Attempt to train the model and the program crashes

[2022-07-21 16:33] otaj opened #839 "Major revision of Bolts"
Let's revision Bolts and breathe some fresh air into them! As outlined in #819 and on a Slack channel, we will revisit every single feature within Bolts.

Please sign up for a feature which you'd like to tackle. Once you do so, I will attach your name in the list and you will be expected to open a PR within two weeks. It might be useful to tackle multiple things at once as the feature list is ever

[2022-07-22 10:43] oke-aditya commented on #839
While adding new features is good. But what do you think of re using them from torchvision?

[2022-07-22 10:57] otaj commented on #839
If an appropriate feature is available in other projects and is in a stable state (i.e. the package isn't in beta or the feature itself is not beta/unstable/experimental), I'd go for using such feature from the other projects.

This might get tricky with new packages as we do not want to have an endless list of dependencies. But, in case of torchvision, we already require it for models, so that is

[2022-07-22 13:33] oke-aditya commented on #839
Then in torchvision.ops we already have all 3. Operations and losses.

This is from v0.13 latest one.

[2022-07-25 14:58] Ce11an commented on #839
Hey @otaj,

I am happy to work on the following to start as they are connected:

- `pl_bolts.datamodules.sklearn_datamodule.SklearnDataModule`
- `pl_bolts.datamodules.sklearn_datamodule.SklearnDataset`
- `pl_bolts.datamodules.sklearn_datamodule.TensorDataset`
- `pl_bolts.models.regression.linear_regression.cli_main`
- `pl_bolts.models.regression.linear_regression.LinearRegression`
- `pl_bolts.mode

[2022-07-25 15:52] BaruchG commented on #839
Hey @otaj,
I'm going to start off with the hopefully simple `pl_bolts.datasets.cifar10_dataset.CIFAR10` and once I get the hang of the process I'll start doing it in batches.

[2022-07-25 21:48] krishnakalyan3 commented on #839
I would like to work on
[code]

Follow-up questions on removing optimization policies.
- Should we remove [LinearWarmupCosineAnnealingLR](https://lightning-bolts.readthedocs.io/en/latest/schedulers/warmup_cosine_annealing.html) as its already present in [pytorch](https://pytorch.org/docs/stable/generated/torch.optim.lr_scheduler.CosineAnnealingWarmRestarts.html) and [Flash](https://lightning-flash

[2022-07-26 03:24] luca-medeiros commented on #839
Cool stuff!
I would like to work on `pl_bolts.callbacks.data_monitor`.

[2022-07-26 05:44] ArnolFokam commented on #839
Hi @otaj,

Would like to work on features around the SimCLR

- `pl_bolts.models.self_supervised.simclr.simclr_finetuner.cli_main`
- `pl_bolts.models.self_supervised.simclr.simclr_module.cli_main`
- `pl_bolts.models.self_supervised.simclr.simclr_module.Projection`
- `pl_bolts.models.self_supervised.simclr.simclr_module.SimCLR`
- `pl_bolts.models.self_supervised.simclr.simclr_module.SyncFunction`
-

[2022-07-26 07:04] otaj commented on #839
Oh my! I go to sleep, and suddenly, it blows up! Thank you, @Ce11an, @BaruchG, @krishnakalyan3, @luca-medeiros, @ArnolFokam! I added all of you to the list :zap: :nut_and_bolt:

As to whether we should remove LARS and LinearWarmupCosineAnnealingLR - yes, but with a deprecation warning. I will take them on myself.

[2022-07-26 08:31] heimish-kyma commented on #839
I'd love to contribute this awesome project.
I would like to work on `pl_bolts.models.detection.yolo`

Cheers

[2022-07-26 08:40] otaj commented on #839
Hi, @heimish-kyma, awesome! :zap: I've added you to the list :muscle:

[2022-07-26 10:54] shivammehta007 commented on #839
Hello! Can I try helping with `pl_bolts.models.gans.basic.` ?

[2022-07-26 10:57] otaj commented on #839
Awesome, @shivammehta007, thank you! I added you to the list :zap:

[2022-07-27 10:16] otaj commented on #839
Hi everyone, but especially those who already signed up for work (@shivammehta007, @heimish-kyma, @ArnolFokam, @luca-medeiros, @krishnakalyan3, @BaruchG, @Ce11an). Please excuse me for "changing the rules" while you're already signed up for work, but this is very much a learning experience for me as well :teacher:  Let's all consider #843 a "testing PR" where we can iterate on the process of how w

[2022-07-27 11:19] shivammehta007 commented on #839
Can I also take `pl_bolts.datamodules.mnist_datamodule. MNISTDataModule `, `pl_bolts.datamodules.vision_datamodule.VisionDataModule` and `pl_bolts.datamodules.cifar10_datamodule.*`, ?

[2022-07-27 12:09] otaj commented on #839
@shivammehta007, absolutely! Thank you, you were added to the list!

[2022-07-29 10:02] shivammehta007 commented on #819
Hello! I would love to be a part of this to learn and help bolt! :D

[2022-07-29 12:35] otaj commented on #819
Hi @shivammehta007, I'm already counting with you, you're already in all the communications we have :muscle: But thank you!

[2022-07-30 11:32] wonbbnote commented on #839
Hi, I would like to work on `pl_bolts.datamodules.kitti_datamodule.KittiDataModule`!!

[2022-08-02 08:04] otaj commented on #839
Hi @wonbbnote, thank you very much, you were also added to the list!

[2022-08-02 22:58] greydanus opened #849 "Loss is only normalized w.r.t. batch size in train step"
Hey Lighting devs, thanks for a great library. I believe I have found a bug in this file:

In [this line](https://github.com/Lightning-AI/lightning-bolts/blob/5481b6e8337f4ca1381a9f0d8688f13781ef738e/pl_bolts/models/regression/linear_regression.py#L72), the loss is being normalized according to the first (batch) dimension of x. However, if `output_size` is greater than one, then the sum over MSE e

[2022-08-02 23:06] greydanus opened #850 "Input array should be flattened before running through the model"
The input `x` is being flattened (eg. `x = x.view(x.size(0), -1)`) in `validation_step` and `train_step` but not in `test_step`. I think that, for the sake of consistency, this operation should be added to `test_step`.

https://github.com/Lightning-AI/lightning-bolts/blob/5481b6e8337f4ca1381a9f0d8688f13781ef738e/pl_bolts/models/regression/linear_regression.py#L91

[2022-08-03 05:59] nishantb06 commented on #819
Hi , would love to be a part of this and help develop bolts ⚡️!!

[2022-08-03 07:16] nishantb06 commented on #839
Hi @otaj ,
Would like to work on features related to dummy datasets -
- `pl_bolts.datasets.dummy_dataset.DummyDataset`
- ` pl_bolts.datasets.dummy_dataset.DummyDetectionDataset`
- ` pl_bolts.datasets.dummy_dataset.RandomDataset`
- ` pl_bolts.datasets.dummy_dataset.RandomDictDataset`
- ` pl_bolts.datasets.dummy_dataset.RandomDictStringDataset`

I Plan to improve tests and documentations for these d

[2022-08-03 07:54] otaj commented on #839
Hi @nishantb06, thanks a lot, added you to the list!

[2022-08-04 11:38] toddChavezz opened #852 "Keyword arguments to Faster RCNN if not passing custum backbone."
## 🚀 Feature

One should be able to pass keyword arguments to Faster RCNN also if one does not have a custom backbone (which does not work so far).

### Motivation

This should be possible as it is in the case if one passes a custom backbone, for example in line 108.

### Pitch

One can just add **kwargs in pl_bolts.models.detection.faster_rcnn.faster_rcnn_module.py line 84 as the called method fr

[2022-08-04 11:38] toddChavezz commented on #852
I would also like to take this myself.

[2022-08-04 12:43] luca-medeiros commented on #852
This module is currently under review! You can write a comment here https://github.com/Lightning-AI/lightning-bolts/issues/839 and let @otaj know that you would like to work on it. While checking it for issues you can implement your idea and send a PR. Thanks!

[2022-08-04 12:55] luca-medeiros commented on #839
Hi @otaj,
Would like to work on `pl_bolts.models.self_supervised.resnets `too!

[2022-08-05 01:53] akihironitta opened #853 "DeprecationWarning: distutils Version classes are deprecated"
Hi @otaj - I'm getting the following warnings
[code]
Which looks like it is related to https://github.com/pytorch/pytorch/pull/69823 and https://stackoverflow.com/questions/71666214/deprecation-warnings-distutils-and-netcdf-file.  My `pip freeze` is

<details>

[code]

</details>

Everything was installed by using the requirements.txt provided in bolts, I'm using Python 3.9.12. This seems like a b

[2022-08-08 13:01] otaj commented on #853
Hi @BaruchG, @akihironitta that is obviously out of our control. I'd suggest silencing these warnings on a case by case basis, like done here https://github.com/shivammehta007/lightning-bolts/blob/3c9415bf979d1da163d538812ca9cf1a1e2ec3e3/tests/models/gans/integration/test_gans.py#L20-L24

[2022-08-08 20:39] BaruchG commented on #853
Thanks @otaj, sounds good.  I figured as much I just didn't want to go and silence warnings without making you aware.

[2022-08-12 05:10] #812 closed

[2022-08-12 05:10] #811 closed

[2022-08-12 16:14] otaj commented on #839
Hi @luca-medeiros, thank you very much! I'm back, and I hope I updated the master comment appropriately

[2022-08-12 18:45] matsumotosan commented on #839
Hi @otaj

I'd like to help out with:

`pl_bolts.datamodules.binary_mnist_datamodule.BinaryMNISTDataModule`
`pl_bolts.datamodules.binary_emnist_datamodule.BinaryEMNISTDataModule`

[2022-08-12 21:14] BaruchG commented on #839
Hi @otaj - I'll sign up for pl_bolts.metrics.* as well

[2022-08-15 11:49] #853 closed

[2022-08-15 11:53] otaj commented on #839
Hi, @matsumotosan, @BaruchG, thank you very much! You were added to the master comment! :tada:

[2022-08-15 14:49] matsumotosan commented on #839
Hi @otaj, do you mind adding me to `pl_bolts.datasets.emnist_dataset.py` and `pl_bolts.datasets.mnist_dataset.py` as well since I will be working with their corresponding datamodules.

[2022-08-16 07:05] otaj commented on #852
Hi, @toddChavezz! @luca-medeiros is absolutely right, we are currently going through a major revision. Please, hold on to the feature requests until we're done with the revision, or, sign up for the part of the revision (we're going to more than welcome every helping hand :zap:) and add possible new features that seem to make sense to you while doing that revision.

[2022-08-16 07:08] otaj commented on #830
Hi, @raghavmecheri! We are currently going through a major revision. Please, give us some time to finalize the revision, or, sign up for the part of the revision (we're going to more than welcome every helping hand :zap:) and fix possible old bugs that you've discovered while doing that revision. The revision issue is #839 :nut_and_bolt:

[2022-08-16 07:09] otaj commented on #849
Hi, @greydanus! We are currently going through a major revision. Please, give us some time to finalize the revision, or, sign up for the part of the revision (we're going to more than welcome every helping hand :zap:) and fix possible old bugs that you've discovered while doing that revision. The revision issue is #839 :nut_and_bolt:

[2022-08-16 07:09] otaj commented on #850
Hi, @greydanus! We are currently going through a major revision. Please, give us some time to finalize the revision, or, sign up for the part of the revision (we're going to more than welcome every helping hand :zap:) and fix possible old bugs that you've discovered while doing that revision. The revision issue is #839 :nut_and_bolt:

[2022-08-16 11:23] nishantb06 commented on #839
Hi @otaj would like to pick up issues related to image-gpt next
- `pl_bolts.models.vision.image_gpt.gpt2.Block`
- `pl_bolts.models.vision.image_gpt.gpt2.GPT2`
- `pl_bolts.models.vision.image_gpt.igpt_module._shape_input`
- `pl_bolts.models.vision.image_gpt.igpt_module.cli_main`
- `pl_bolts.models.vision.image_gpt.igpt_module.ImageGPT`

Currently planning to improve documentation and testing for th

[2022-08-17 21:42] matsumotosan commented on #839
Hi @otaj,

I'd like to work on a few others:
- `pl_bolts.callbacks.byol_updates.BYOLMAWeightUpdate`
- `pl_bolts.datamodules.emnist_datamodule.EMNISTDataModule`
- `pl_bolts.datamodules.emnist_datamodule.FashionMNISTDataModule`
- `pl_bolts.models.mnist_module.cli_main`
- `pl_bolts.models.mnist_module.LitMNIST`

Thanks

[2022-08-18 12:03] otaj commented on #839
Hi, @nishantb06, @matsumotosan, thank you very much, you were added to the master comment! :rocket:

[2022-08-19 00:02] connor-mccorm commented on #409
Hi @alexander-soare was wondering if you had discovered anything regarding your comment above! I'm experiencing the same issue where no individual test triggers an OOM and your theory about memory releasing improperly seems like a viable explanation.

[2022-08-19 08:44] alexander-soare commented on #409
@connor-mccorm unfortunately we never figured it out. We just came up with band-aid solutions: [running the tests in individual chunks](https://github.com/rwightman/pytorch-image-models/pull/993/commits/bda0d45217a0cd5f88c47c59f5dad332b5998eb3) or with [multiprocessing](https://github.com/rwightman/pytorch-image-models/pull/993#issuecomment-979551589).

[2022-08-19 16:38] connor-mccorm commented on #409
@alexander-soare good to know. Thanks for the information!

[2022-08-24 04:40] lijm1358 commented on #839
Hi, i'd like to work on:
* `pl_bolts.models.vision.segmentation.cli_main`
* `pl_bolts.models.vision.segmentation.SemSegment`
* `pl_bolts.models.vision.unet.DoubleConv`
* `pl_bolts.models.vision.unet.Down`
* `pl_bolts.models.vision.unet.UNet`
* `pl_bolts.models.vision.unet.Up`

thanks!

[2022-08-24 20:20] matsumotosan commented on #839
Hi @otaj I'd like to add the following to my list:
- `pl_bolts.models.self_supervised.byol.byol_module.BYOL`
- `pl_bolts.models.self_supervised.byol.byol_module.cli_main`
- `pl_bolts.models.self_supervised.byol.models.MLP`
- `pl_bolts.models.self_supervised.byol.models.SiameseArm`

Thanks

[2022-08-25 15:45] otaj commented on #839
Hi, @matsumotosan, I added you to the list. Thank you! :zap:

[2022-09-06 15:13] mlamarre opened #876 "AE.from_pretrained fails on windows"
## 🐛 Bug

`AE.from_pretrained` fails on windows because using `os.path.join` on a web url.

In `\pl_bolts\models\autoencoders\basic_ae\basic_ae_module.py`

[code]
### To Reproduce
On Windows:
[code]

### Environment

- PyTorch Version (e.g., 1.0): 3.7
- OS (e.g., Linux): Windows

[2022-09-07 13:15] BongYang commented on #839
Hi, @otaj
I'd like to work on following:

- `pl_bolts.models.gans.pix2pix.components.DownSampleConv`
-  `pl_bolts.models.gans.pix2pix.components.Generator`
-  `pl_bolts.models.gans.pix2pix.components.PatchGAN`
-  `pl_bolts.models.gans.pix2pix.components.UpSampleConv`
-  `pl_bolts.models.gans.pix2pix.pix2pix_module._weights_init`
-  `pl_bolts.models.gans.pix2pix.pix2pix_module.Pix2Pix`

[2022-09-15 08:47] otaj commented on #839
Hi @BongYang, thank you very much! :zap: I added you to the list :nut_and_bolt:

[2022-09-15 14:39] matsumotosan commented on #839
Hi @otaj, I'd like to take revisions related to SimSiam:

- `pl_bolts.models.self_supervised.simsiam.models.MLP`
- `pl_bolts.models.self_supervised.simsiam.models.SiameseArm`
- `pl_bolts.models.self_supervised.simsiam.simsiam_module.cli_main`
- `pl_bolts.models.self_supervised.simsiam.simsiam_module.SimSiam`

[2022-09-16 11:22] otaj commented on #876
Hi @mlamarre, this has already been fixed over a year ago in #652. However, due to bringing it to our attention, I found one another occurrence that needed fixing.

[2022-09-16 11:23] #876 closed

[2022-09-16 11:38] otaj commented on #839
Thank you @matsumotosan, I added you to the list :zap:

[2022-09-20 01:17] lijm1358 commented on #839
Hi, @otaj , i'd like to work on `pl_bolts.datasets.kitti_dataset.KittiDataset`

[2022-09-20 16:04] BaruchG opened #886 "Documentation is missing for pl_bolts/metrics/aggregation.py"
## 📚 Documentation

The documentation for [pl_bolts/metrics/aggregation.py](https://github.com/Lightning-AI/lightning-bolts/blob/master/pl_bolts/metrics/aggregation.py) seems to be missing and `accuracy` is missing its docstring.  I assume that it should look more like https://github.com/Lightning-AI/lightning-bolts/blob/master/pl_bolts/metrics/object_detection.py.  I don't think that it's intenti

[2022-09-20 21:21] BaruchG commented on #839
I'll take pl_bolts.models.rl.common.*

[2022-09-21 06:55] #816 closed

[2022-09-21 14:38] senarvi commented on #816
I did still some minor refactoring, but otherwise this pull request is pretty stable already. I think there was interest in merging this. @luca-medeiros do you have time to look at this?

[2022-09-21 18:51] BaruchG commented on #886
Sure, I'd be happy to take care of it.

[2022-09-22 08:24] otaj commented on #839
Hi, @BaruchG , @lijm1358, thank you very much! :zap: You were added to the list! :nut_and_bolt:

[2022-09-22 11:17] felipevillaarenas opened #889 "Add VICReg Model"
## 🚀 Feature

Pytorch lightning implementation of the **VICReg model** following the style of other SSL models already available in PL Bolts.

### Motivation

[VICReg](https://arxiv.org/pdf/2105.04906.pdf)  is a **SOTA** model that is frequently used in Self Supervised Learning benchmarks but is not available in PL Bolts.

This method avoids the collapse problem with two regularizations terms appl

[2022-09-28 08:36] otaj commented on #889
Hi @felipevillaarenas, thank you for your suggestion! Currently, we're not accepting new features as we're going through a major revision (see #839). However, we'd be happy to accept it once the revision is done. In the meantime, you can contribute through revising the current code! :rocket: :zap:

[2022-09-29 22:32] Atharva-Phatak commented on #819
@otaj If this is still open, I would like to help you develop bolts.

[2022-09-29 22:45] Atharva-Phatak commented on #839
Hi @otaj
I would like to work on
[code]

Now, these do seem a lot, but I have implemented SWAV from scratch, and I am pretty comfortable with it.
Also, I would like to know what you expect out of this PR.
Do you want a complete rewrite of SWAV or more tests (this can be pretty hard to do).
Please let me know so we can start accordingly.

[2022-09-30 10:12] otaj commented on #819
Hi @Atharva-Phatak, absolutely! Thank you very much for your interest! Could you ping me on community Slack and I will add you to our channel? Thank you!

[2022-09-30 10:18] otaj commented on #839
Hi, @Atharva-Phatak, thank you! :zap: I honestly have no idea in which state SWAW is. General guidelines are outlined in the first post of this issue - take a look at the code and figure out whether everything is working properly with the latest versions of other packages (no warnings), whether we don't duplicate code across the Bolts codebase/popular packages and test it as much as possible.

If

[2022-09-30 14:45] Atharva-Phatak commented on #839
@otaj add me to this as well as this requires serious changes as this is a the base tuner for SSL models which I can customize for any dataset.

```pl_bolts.models.self_supervised.ssl_finetuner.SSLFineTuner```

[2022-10-02 07:06] sakethbachu opened #893 "Typo in SSL documentation (Line: 327)"
The pre-trained weights for a cifar-10 SimCLR model seem wrong on line: 327 of docs. The weights say that they are imagnet pretrained but are provided under cifar-10.

[2022-10-03 01:25] matsumotosan commented on #839
Hi @otaj, do you mind adding me to the following:
- `pl_bolts.transforms.dataset_normalizations.*`
- `pl_bolts.models.self_supervised.cpc.*`

[2022-10-03 14:35] otaj commented on #839
@Atharva-Phatak, @matsumotosan, thank you! You were added to the list! :zap: :nut_and_bolt:

[2022-10-04 10:18] felipevillaarenas commented on #889
Hi @otaj, thanks for your reply.

[2022-10-06 14:01] Atharva-Phatak commented on #839
@senarvi Yes believe that the code is same but if I am going to refactor both I will need some time. @otaj I understand that you have given us a deadline of two weeks would it be okay if took some more time ?

[2022-10-06 14:40] senarvi commented on #839
@Atharva-Phatak let me know if I can help you. Or if you prefer, I can work on MoCo.

[2022-10-11 10:52] otaj commented on #839
Hi, @senarvi, @Atharva-Phatak! I'm sorry for not being too responsive. Taking longer than two weeks is absolutely fine. I honestly don't have a strong preference regarding if you should review SSL module and MoCo together or separately, it seems you are capable of taking that decision into your hands :zap:

[2022-10-11 13:09] matsumotosan opened #904 "Central location for transforms"
Data transform classes for various models are included in their own folders in `pl_bolts/models`. It may be better to have them in `pl_bolts/transforms` instead.

Issue discussed with @otaj

[2022-10-18 09:02] senarvi opened #906 "Imagenet download instructions are outdated"
It would be great to have better instructions on how to download the Imagenet dataset, or at least how to check that you have the correct data package. The [instructions](https://github.com/Lightning-AI/lightning-bolts/blob/master/pl_bolts/datamodules/imagenet_datamodule.py#L133) point to a broken link. The [Imagenet download page](https://www.image-net.org/download.php) instructs to use Kaggle to

[2022-10-26 02:53] Atharva-Phatak commented on #839
@otaj I want to take these up
[code]

[2022-10-28 08:57] akihironitta opened #922 "GPU CI is currently unavailable"
## 🐛 Bug
Since switching to our cluster in https://github.com/Lightning-AI/lightning-bolts/pull/913, we started to see the following errors stochastically:

[code]

### To Reproduce
- https://dev.azure.com/Lightning-AI/lightning%20Bolts/_build/results?buildId=110442&view=logs&j=cb44143e-1b72-550b-97cf-26ffc4f8d032
[code]
- https://dev.azure.com/Lightning-AI/lightning%20Bolts/_build/results?buildId

[2022-10-28 09:02] Borda commented on #922
Is this affecting all CI or this is random/depending on the particular agent?

[2022-10-28 09:07] akihironitta commented on #922
All I saw was within bolts, but from what i can see from the error, it should affect CI across all projects using this pool.

[2022-10-28 09:12] Borda commented on #922
It could be a problem of just one agent or agents on one machine...
I think someone did some updates, @justusschock?

[2022-10-28 09:17] akihironitta commented on #922
@Borda I don't think @justusschock did something here. (because as far as I know, we don't plan to touch the CI servers until we first attach lambda-server1 to nas)

[2022-10-28 13:37] #922 closed

[2022-10-31 18:56] senarvi commented on #904
I was going to suggest the same thing. Also, at least SimCLR and MoCo can use the same transforms. Maybe we want to provide some transforms that can be used to replicate the paper results on some dataset, but do we want to provide a separate set of transforms for every model and every dataset?

[2022-10-31 20:20] senarvi commented on #839
I opened a [pull request for MoCo](https://github.com/Lightning-AI/lightning-bolts/pull/928) and opened some discussion there. Or what's the best place to discuss the details?

[2022-10-31 20:28] Atharva-Phatak opened #929 "Restructure SSL methods in Bolts"
## 🚀 Feature

'
Bolts has implementations of SSL method where there is implementation of custom model and eachone has its own lightning module.

Here's what I and @senarvi have in mind for restructuring SSL methods in bolts
* Single place for SSL projection heads (SSL models are usually same with a difference in projection heads)
* Single place for SSL losses
* Single place for transforms as well.

[2022-10-31 20:29] Atharva-Phatak commented on #839
Hi senarvi, since we are focusing on SSL methods mostly I created an issue #929  which highlights things that we need to refactor and we can continue the discussion from there onwards. I have also added few comments to your PR regarding the same.

[2022-11-01 07:07] senarvi commented on #929
By "General PL module for training any custom SSL model" do you need a command line application?

[2022-11-01 08:56] senarvi commented on #929
Currently the SSL models take the name of the backbone, such as "resnet18", in the constructor. I would suggest that they also accept any network (`nn.Module`) that will be used directly as the encoder, like in my [pull request](https://github.com/groke-technologies/pytorch-lightning-bolts/blob/moco-revision/pl_bolts/models/self_supervised/moco/moco_module.py#L144).

In order to use the learned en

[2022-11-01 12:18] Atharva-Phatak commented on #929
Hi @senarvi I will quickly create a dirty example and let you know. Give me some time, I have few nice ideas :). Lightning cli runs may fail because there was an issue with jsonparse :)

[2022-11-01 19:02] matsumotosan commented on #929
Just a note on the SSL transforms. I've been working on moving all of the transforms to `pl_bolts/transforms/self_supervised` #904

[2022-11-01 19:26] matsumotosan commented on #904
In general, I think the existing transforms are based on what the original papers specified (for whatever datasets they used). If a model by default uses transforms from another (i.e. BYOL using SimCLR transforms), I think we can just import SimCLRTransforms for BYOL instead of creating a copy and calling it BYOLTransforms. I think creating transforms for every model for every dataset might be too

[2022-11-02 13:43] otaj commented on #904
Hi, @matsumotosan, that would be great, thank you for kicking it off!

[2022-11-02 22:06] davidgilbertson opened #934 "AttributeError: `BinaryMNISTDataModule` object has no attribute `train_transforms`"
## 🐛 Bug

### To Reproduce
Trying to run the code from the docs here: https://lightning-bolts.readthedocs.io/en/stable/datamodules/vision.html#binarymnist

Steps to reproduce the behavior: Run the code from that page:
[code]

### Expected behavior
It shouldn't error :)

### Environment
pytorch-lightning: 1.7.7
lightning-bolts: 0.5.0

### Additional context
Adding this makes it work:
[code]

This c

[2022-11-03 05:19] lijm1358 commented on #839
Hi, I'd like to work on `pl_bolts.datamodules.cityscapes_datamodule.CityscapesDataModule`!

[2022-11-03 14:12] Atharva-Phatak commented on #839
@lijm1358 Assigned :). Thanks :)

[2022-11-03 18:18] MaximilienLC opened #937 "Installation conflict between LB 0.6 & PL 1.8"
## 🐛 Bug

The conflict is caused by:
    pytorch-lightning 1.8.0 depends on lightning-utilities==0.3.*
    lightning-lite 1.8.0 depends on lightning-utilities==0.3.*
    lightning-bolts 0.6.0 depends on lightning-utilities<0.5.0 and >0.4.0

[2022-11-03 22:26] #937 closed

[2022-11-04 10:27] otaj commented on #934
Hi, @davidgilbertson. This is happening because `pytorch-lightning>=1.7.0` removed these methods and `lightning-bolts==0.5.0` was released quite some time ago.

If you update to `lightning-bolts==0.6.0`, this should be fixed. We made sure we're being a bit more compatible with current version.

OTOH, beware please, that if you use 0.6.0, you will get quite a bit of warnings originating from our pa

[2022-11-04 10:27] #934 closed

[2022-11-08 11:46] otaj opened #940 "Remove me from this repository"
Hi, @Borda, as requested, remove me from code-owners and governance in this repository. Thanks

[2022-11-08 13:39] dannyfriar opened #941 "Conflicting dependency with latest lightning version"
## 🐛 Bug

When `pip` installing the latest lightning (1.8.0) and bolts (0.6.0):

[code]

[2022-11-08 13:50] Borda commented on #941
Shall be now resolved on `master` with #938

[2022-11-08 13:50] #941 closed

[2022-11-08 14:05] matsumotosan commented on #904
All self-supervised transforms have been moved #905

[2022-11-09 17:54] NeoKish commented on #906
Please do checkout this link
https://image-net.org/challenges/LSVRC/2012/2012-downloads.php#Images

[2022-11-10 07:58] senarvi commented on #906
@NeoKish it looks like that link might be the best way to go. The link in the source code led me to download it using Kaggle, and then I found a script that puts the files in correct places, and the development kit I found from another repository, I don't remember where. Then I created `meta.bin` using the code in the data module and copied it to both `train` and `val` directories. So now I have a

[2022-11-10 16:04] NeoKish commented on #906
@senarvi Yeah as per the link I shared, you probably need to login to get the dataset

[2022-11-12 12:07] rusmux opened #945 "How to suppress UnderReviewWarning?"
## ❓ Questions and Help

### Before asking:

1. search the issues.
1. search the docs.

#### What is your question?

Every time pl_bolts is imported, UnderReviewWarning is displayed. When using multiple workers for data loaders, many copies of this warning appear. And it also pollutes the CLI documentation (see below). Is there a way to suppress them?

#### Code

#### What have you tried?

I have

[2022-11-12 15:42] #810 closed

[2022-11-12 15:44] #852 closed

[2022-11-12 15:44] #830 closed

[2022-11-12 15:45] #849 closed

[2022-11-12 15:46] #850 closed

[2022-11-13 15:02] rusmux commented on #945
Already discussed here: https://github.com/Lightning-AI/lightning-bolts/issues/563

[2022-11-13 15:02] #945 closed

[2022-11-15 09:36] aqibsaeed opened #947 "SSLOnlineEvaluator Callback with Custom Data (i.e., different than pre-training data)"
Hi,

Is it possible to to use SSLOnlineEvaluator to run on different data than the one being used for pre-training?

https://github.com/Lightning-AI/lightning-bolts/blob/master/pl_bolts/models/self_supervised/simclr/simclr_module.py
https://github.com/Lightning-AI/lightning-bolts/blob/master/pl_bolts/callbacks/ssl_online.py

[2022-11-19 20:39] Atharva-Phatak commented on #929
@senarvi Here is a simple idea

[code]
Essentially here 3 things are happening
* We have implemented custom heads in lightning bolts
* We have implemented custom SSL losses in lightning bolts
* User is using a pre-trained backbone from timm or somewhere else.
* All we need to implement is heads and other tools required by SSL methods.

cc @Borda
Let me know what you think ?

[2022-11-23 07:40] cdeepali opened #948 "no module named pytorch_lightning while using lightning v1.8.2"
## 🐛 Bug

I am seeing the following error while using locally built lightning v1.8.2 package:

[code]

[2022-11-24 14:16] senarvi commented on #929
@Atharva-Phatak I have some questions.

1) Is the ``CustomLightningModule`` class something that the user would write, and Bolts would offer only the heads and criterions? Or do you suggest that Bolts would offer such modules?

2) I'm trying to keep the terminology consistent in MoCo. Do you think ``backbone`` is a better name for the encoder? At least the SimCLR and MoCo papers seem to talk about